# Clase 10: Multi-√çndices, Pivoteo, Melt, Concatenaci√≥n y Combinaci√≥n de M√∫ltiples Fuentes de Datos


## Objetivos de la Clase

- Comprender como fusionar distintas fuentes de datos a partir de `concatenaciones` y `merge`.
- Profundizar el uso de los multi-√≠ndices de pandas.
- Reorganizar los datos usando `melt` y `pivot`

## Datasets de Hoy

### √çndices para una Vida Mejor

Nuevamente, seguiremos usando los datos de √≠ndices para una Vida Mejor de la OECD:


<img src="https://raw.githubusercontent.com/MDS7202/MDS7202/main/recursos/2023-01/10-Pandas3/oecd.png" alt="OECD Better life index"/>


http://www.oecdbetterlifeindex.org/

https://stats.oecd.org/index.aspx?DataSetCode=BLI

Son 11 temas considerados como esenciales para el bienestar de la poblaci√≥n. Cada crierio contiene uno o mas indicadores

| Tema | Indicador (Ingl√©s) | Indicador (Espa√±ol) | Unidad | Descripci√≥n |
|---|---|---|---|---|
| Vivienda üè† | Dwellings without basic facilities | Vivienda con Instalaciones B√°sicas | Porcentaje | Porcentaje de personas con inodoros de agua corriente dentro del hogar, a√±o disponible m√°s reciente |
|  | Housing expenditure | Gastos en Vivienda | Porcentaje | Proporci√≥n de costos de vivienda en el ingreso neto ajustado de las familias, a√±o disponible m√°s reciente |
|  | Rooms per person | Habitaciones por Persona | Ratio | N√∫mero promedio de habitaciones compartidas por persona en una vivienda, a√±o disponible m√°s reciente |
| Ingresos üí∞ | Household net adjusted disposable income | Ingreso Familiar Disponible | US Dollar | Cantidad promedio de dinero que una familia gana al a√±o, despu√©s de impuestos, a√±o disponible m√°s reciente |
|  | Household net wealth | Patrimonio Neto Familiar | US Dollar | Valor total promedio de los activos financieros de una familia (ahorros, acciones) menos sus pasivos (cr√©ditos), a√±o disponible m√°s reciente |
| Empleo ‚öôÔ∏è | Labour market insecurity | Seguridad en el Empleo | Porcentaje | P√©rdida esperada de ingresos cuando alguien queda desempleado, a√±o disponible m√°s reciente |
|  | Employment rate | Tasa de Empleo | Porcentaje | Porcentaje de personas, de 15 a 64 a√±os de edad, actualmente con empleo remunerado, a√±o disponible m√°s reciente |
|  | Long-term unemployment rate | Tasa de Empleo a Largo Plazo | Porcentaje | Porcentaje de personas, de 15 a 64 a√±os de edad, que no trabajan pero que han buscado empleo activamente durante m√°s de un a√±o, a√±o disponible m√°s reciente |
|  | Personal earnings | Ingresos Personales | US Dollar | Ingresos anuales promedio por empleado de tiempo completo, a√±o disponible m√°s reciente |
| Comunidad üßë‚Äçü§ù‚Äçüßë   | Quality of support network  | Calidad del Apoyo Social | Porcentaje | Porcentaje de personas con amigos o parientes en quienes confiar en caso de necesidad |
| Educaci√≥n üìö | Educational attainment | Nivel de Educaci√≥n | Porcentaje | Porcentaje de personas, de 25 a 64 a√±os de edad, graduadas por lo menos de educaci√≥n media superior, a√±o disponible m√°s reciente |
|  | Student skills | Competencias de estudiantes en matem√°ticas, lectura y ciencias | Puntaje promedio | Desempe√±o promedio de estudiantes de 15 a√±os de edad, seg√∫n PISA (Programa para la Evaluaci√≥n Internacional de Estudiantes) |
|  | Years in education  | Nivel de educaci√≥n | A√±os | Duraci√≥n promedio de la educaci√≥n formal en la que un ni√±o de cinco a√±os de edad puede esperar matricularse durante su vida |
| Medio Ambiente üå≥ | Air pollution | Contaminaci√≥n del Aire | Microgramos por metro c√∫bico | Concentraci√≥n promedio de part√≠culas (PM2.5) en ciudades con poblaciones mayores de 100,000 personas, medida en microgramos por metro c√∫bico, a√±o disponible m√°s reciente |
|  | Water quality | Calidad del Agua | Porcentaje | Porcentaje de personas que informan estar satisfechas con la calidad del agua local |
| Compromiso C√≠vico üó≥Ô∏è  | Stakeholder engagement for developing regulations | Participaci√≥n de los interesados en la elaboraci√≥n de regulaciones | Puntaje promedio | Nivel de transparencia gubernamental al preparar las regulaciones, a√±o disponible m√°s reciente |
|  | Voter turnout | Participaci√≥n electoral | Porcentaje | Porcentaje de votantes registrados que votaron durante las elecciones recientes, a√±o disponible m√°s reciente |
| Salud ‚öïÔ∏è | Life expectancy | Esperanza de vida | A√±os | N√∫mero promedio de a√±os que una persona puede esperar vivir, a√±o disponible m√°s reciente |
|  | Self-reported health | Salud seg√∫n informan las personas | Porcentaje | Porcentaje de personas que informan que su salud es ¬´buena o muy buena¬ª, a√±o disponible m√°s reciente |
| Satisfacci√≥n ‚ú® | Life satisfaction | Satisfacci√≥n ante la vida | Puntaje promedio | Autoevaluaci√≥n promedio de satisfacci√≥n ante la vida, en una escala de 0 a 10 |
| Seguridad üåÉ | Feeling safe walking alone at night | Sentimiento de seguridad al caminar solos por la noche | Porcentaje | Porcentaje de personas que reportan sentirse seguras al caminar solas por la noche  |
|  | Homicide rate | Tasa de homicidios | Ratio | N√∫mero promedio de homicidios reportados por 100,000 personas, a√±o disponible m√°s reciente |
| Balance Vida Trabajo üßò | Employees working very long hours | Empleados que trabajan muchas horas | Porcentaje | Porcentaje de empleados que trabajan m√°s de cincuenta horas a la semana en promedio, a√±o disponible m√°s reciente |
|  | Time devoted to leisure and personal care | Tiempo destinado al ocio y el cuidado personal | Horas | N√∫mero promedio de minutos al d√≠a dedicados al ocio y el cuidado personal, incluidos el sue√±o y la alimentaci√≥n |

In [14]:
import pandas as pd

bli_df = pd.read_excel("dataset.xlsx", header=1, index_col=0)
bli_df.head()

,Dwellings without basic facilities,Housing expenditure,Rooms per person,Household net adjusted disposable income,Household net wealth,Labour market insecurity,Employment rate,Long-term unemployment rate,Personal earnings,Quality of support network,...,Water quality,Stakeholder engagement for developing regulations,Voter turnout,Life expectancy,Self-reported health,Life satisfaction,Feeling safe walking alone at night,Homicide rate,Employees working very long hours,Time devoted to leisure and personal care
Country,,,,,,,,,,,,,,,,,,,,,
Australia,NaN,20.0,NaN,32759.0,427064.0,5.4,73,1.31,49126.0,95,...,93,2.7,91,82.5,85.0,7.3,63.5,1.1,13.04,14.35
Austria,0.9,21.0,1.6,33541.0,308325.0,3.5,72,1.84,50349.0,92,...,92,1.3,80,81.7,70.0,7.1,80.6,0.5,6.66,14.55
Belgium,1.9,21.0,2.2,30364.0,386006.0,3.7,63,3.54,49675.0,91,...,84,2.0,89,81.5,74.0,6.9,70.1,1.0,4.75,15.70
Canada,0.2,22.0,2.6,30854.0,423849.0,6.0,73,0.77,47622.0,93,...,91,2.9,68,81.9,88.0,7.4,82.2,1.3,3.69,14.56
Chile,9.4,18.0,1.2,NaN,100967.0,8.7,63,NaN,25879.0,85,...,71,1.3,47,79.9,57.0,6.5,47.9,4.2,9.72,NaN

### Dataset de Temperaturas Globales

![wbg_climate](https://raw.githubusercontent.com/MDS7202/MDS7202/main/recursos/2023-01/10-Pandas3/wbg_climate.png)


https://climateknowledgeportal.worldbank.org/download-data

In [2]:
temp_df = pd.read_csv("./resources/temperature.csv")
temp_df

       Temperature  Year Month      Country ISO3
0         -0.03110  1991   Jan  Afghanistan  AFG
1          1.43654  1991   Feb  Afghanistan  AFG
2          6.88685  1991   Mar  Afghanistan  AFG
3         12.93970  1991   Apr  Afghanistan  AFG
4         17.07550  1991   May  Afghanistan  AFG
...            ...   ...   ...          ...  ...
59899     26.09480  2016   Aug    Venezuela  VEN
59900     26.22090  2016   Sep    Venezuela  VEN
59901     26.62850  2016   Oct    Venezuela  VEN
59902     26.27680  2016   Nov    Venezuela  VEN
59903     26.12860  2016   Dec    Venezuela  VEN

[59904 rows x 5 columns]

In [3]:
temp_df.shape

(59904, 5)

----

## 1.- Concatenaci√≥n


> Seg√∫n Wikipedia: *Es la operaci√≥n por la cual dos caracteres se unen para formar una cadena de caracteres (o string). Tambi√©n se pueden concatenar dos cadenas de caracteres o un car√°cter con una cadena para formar una cadena de mayor tama√±o*. Ejemplo:

In [4]:
a = "Hola "

b = "a todos ü§ó"


a + b

'Hola a todos ü§ó'

La idea general de concatenar es unir 2 o m√°s `Dataframes` por filas o columnas.

<div align='center'>
    <img src='https://raw.githubusercontent.com/MDS7202/MDS7202/main/recursos/2023-01/10-Pandas3/concat.png' width=900/>
</div>


Todas las operaciones se hacen a trav√©s de la operaci√≥n sobre los √≠ndices de los `DataFrames`.

### 1.1 Caso 1: Concatenar Filas

En el caso de contactenar por filas `(axis=0)`, los `DataFrames` se unen al final a trav√©s de los √≠ndices.

<div align='center'>
    <img src='https://raw.githubusercontent.com/MDS7202/MDS7202/main/recursos/2023-01/10-Pandas3/merging_concat_basic.png' width=500/>
</div>

In [5]:
bli_df.head(5)

,Country,Air pollution,Dwellings without basic facilities,Educational attainment,Employees working very long hours,Employment rate,Feeling safe walking alone at night,Homicide rate,Household net adjusted disposable income,Household net wealth,...,Quality of support network,Rooms per person,Self-reported health,Stakeholder engagement for developing regulations,Student skills,Time devoted to leisure and personal care,Voter turnout,Water quality,Years in education,GPD per capita (2018)
0,Australia,5.0,NaN,81.000000,12.840000,73.000000,64.133333,1.100000,32759.0,427064.0,...,95.25,NaN,87.25,2.7,411.2,14.350000,91.0,92.666667,20.966667,57395.919470
1,Austria,16.0,0.9,85.000000,6.590000,72.000000,80.700000,0.466667,33541.0,308325.0,...,92.00,1.6,70.60,1.3,492.8,14.530000,80.0,92.000000,17.000000,51525.046430
2,Belgium,15.0,1.9,77.000000,4.703333,63.333333,70.266667,1.033333,30364.0,386006.0,...,92.00,2.2,73.60,2.0,503.8,15.663333,89.0,83.666667,19.300000,47491.323260
3,Brazil,10.0,6.7,49.000000,7.006667,61.000000,35.866667,27.000000,NaN,NaN,...,89.25,NaN,NaN,2.2,398.2,NaN,79.0,73.000000,16.166667,9001.234249
4,Canada,7.0,0.2,91.333333,3.673333,73.333333,82.500000,1.266667,30854.0,423849.0,...,93.25,2.6,87.80,2.9,523.2,14.553333,68.0,91.000000,17.333333,46313.171370

In [8]:
sudamerica_df = bli_df.loc[
    bli_df["Country"].isin(
        [
            "Chile",
            "Brazil",
            "Colombia",
        ]
    ),
    :,
]

sudamerica_df

,Country,Air pollution,Dwellings without basic facilities,Educational attainment,Employees working very long hours,Employment rate,Feeling safe walking alone at night,Homicide rate,Household net adjusted disposable income,Household net wealth,...,Quality of support network,Rooms per person,Self-reported health,Stakeholder engagement for developing regulations,Student skills,Time devoted to leisure and personal care,Voter turnout,Water quality,Years in education,GPD per capita (2018)
3,Brazil,10.0,6.7,49.0,7.006667,61.000000,35.866667,27.0,NaN,NaN,...,89.25,NaN,NaN,2.2,398.2,NaN,79.0,73.000000,16.166667,9001.234249
5,Chile,16.0,9.4,65.0,9.316667,62.666667,48.000000,4.2,NaN,100967.0,...,84.60,1.2,57.0,1.3,443.8,NaN,47.0,71.000000,17.500000,15924.794240
6,Colombia,10.0,23.9,54.0,26.006667,67.000000,44.566667,25.0,NaN,NaN,...,89.00,1.2,NaN,1.4,412.8,NaN,53.0,74.666667,14.100000,6718.585324

In [9]:
norteamerica_df = bli_df[
    bli_df["Country"].isin(
        [
            "Canada",
            "United States",
            "Mexico",
        ]
    )
]

norteamerica_df

,Country,Air pollution,Dwellings without basic facilities,Educational attainment,Employees working very long hours,Employment rate,Feeling safe walking alone at night,Homicide rate,Household net adjusted disposable income,Household net wealth,...,Quality of support network,Rooms per person,Self-reported health,Stakeholder engagement for developing regulations,Student skills,Time devoted to leisure and personal care,Voter turnout,Water quality,Years in education,GPD per capita (2018)
4,Canada,7.0,0.2,91.333333,3.673333,73.333333,82.500000,1.266667,30854.0,423849.0,...,93.25,2.6,87.800000,2.9,523.2,14.553333,68.0,91.000000,17.333333,46313.171370
24,Mexico,16.0,25.5,37.666667,27.280000,61.666667,41.966667,18.633333,NaN,NaN,...,81.60,1.0,65.666667,3.2,416.0,NaN,63.0,67.666667,15.166667,9673.443674
40,United States,10.0,0.1,90.666667,10.990000,70.000000,73.900000,5.500000,45284.0,632100.0,...,91.75,2.4,86.800000,3.1,489.4,14.440000,65.0,82.666667,17.200000,62996.664820

In [10]:
oceania_df = bli_df.loc[bli_df["Country"].isin(["New Zealand", "Australia"]), :]
oceania_df

,Country,Air pollution,Dwellings without basic facilities,Educational attainment,Employees working very long hours,Employment rate,Feeling safe walking alone at night,Homicide rate,Household net adjusted disposable income,Household net wealth,...,Quality of support network,Rooms per person,Self-reported health,Stakeholder engagement for developing regulations,Student skills,Time devoted to leisure and personal care,Voter turnout,Water quality,Years in education,GPD per capita (2018)
0,Australia,5.0,NaN,81.000000,12.840000,73.0,64.133333,1.1,32759.0,427064.0,...,95.25,NaN,87.25,2.7,411.2,14.350000,91.0,92.666667,20.966667,57395.91947
26,New Zealand,5.0,NaN,78.666667,15.036667,77.0,66.266667,1.3,NaN,388514.0,...,96.25,2.4,89.25,2.5,506.2,14.883333,80.0,89.000000,17.700000,42949.93058

Para ejecutar la concatenaci√≥n, usamos el m√©todo `pd.concat` sobre un arreglo con los `DataFrames` por concatenar.

In [19]:
df_concatenado_filas = pd.concat(
    [sudamerica_df, norteamerica_df, oceania_df]
    , axis=0)
df_concatenado_filas

,Country,Air pollution,Dwellings without basic facilities,Educational attainment,Employees working very long hours,Employment rate,Feeling safe walking alone at night,Homicide rate,Household net adjusted disposable income,Household net wealth,...,Quality of support network,Rooms per person,Self-reported health,Stakeholder engagement for developing regulations,Student skills,Time devoted to leisure and personal care,Voter turnout,Water quality,Years in education,GPD per capita (2018)
3,Brazil,10.0,6.7,49.000000,7.006667,61.000000,35.866667,27.000000,NaN,NaN,...,89.25,NaN,NaN,2.2,398.2,NaN,79.0,73.000000,16.166667,9001.234249
5,Chile,16.0,9.4,65.000000,9.316667,62.666667,48.000000,4.200000,NaN,100967.0,...,84.60,1.2,57.000000,1.3,443.8,NaN,47.0,71.000000,17.500000,15924.794240
6,Colombia,10.0,23.9,54.000000,26.006667,67.000000,44.566667,25.000000,NaN,NaN,...,89.00,1.2,NaN,1.4,412.8,NaN,53.0,74.666667,14.100000,6718.585324
4,Canada,7.0,0.2,91.333333,3.673333,73.333333,82.500000,1.266667,30854.0,423849.0,...,93.25,2.6,87.800000,2.9,523.2,14.553333,68.0,91.000000,17.333333,46313.171370
24,Mexico,16.0,25.5,37.666667,27.280000,61.666667,41.966667,18.633333,NaN,NaN,...,81.60,1.0,65.666667,3.2,416.0,NaN,63.0,67.666667,15.166667,9673.443674
40,United States,10.0,0.1,90.666667,10.990000,70.000000,73.900000,5.500000,45284.0,632100.0,...,91.75,2.4,86.800000,3.1,489.4,14.440000,65.0,82.666667,17.200000,62996.664820
0,Australia,5.0,NaN,81.000000,12.840000,73.000000,64.133333,1.100000,32759.0,427064.0,...,95.25,NaN,87.250000,2.7,411.2,14.350000,91.0,92.666667,20.966667,57395.919470
26,New Zealand,5.0,NaN,78.666667,15.036667,77.000000,66.266667,1.300000,NaN,388514.0,...,96.25,2.4,89.250000,2.5,506.2,14.883333,80.0,89.000000,17.700000,42949.930580

### 1.2 Caso 2: Concatenar Columnas

En este caso, los `DataFrames` se unen por los √≠ndices y las columnas.


<div align='center'>
    <img src='https://raw.githubusercontent.com/MDS7202/MDS7202/main/recursos/2023-01/10-Pandas3/merging_concat_mixed_ndim.png' width=700/>
</div>

In [20]:
env_df = bli_df.loc[:, ["Country", "Air pollution", "Water quality"]]
env_df.head()

     Country  Air pollution  Water quality
0  Australia            5.0      92.666667
1    Austria           16.0      92.000000
2    Belgium           15.0      83.666667
3     Brazil           10.0      73.000000
4     Canada            7.0      91.000000

In [21]:
health_df = bli_df.loc[
    :, ["Country", "Self-reported health", "Life expectancy", "Life satisfaction"]
]

health_df.head()

     Country  Self-reported health  Life expectancy  Life satisfaction
0  Australia                 87.25        82.500000              7.350
1    Austria                 70.60        81.700000              7.225
2    Belgium                 73.60        81.500000              7.000
3     Brazil                   NaN        74.766667              6.400
4     Canada                 87.80        81.866667              7.425

In [22]:
env_heatlh_df = pd.concat([env_df, health_df], axis=1)
env_heatlh_df.head()

,Country,Air pollution,Water quality,Country,Self-reported health,Life expectancy,Life satisfaction
0,Australia,5.0,92.666667,Australia,87.25,82.500000,7.350
1,Austria,16.0,92.000000,Austria,70.60,81.700000,7.225
2,Belgium,15.0,83.666667,Belgium,73.60,81.500000,7.000
3,Brazil,10.0,73.000000,Brazil,NaN,74.766667,6.400
4,Canada,7.0,91.000000,Canada,87.80,81.866667,7.425

Nota: La uni√≥n sigue siendo por filas. Por ende, una columna repetida aparecer√° dos veces en el `DataFrame` resultante, como en el caso anterior con `Country`

> **Nota**: Para facilitar la pr√°ctica, solo dejaremos una columna `Country`

In [23]:
env_heatlh_df.columns

Index(['Country', 'Air pollution', 'Water quality', 'Country',
       'Self-reported health', 'Life expectancy', 'Life satisfaction'],
      dtype='object')

In [25]:
~env_heatlh_df.columns.duplicated()

array([ True,  True,  True, False,  True,  True,  True])

In [26]:
env_heatlh_df = env_heatlh_df.loc[:, ~env_heatlh_df.columns.duplicated()]
env_heatlh_df.head()

,Country,Air pollution,Water quality,Self-reported health,Life expectancy,Life satisfaction
0,Australia,5.0,92.666667,87.25,82.500000,7.350
1,Austria,16.0,92.000000,70.60,81.700000,7.225
2,Belgium,15.0,83.666667,73.60,81.500000,7.000
3,Brazil,10.0,73.000000,NaN,74.766667,6.400
4,Canada,7.0,91.000000,87.80,81.866667,7.425

### 1.3 Un `DataFrame` tiene menos datos que el otro

En este caso, rellena los valores de las filas sin valor con `np.nan`.

<div align='center'>
    <img src='https://raw.githubusercontent.com/MDS7202/MDS7202/main/recursos/2023-01/10-Pandas3/merging_concat_axis1.png' width=800/>
</div>

In [27]:
env_df_reducido = env_df[0:7]
env_df_reducido

     Country  Air pollution  Water quality
0  Australia            5.0      92.666667
1    Austria           16.0      92.000000
2    Belgium           15.0      83.666667
3     Brazil           10.0      73.000000
4     Canada            7.0      91.000000
5      Chile           16.0      71.000000
6   Colombia           10.0      74.666667

In [28]:
health_df

            Country  Self-reported health  Life expectancy  Life satisfaction
0         Australia             87.250000        82.500000           7.350000
1           Austria             70.600000        81.700000           7.225000
2           Belgium             73.600000        81.500000           7.000000
3            Brazil                   NaN        74.766667           6.400000
4            Canada             87.800000        81.866667           7.425000
5             Chile             57.000000        79.900000           6.480000
6          Colombia                   NaN        76.233333           6.266667
7    Czech Republic             60.800000        79.100000           6.700000
8           Denmark             72.600000        80.900000           7.650000
9           Estonia             54.400000        77.766667           5.780000
10          Finland             70.200000        81.500000           7.660000
11           France             66.400000        82.366667           6.540000
12          Germany             65.400000        81.066667           7.100000
13           Greece             76.000000        81.466667           5.340000
14          Hungary             61.000000        76.166667           5.680000
15          Iceland             76.000000        82.266667           7.580000
16          Ireland             82.800000        81.766667           7.050000
17           Israel             86.750000        82.466667           7.225000
18            Italy             71.800000        83.300000           6.140000
19            Japan             34.800000        84.066667           5.900000
20            Korea             33.000000        82.366667           5.866667
21           Latvia             48.000000        74.700000           5.940000
22        Lithuania             45.600000        74.800000           5.980000
23       Luxembourg             69.400000        82.766667           6.900000
24           Mexico             65.666667        75.400000           6.466667
25      Netherlands             75.800000        81.600000           7.500000
26      New Zealand             89.250000        81.700000           7.300000
27           Norway             77.200000        82.466667           7.620000
28     OECD - Total             69.200000        80.200000           6.480000
29           Poland             60.000000        77.966667           6.100000
30         Portugal             48.200000        81.200000           5.480000
31           Russia             43.333333        71.800000           5.880000
32  Slovak Republic             68.600000        77.266667           6.425000
33         Slovenia             64.400000        81.266667           5.933333
34     South Africa                   NaN        57.500000           4.700000
35            Spain             74.000000        83.400000           6.225000
36           Sweden             75.000000        82.366667           7.400000
37      Switzerland             77.400000        83.666667           7.500000
38           Turkey             70.400000        78.000000           5.520000
39   United Kingdom             70.000000        81.200000           6.860000
40    United States             86.800000        78.600000           7.000000

In [41]:
pd.concat([env_df_reducido, health_df], axis=1).head(15)

,Country,Air pollution,Water quality,Country,Self-reported health,Life expectancy,Life satisfaction
0,Australia,5.0,92.666667,Australia,87.25,82.500000,7.350000
1,Austria,16.0,92.000000,Austria,70.60,81.700000,7.225000
2,Belgium,15.0,83.666667,Belgium,73.60,81.500000,7.000000
3,Brazil,10.0,73.000000,Brazil,NaN,74.766667,6.400000
4,Canada,7.0,91.000000,Canada,87.80,81.866667,7.425000
5,Chile,16.0,71.000000,Chile,57.00,79.900000,6.480000
6,Colombia,10.0,74.666667,Colombia,NaN,76.233333,6.266667
7,NaN,NaN,NaN,Czech Republic,60.80,79.100000,6.700000
8,NaN,NaN,NaN,Denmark,72.60,80.900000,7.650000
9,NaN,NaN,NaN,Estonia,54.40,77.766667,5.780000
10,NaN,NaN,NaN,Finland,70.20,81.500000,7.660000
11,NaN,NaN,NaN,France,66.40,82.366667,6.540000
12,NaN,NaN,NaN,Germany,65.40,81.066667,7.100000
13,NaN,NaN,NaN,Greece,76.00,81.466667,5.340000
14,NaN,NaN,NaN,Hungary,61.00,76.166667,5.680000

### 1.4 Error en par√°metro `axis`

In [30]:
# concatenamos correctamente al igual que el ejemplo anterior
pd.concat([env_df.head(), health_df.head()], axis=1)

,Country,Air pollution,Water quality,Country,Self-reported health,Life expectancy,Life satisfaction
0,Australia,5.0,92.666667,Australia,87.25,82.500000,7.350
1,Austria,16.0,92.000000,Austria,70.60,81.700000,7.225
2,Belgium,15.0,83.666667,Belgium,73.60,81.500000,7.000
3,Brazil,10.0,73.000000,Brazil,NaN,74.766667,6.400
4,Canada,7.0,91.000000,Canada,87.80,81.866667,7.425

> **Pregunta ‚ùì**: ¬øQu√© sucede si nos equivocamos con el par√°metro `axis`?

In [32]:
env_df.head()

     Country  Air pollution  Water quality
0  Australia            5.0      92.666667
1    Austria           16.0      92.000000
2    Belgium           15.0      83.666667
3     Brazil           10.0      73.000000
4     Canada            7.0      91.000000

In [33]:
health_df.head()

     Country  Self-reported health  Life expectancy  Life satisfaction
0  Australia                 87.25        82.500000              7.350
1    Austria                 70.60        81.700000              7.225
2    Belgium                 73.60        81.500000              7.000
3     Brazil                   NaN        74.766667              6.400
4     Canada                 87.80        81.866667              7.425

In [31]:
pd.concat([env_df.head(), health_df.head()], axis=0)

,Country,Air pollution,Water quality,Self-reported health,Life expectancy,Life satisfaction
0,Australia,5.0,92.666667,NaN,NaN,NaN
1,Austria,16.0,92.000000,NaN,NaN,NaN
2,Belgium,15.0,83.666667,NaN,NaN,NaN
3,Brazil,10.0,73.000000,NaN,NaN,NaN
4,Canada,7.0,91.000000,NaN,NaN,NaN
0,Australia,NaN,NaN,87.25,82.500000,7.350
1,Austria,NaN,NaN,70.60,81.700000,7.225
2,Belgium,NaN,NaN,73.60,81.500000,7.000
3,Brazil,NaN,NaN,NaN,74.766667,6.400
4,Canada,NaN,NaN,87.80,81.866667,7.425

Incluso, en el caso que los √≠ndices no sean √∫tiles para unir filas, pueden especificar `ignore_index` como `True`.

In [ ]:
pd.concat([env_df.head(), health_df.head()], ignore_index=True)

---

## 2.- Agregaciones:  Breve repaso y preparaci√≥n de nuevos datos

Recordemos que podemos agregar datos seg√∫n alg√∫n grupo y calcular estad√≠sticas sobre estos.

El proceso consiste en tres pasos: 

1. Separar
2. Aplicar la funci√≥n.
3. Juntar.

<div align='center'>
    <img src='https://raw.githubusercontent.com/MDS7202/MDS7202/main/recursos/2023-01/10-Pandas3/group_by.png' width=900/>
</div>

In [34]:
temp_df.head(10)

   Temperature  Year Month      Country ISO3
0     -0.03110  1991   Jan  Afghanistan  AFG
1      1.43654  1991   Feb  Afghanistan  AFG
2      6.88685  1991   Mar  Afghanistan  AFG
3     12.93970  1991   Apr  Afghanistan  AFG
4     17.07550  1991   May  Afghanistan  AFG
5     23.07770  1991   Jun  Afghanistan  AFG
6     25.57100  1991   Jul  Afghanistan  AFG
7     23.96730  1991   Aug  Afghanistan  AFG
8     19.38000  1991   Sep  Afghanistan  AFG
9     12.87790  1991   Oct  Afghanistan  AFG

In [51]:
prom = temp_df.groupby("Country").mean()
prom = prom.drop(columns=["Year"])
prom = prom.rename(columns={'Temperature': 'promedio'})
prom

                promedio
Country
Afghanistan    13.545609
Albania        12.106435
Algeria        23.439610
Andorra        11.953746
Angola         22.133815
...                  ...
United States   7.617000
Uruguay        17.941855
Uzbekistan     13.158793
Vanuatu        24.123163
Venezuela      25.865055

[192 rows x 1 columns]

In [52]:
std = temp_df.groupby("Country").std().drop(columns=["Year"])
std = std.rename(columns={'Temperature': 'std'})
std

                     std
Country
Afghanistan     8.695203
Albania         7.101392
Algeria         7.473115
Andorra         6.014903
Angola          1.710757
...                  ...
United States   9.077944
Uruguay         4.505184
Uzbekistan     10.837303
Vanuatu         1.204321
Venezuela       0.621697

[192 rows x 1 columns]

> **Pregunta ‚ùì**: ¬øC√≥mo podr√≠amos usar concat para juntar los promedios y desviaciones est√°ndar?

In [53]:
df_unido = pd.concat([prom, std], axis=1)
df_unido

                promedio        std
Country
Afghanistan    13.545609   8.695203
Albania        12.106435   7.101392
Algeria        23.439610   7.473115
Andorra        11.953746   6.014903
Angola         22.133815   1.710757
...                  ...        ...
United States   7.617000   9.077944
Uruguay        17.941855   4.505184
Uzbekistan     13.158793  10.837303
Vanuatu        24.123163   1.204321
Venezuela      25.865055   0.621697

[192 rows x 2 columns]

In [54]:
t_agg_df = pd.concat([prom, std], axis=1)

### 2.1 `agg`

Recordemos el m√©todo `agg`, el cu√°l permite agregar datos por grupo usando una o m√°s operaciones:

In [57]:
t_agg_df = temp_df.groupby("Country").agg(
    {"Temperature": ["mean", "std"]}
)
t_agg_df

              Temperature
                     mean        std
Country
Afghanistan     13.545609   8.695203
Albania         12.106435   7.101392
Algeria         23.439610   7.473115
Andorra         11.953746   6.014903
Angola          22.133815   1.710757
...                   ...        ...
United States    7.617000   9.077944
Uruguay         17.941855   4.505184
Uzbekistan      13.158793  10.837303
Vanuatu         24.123163   1.204321
Venezuela       25.865055   0.621697

[192 rows x 2 columns]

Este, como vimos anteriormente, retorna un multi-√≠ndice en las columnas:

In [ ]:
t_agg_df.columns

Haremos un peque√±o _fix_ did√°ctico: eliminaremos los multi√≠ndices de las filas y columnas para dejar listo el dataset para lo que viene.

In [58]:
t_agg_df = t_agg_df.droplevel(0, axis=1).reset_index()
t_agg_df.columns = ["Country", "t_mean", "t_std"]
t_agg_df

           Country     t_mean      t_std
0      Afghanistan  13.545609   8.695203
1          Albania  12.106435   7.101392
2          Algeria  23.439610   7.473115
3          Andorra  11.953746   6.014903
4           Angola  22.133815   1.710757
..             ...        ...        ...
187  United States   7.617000   9.077944
188        Uruguay  17.941855   4.505184
189     Uzbekistan  13.158793  10.837303
190        Vanuatu  24.123163   1.204321
191      Venezuela  25.865055   0.621697

[192 rows x 3 columns]

In [59]:
env_heatlh_df.head(10)

,Country,Air pollution,Water quality,Self-reported health,Life expectancy,Life satisfaction
0,Australia,5.0,92.666667,87.25,82.500000,7.350000
1,Austria,16.0,92.000000,70.60,81.700000,7.225000
2,Belgium,15.0,83.666667,73.60,81.500000,7.000000
3,Brazil,10.0,73.000000,NaN,74.766667,6.400000
4,Canada,7.0,91.000000,87.80,81.866667,7.425000
5,Chile,16.0,71.000000,57.00,79.900000,6.480000
6,Colombia,10.0,74.666667,NaN,76.233333,6.266667
7,Czech Republic,20.0,86.666667,60.80,79.100000,6.700000
8,Denmark,9.0,95.000000,72.60,80.900000,7.650000
9,Estonia,8.0,84.000000,54.40,77.766667,5.780000

In [60]:
t_agg_df.head(10)

               Country     t_mean     t_std
0          Afghanistan  13.545609  8.695203
1              Albania  12.106435  7.101392
2              Algeria  23.439610  7.473115
3              Andorra  11.953746  6.014903
4               Angola  22.133815  1.710757
5  Antigua and Barbuda  26.156215  1.002084
6            Argentina  14.568881  4.813378
7              Armenia   7.803382  9.697264
8            Australia  21.966571  4.881637
9              Austria   7.202215  6.993245

### DataFrames Desalineados

> **Pregunta ‚ùì**: ¬øQu√© pasar√° al combinar el Dataset de *Better Life Index* con el de Temperaturas usando `concat`?

In [61]:
df_concat = pd.concat([env_heatlh_df, t_agg_df], axis=1)
df_concat

,Country,Air pollution,Water quality,Self-reported health,Life expectancy,Life satisfaction,Country,t_mean,t_std
0,Australia,5.0,92.666667,87.25,82.500000,7.350,Afghanistan,13.545609,8.695203
1,Austria,16.0,92.000000,70.60,81.700000,7.225,Albania,12.106435,7.101392
2,Belgium,15.0,83.666667,73.60,81.500000,7.000,Algeria,23.439610,7.473115
3,Brazil,10.0,73.000000,NaN,74.766667,6.400,Andorra,11.953746,6.014903
4,Canada,7.0,91.000000,87.80,81.866667,7.425,Angola,22.133815,1.710757
...,...,...,...,...,...,...,...,...,...
187,NaN,NaN,NaN,NaN,NaN,NaN,United States,7.617000,9.077944
188,NaN,NaN,NaN,NaN,NaN,NaN,Uruguay,17.941855,4.505184
189,NaN,NaN,NaN,NaN,NaN,NaN,Uzbekistan,13.158793,10.837303
190,NaN,NaN,NaN,NaN,NaN,NaN,Vanuatu,24.123163,1.204321
191,NaN,NaN,NaN,NaN,NaN,NaN,Venezuela,25.865055,0.621697

Parece que no funcion√≥ muy bien...

---

## 3.- Merge / Combinar usando un identificador com√∫n

Es una forma de combinar dos `DataFrames` en la que usamos los valores de columna como identificador comunes para concatenar el resto de los valores:

![Idea del Merge](https://raw.githubusercontent.com/MDS7202/MDS7202/main/recursos/2023-01/10-Pandas3/merge.png)


Es equivalente a las sentencias `JOIN` de SQL. Existen varios tipos. `Pandas` implementa 5 a trav√©s de la funci√≥n `pd.merge`.

En los siguientes ejemplos uniremos los datasets de la OECD y de temperatura agregada seg√∫n los distintos tipos de `Merge`. Ser√° de mucha utilidad pensar los `Merge` como operaciones sobre conjuntos.

In [62]:
# Paises en el primer dataset
bli_df["Country"].unique()

array(['Australia', 'Austria', 'Belgium', 'Brazil', 'Canada', 'Chile',
       'Colombia', 'Czech Republic', 'Denmark', 'Estonia', 'Finland',
       'France', 'Germany', 'Greece', 'Hungary', 'Iceland', 'Ireland',
       'Israel', 'Italy', 'Japan', 'Korea', 'Latvia', 'Lithuania',
       'Luxembourg', 'Mexico', 'Netherlands', 'New Zealand', 'Norway',
       'OECD - Total', 'Poland', 'Portugal', 'Russia', 'Slovak Republic',
       'Slovenia', 'South Africa', 'Spain', 'Sweden', 'Switzerland',
       'Turkey', 'United Kingdom', 'United States'], dtype=object)

In [ ]:
t_agg_df

In [63]:
# Paises en el segundo dataset
t_agg_df["Country"].unique()

array(['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola',
       'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia',
       'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh',
       'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan',
       'Bolivia', 'BosniaandHerzegovina', 'Botswana', 'Brazil', 'Brunei',
       'Bulgaria', 'Burkina Faso', 'Burundi', 'Cambodia', 'Cameroon',
       'Canada', 'Cape Verde', 'Central African Republic', 'Chad',
       'Chile', 'China', 'Colombia', 'Comoros', 'Costa Rica',
       "Coted'Ivoire", 'Croatia', 'Cuba', 'Cyprus', 'CzechRepublic',
       'Democratic Republic of Congo', 'Denmark', 'Djibouti', 'Dominica',
       'DominicanRepublic', 'Ecuador', 'Egypt', 'ElSalvador',
       'EquatorialGuinea', 'Eritrea', 'Estonia', 'Ethiopia',
       'FaroeIslands ', 'FederatedStatesofMicronesia', 'Fiji', 'Finland',
       'France', 'Gabon', 'Gambia', 'Georgia', 'Germany', 'Ghana',
       'Greece', 'Greenland', 'Grenada', 'Guatemala', 'Guinea',
       'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras', 'Hungary',
       'Iceland', 'India', 'Indonesia', 'Iran', 'Iraq', 'Ireland',
       'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan',
       'Kenya', 'Kiribati', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia',
       'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Liechtenstein',
       'Lithuania', 'Luxembourg', 'Macedonia', 'Madagascar', 'Malawi',
       'Malaysia', 'Maldives', 'Mali', 'Malta', 'Marshall Islands ',
       'Mauritania', 'Mauritius', 'Mexico', 'Moldova', 'Monaco',
       'Mongolia', 'Morocco', 'Mozambique', 'Myanmar(Burma)', 'Namibia',
       'Nepal', 'Netherlands', 'New Caledonia', 'New Zealand',
       'Nicaragua', 'Niger', 'Nigeria', 'NorthKorea',
       'NorthernMarianaIslands ', 'Norway', 'Oman', 'Pakistan', 'Palau',
       'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines',
       'Poland', 'Portugal', 'Puerto Rico', 'Qatar',
       'Republic of Montenegro', 'Republic of Serbia',
       'Republic of the Congo', 'Romania', 'Russia', 'Rwanda', 'Samoa',
       'SaoTomeandPrincipe', 'SaudiArabia', 'Senegal', 'Seychelles',
       'SierraLeone', 'Singapore', 'Slovakia', 'Slovenia',
       'SolomonIslands ', 'Somalia', 'South Africa', 'South Korea',
       'South Sudan', 'Spain', 'SriLanka', 'St.KittsandNevis', 'St.Lucia',
       'St.VincentandtheGrenadines', 'Sudan', 'Suriname', 'Swaziland',
       'Sweden', 'Switzerland', 'Syria', 'Tajikistan', 'Tanzania',
       'Thailand', 'TimorLeste', 'Togo', 'Tonga', 'TrinidadandTobago',
       'Tunisia', 'Turkey', 'Turkmenistan', 'Tuvalu', 'Uganda', 'Ukraine',
       'United Arab Emirates', 'United Kingdom', 'United States',
       'Uruguay', 'Uzbekistan', 'Vanuatu', 'Venezuela'], dtype=object)

---

### Inner

Combina los elementos que se encuentren en ambas tablas. Descarta todo el resto

![Inner](https://raw.githubusercontent.com/MDS7202/MDS7202/main/recursos/2023-01/10-Pandas3/inner.png)

In [68]:
env_heatlh_df.shape

(41, 6)

In [66]:
pd.merge(
    left=env_heatlh_df,
    right=t_agg_df,
    left_on="Country",
    right_on="Country",
    how="inner",
    sort=True,
)

,Country,Air pollution,Water quality,Self-reported health,Life expectancy,Life satisfaction,t_mean,t_std
0,Australia,5.0,92.666667,87.250000,82.500000,7.350000,21.966571,4.881637
1,Austria,16.0,92.000000,70.600000,81.700000,7.225000,7.202215,6.993245
2,Belgium,15.0,83.666667,73.600000,81.500000,7.000000,10.573462,5.739911
3,Brazil,10.0,73.000000,NaN,74.766667,6.400000,25.504852,0.962928
4,Canada,7.0,91.000000,87.800000,81.866667,7.425000,-5.963874,12.528132
5,Chile,16.0,71.000000,57.000000,79.900000,6.480000,8.454478,3.126838
6,Colombia,10.0,74.666667,NaN,76.233333,6.266667,24.734349,0.568972
7,Denmark,9.0,95.000000,72.600000,80.900000,7.650000,8.678213,6.136734
8,Estonia,8.0,84.000000,54.400000,77.766667,5.780000,6.166056,8.199942
9,Finland,6.0,95.000000,70.200000,81.500000,7.660000,2.402188,9.278735
10,France,13.0,81.000000,66.400000,82.366667,6.540000,11.541326,5.766022
11,Germany,14.0,91.333333,65.400000,81.066667,7.100000,9.429345,6.574786
12,Greece,18.0,69.333333,76.000000,81.466667,5.340000,14.304441,7.034380
13,Hungary,19.0,77.000000,61.000000,76.166667,5.680000,10.876787,8.031975
14,Iceland,3.0,98.666667,76.000000,82.266667,7.580000,2.307253,4.468936
15,Ireland,7.0,85.000000,82.800000,81.766667,7.050000,9.640844,3.684947
16,Israel,21.0,67.000000,86.750000,82.466667,7.225000,20.264818,5.843593
17,Italy,18.0,71.000000,71.800000,83.300000,6.140000,12.626380,6.349987
18,Japan,14.0,87.000000,34.800000,84.066667,5.900000,11.338797,8.287104
19,Latvia,11.0,79.333333,48.000000,74.700000,5.940000,6.696891,8.127505
20,Lithuania,14.0,80.666667,45.600000,74.800000,5.980000,7.280419,8.113566
21,Luxembourg,12.0,84.000000,69.400000,82.766667,6.900000,9.932402,6.138378
22,Mexico,16.0,67.666667,65.666667,75.400000,6.466667,21.185824,3.786093
23,Netherlands,14.0,93.000000,75.800000,81.600000,7.500000,10.316402,5.535509
24,New Zealand,5.0,89.000000,89.250000,81.700000,7.300000,10.022858,3.620584
25,Norway,5.0,97.666667,77.200000,82.466667,7.620000,1.726860,7.287373
26,Poland,22.0,82.000000,60.000000,77.966667,6.100000,8.667610,7.471490
27,Portugal,10.0,86.333333,48.200000,81.200000,5.480000,15.476961,5.051515
28,Russia,15.0,55.333333,43.333333,71.800000,5.880000,-5.255763,14.663405
29,Slovenia,16.0,89.666667,64.400000,81.266667,5.933333,9.677381,7.151006
30,South Africa,22.0,67.000000,NaN,57.500000,4.700000,18.215114,4.349379
31,Spain,11.0,72.333333,74.000000,83.400000,6.225000,13.903968,6.116709
32,Sweden,6.0,96.000000,75.000000,82.366667,7.400000,2.537722,8.185242
33,Switzerland,15.0,95.333333,77.400000,83.666667,7.500000,6.713588,6.237274
34,Turkey,20.0,65.000000,70.400000,78.000000,5.520000,11.666377,8.207654
35,United Kingdom,11.0,83.666667,70.000000,81.200000,6.860000,9.062469,4.253525
36,United States,10.0,82.666667,86.800000,78.600000,7.000000,7.617000,9.077944

### Left Merge

![Right Merge](https://raw.githubusercontent.com/MDS7202/MDS7202/main/recursos/2023-01/10-Pandas3/left.png)

Conserva solo los elementos que se hayan combinado correctamente provenientes dataset `left`.

In [69]:
pd.merge(
    left=env_heatlh_df,
    right=t_agg_df,
    on="Country",
    how="left",
    sort=True,
)

,Country,Air pollution,Water quality,Self-reported health,Life expectancy,Life satisfaction,t_mean,t_std
0,Australia,5.0,92.666667,87.250000,82.500000,7.350000,21.966571,4.881637
1,Austria,16.0,92.000000,70.600000,81.700000,7.225000,7.202215,6.993245
2,Belgium,15.0,83.666667,73.600000,81.500000,7.000000,10.573462,5.739911
3,Brazil,10.0,73.000000,NaN,74.766667,6.400000,25.504852,0.962928
4,Canada,7.0,91.000000,87.800000,81.866667,7.425000,-5.963874,12.528132
5,Chile,16.0,71.000000,57.000000,79.900000,6.480000,8.454478,3.126838
6,Colombia,10.0,74.666667,NaN,76.233333,6.266667,24.734349,0.568972
7,Czech Republic,20.0,86.666667,60.800000,79.100000,6.700000,NaN,NaN
8,Denmark,9.0,95.000000,72.600000,80.900000,7.650000,8.678213,6.136734
9,Estonia,8.0,84.000000,54.400000,77.766667,5.780000,6.166056,8.199942
10,Finland,6.0,95.000000,70.200000,81.500000,7.660000,2.402188,9.278735
11,France,13.0,81.000000,66.400000,82.366667,6.540000,11.541326,5.766022
12,Germany,14.0,91.333333,65.400000,81.066667,7.100000,9.429345,6.574786
13,Greece,18.0,69.333333,76.000000,81.466667,5.340000,14.304441,7.034380
14,Hungary,19.0,77.000000,61.000000,76.166667,5.680000,10.876787,8.031975
15,Iceland,3.0,98.666667,76.000000,82.266667,7.580000,2.307253,4.468936
16,Ireland,7.0,85.000000,82.800000,81.766667,7.050000,9.640844,3.684947
17,Israel,21.0,67.000000,86.750000,82.466667,7.225000,20.264818,5.843593
18,Italy,18.0,71.000000,71.800000,83.300000,6.140000,12.626380,6.349987
19,Japan,14.0,87.000000,34.800000,84.066667,5.900000,11.338797,8.287104
20,Korea,28.0,76.000000,33.000000,82.366667,5.866667,NaN,NaN
21,Latvia,11.0,79.333333,48.000000,74.700000,5.940000,6.696891,8.127505
22,Lithuania,14.0,80.666667,45.600000,74.800000,5.980000,7.280419,8.113566
23,Luxembourg,12.0,84.000000,69.400000,82.766667,6.900000,9.932402,6.138378
24,Mexico,16.0,67.666667,65.666667,75.400000,6.466667,21.185824,3.786093
25,Netherlands,14.0,93.000000,75.800000,81.600000,7.500000,10.316402,5.535509
26,New Zealand,5.0,89.000000,89.250000,81.700000,7.300000,10.022858,3.620584
27,Norway,5.0,97.666667,77.200000,82.466667,7.620000,1.726860,7.287373
28,OECD - Total,14.0,81.000000,69.200000,80.200000,6.480000,NaN,NaN
29,Poland,22.0,82.000000,60.000000,77.966667,6.100000,8.667610,7.471490
30,Portugal,10.0,86.333333,48.200000,81.200000,5.480000,15.476961,5.051515
31,Russia,15.0,55.333333,43.333333,71.800000,5.880000,-5.255763,14.663405
32,Slovak Republic,21.0,84.666667,68.600000,77.266667,6.425000,NaN,NaN
33,Slovenia,16.0,89.666667,64.400000,81.266667,5.933333,9.677381,7.151006
34,South Africa,22.0,67.000000,NaN,57.500000,4.700000,18.215114,4.349379
35,Spain,11.0,72.333333,74.000000,83.400000,6.225000,13.903968,6.116709
36,Sweden,6.0,96.000000,75.000000,82.366667,7.400000,2.537722,8.185242
37,Switzerland,15.0,95.333333,77.400000,83.666667,7.500000,6.713588,6.237274
38,Turkey,20.0,65.000000,70.400000,78.000000,5.520000,11.666377,8.207654
39,United Kingdom,11.0,83.666667,70.000000,81.200000,6.860000,9.062469,4.253525
40,United States,10.0,82.666667,86.800000,78.600000,7.000000,7.617000,9.077944

### Right Merge

Conserva solo los elementos que se hayan combinado correctamente provenientes dataset `right`.

![Right Merge](https://raw.githubusercontent.com/MDS7202/MDS7202/main/recursos/2023-01/10-Pandas3/right.png)

In [70]:
pd.merge(
    left=env_heatlh_df,
    right=t_agg_df,
    on="Country",
    how="right",
    sort=True,
)

,Country,Air pollution,Water quality,Self-reported health,Life expectancy,Life satisfaction,t_mean,t_std
0,Afghanistan,NaN,NaN,NaN,NaN,NaN,13.545609,8.695203
1,Albania,NaN,NaN,NaN,NaN,NaN,12.106435,7.101392
2,Algeria,NaN,NaN,NaN,NaN,NaN,23.439610,7.473115
3,Andorra,NaN,NaN,NaN,NaN,NaN,11.953746,6.014903
4,Angola,NaN,NaN,NaN,NaN,NaN,22.133815,1.710757
...,...,...,...,...,...,...,...,...
187,United States,10.0,82.666667,86.8,78.6,7.0,7.617000,9.077944
188,Uruguay,NaN,NaN,NaN,NaN,NaN,17.941855,4.505184
189,Uzbekistan,NaN,NaN,NaN,NaN,NaN,13.158793,10.837303
190,Vanuatu,NaN,NaN,NaN,NaN,NaN,24.123163,1.204321
191,Venezuela,NaN,NaN,NaN,NaN,NaN,25.865055,0.621697

### Outer

Combina todos los elementos posibles y conserva todo el resto en filas independientes.

![Outer Join](https://raw.githubusercontent.com/MDS7202/MDS7202/main/recursos/2023-01/10-Pandas3/outer.png)

In [71]:
outer_merged_df = pd.merge(
    left=env_heatlh_df,
    right=t_agg_df,
    on="Country",
    sort=True,
    how="outer",
)
outer_merged_df

,Country,Air pollution,Water quality,Self-reported health,Life expectancy,Life satisfaction,t_mean,t_std
0,Afghanistan,NaN,NaN,NaN,NaN,NaN,13.545609,8.695203
1,Albania,NaN,NaN,NaN,NaN,NaN,12.106435,7.101392
2,Algeria,NaN,NaN,NaN,NaN,NaN,23.439610,7.473115
3,Andorra,NaN,NaN,NaN,NaN,NaN,11.953746,6.014903
4,Angola,NaN,NaN,NaN,NaN,NaN,22.133815,1.710757
...,...,...,...,...,...,...,...,...
191,United States,10.0,82.666667,86.8,78.6,7.0,7.617000,9.077944
192,Uruguay,NaN,NaN,NaN,NaN,NaN,17.941855,4.505184
193,Uzbekistan,NaN,NaN,NaN,NaN,NaN,13.158793,10.837303
194,Vanuatu,NaN,NaN,NaN,NaN,NaN,24.123163,1.204321
195,Venezuela,NaN,NaN,NaN,NaN,NaN,25.865055,0.621697

In [ ]:
outer_merged_df[outer_merged_df["Country"] == "OECD - Total"]

#### Con Indicador

In [78]:
outer_merged_df = pd.merge(
    left=env_heatlh_df,
    right=t_agg_df,
    on="Country",
    how="outer",
    sort=True,
    indicator=True,
)
outer_merged_df

,Country,Air pollution,Water quality,Self-reported health,Life expectancy,Life satisfaction,t_mean,t_std,_merge
0,Afghanistan,NaN,NaN,NaN,NaN,NaN,13.545609,8.695203,right_only
1,Albania,NaN,NaN,NaN,NaN,NaN,12.106435,7.101392,right_only
2,Algeria,NaN,NaN,NaN,NaN,NaN,23.439610,7.473115,right_only
3,Andorra,NaN,NaN,NaN,NaN,NaN,11.953746,6.014903,right_only
4,Angola,NaN,NaN,NaN,NaN,NaN,22.133815,1.710757,right_only
...,...,...,...,...,...,...,...,...,...
191,United States,10.0,82.666667,86.8,78.6,7.0,7.617000,9.077944,both
192,Uruguay,NaN,NaN,NaN,NaN,NaN,17.941855,4.505184,right_only
193,Uzbekistan,NaN,NaN,NaN,NaN,NaN,13.158793,10.837303,right_only
194,Vanuatu,NaN,NaN,NaN,NaN,NaN,24.123163,1.204321,right_only
195,Venezuela,NaN,NaN,NaN,NaN,NaN,25.865055,0.621697,right_only

In [73]:
outer_merged_df[outer_merged_df["_merge"] == "left_only"]

,Country,Air pollution,Water quality,Self-reported health,Life expectancy,Life satisfaction,t_mean,t_std,_merge
43,Czech Republic,20.0,86.666667,60.8,79.100000,6.700000,NaN,NaN,left_only
91,Korea,28.0,76.000000,33.0,82.366667,5.866667,NaN,NaN,left_only
131,OECD - Total,14.0,81.000000,69.2,80.200000,6.480000,NaN,NaN,left_only
157,Slovak Republic,21.0,84.666667,68.6,77.266667,6.425000,NaN,NaN,left_only

In [74]:
outer_merged_df[outer_merged_df["_merge"] == "both"]

,Country,Air pollution,Water quality,Self-reported health,Life expectancy,Life satisfaction,t_mean,t_std,_merge
8,Australia,5.0,92.666667,87.250000,82.500000,7.350000,21.966571,4.881637,both
9,Austria,16.0,92.000000,70.600000,81.700000,7.225000,7.202215,6.993245,both
16,Belgium,15.0,83.666667,73.600000,81.500000,7.000000,10.573462,5.739911,both
23,Brazil,10.0,73.000000,NaN,74.766667,6.400000,25.504852,0.962928,both
30,Canada,7.0,91.000000,87.800000,81.866667,7.425000,-5.963874,12.528132,both
34,Chile,16.0,71.000000,57.000000,79.900000,6.480000,8.454478,3.126838,both
36,Colombia,10.0,74.666667,NaN,76.233333,6.266667,24.734349,0.568972,both
46,Denmark,9.0,95.000000,72.600000,80.900000,7.650000,8.678213,6.136734,both
55,Estonia,8.0,84.000000,54.400000,77.766667,5.780000,6.166056,8.199942,both
60,Finland,6.0,95.000000,70.200000,81.500000,7.660000,2.402188,9.278735,both
61,France,13.0,81.000000,66.400000,82.366667,6.540000,11.541326,5.766022,both
65,Germany,14.0,91.333333,65.400000,81.066667,7.100000,9.429345,6.574786,both
67,Greece,18.0,69.333333,76.000000,81.466667,5.340000,14.304441,7.034380,both
76,Hungary,19.0,77.000000,61.000000,76.166667,5.680000,10.876787,8.031975,both
77,Iceland,3.0,98.666667,76.000000,82.266667,7.580000,2.307253,4.468936,both
82,Ireland,7.0,85.000000,82.800000,81.766667,7.050000,9.640844,3.684947,both
83,Israel,21.0,67.000000,86.750000,82.466667,7.225000,20.264818,5.843593,both
84,Italy,18.0,71.000000,71.800000,83.300000,6.140000,12.626380,6.349987,both
86,Japan,14.0,87.000000,34.800000,84.066667,5.900000,11.338797,8.287104,both
95,Latvia,11.0,79.333333,48.000000,74.700000,5.940000,6.696891,8.127505,both
101,Lithuania,14.0,80.666667,45.600000,74.800000,5.980000,7.280419,8.113566,both
102,Luxembourg,12.0,84.000000,69.400000,82.766667,6.900000,9.932402,6.138378,both
113,Mexico,16.0,67.666667,65.666667,75.400000,6.466667,21.185824,3.786093,both
122,Netherlands,14.0,93.000000,75.800000,81.600000,7.500000,10.316402,5.535509,both
124,New Zealand,5.0,89.000000,89.250000,81.700000,7.300000,10.022858,3.620584,both
130,Norway,5.0,97.666667,77.200000,82.466667,7.620000,1.726860,7.287373,both
140,Poland,22.0,82.000000,60.000000,77.966667,6.100000,8.667610,7.471490,both
141,Portugal,10.0,86.333333,48.200000,81.200000,5.480000,15.476961,5.051515,both
148,Russia,15.0,55.333333,43.333333,71.800000,5.880000,-5.255763,14.663405,both
159,Slovenia,16.0,89.666667,64.400000,81.266667,5.933333,9.677381,7.151006,both
162,South Africa,22.0,67.000000,NaN,57.500000,4.700000,18.215114,4.349379,both
165,Spain,11.0,72.333333,74.000000,83.400000,6.225000,13.903968,6.116709,both
173,Sweden,6.0,96.000000,75.000000,82.366667,7.400000,2.537722,8.185242,both
174,Switzerland,15.0,95.333333,77.400000,83.666667,7.500000,6.713588,6.237274,both
184,Turkey,20.0,65.000000,70.400000,78.000000,5.520000,11.666377,8.207654,both
190,United Kingdom,11.0,83.666667,70.000000,81.200000,6.860000,9.062469,4.253525,both
191,United States,10.0,82.666667,86.800000,78.600000,7.000000,7.617000,9.077944,both

In [76]:
outer_merged_df[outer_merged_df["_merge"] == "right_only"]

,Country,Air pollution,Water quality,Self-reported health,Life expectancy,Life satisfaction,t_mean,t_std,_merge
0,Afghanistan,NaN,NaN,NaN,NaN,NaN,13.545609,8.695203,right_only
1,Albania,NaN,NaN,NaN,NaN,NaN,12.106435,7.101392,right_only
2,Algeria,NaN,NaN,NaN,NaN,NaN,23.439610,7.473115,right_only
3,Andorra,NaN,NaN,NaN,NaN,NaN,11.953746,6.014903,right_only
4,Angola,NaN,NaN,NaN,NaN,NaN,22.133815,1.710757,right_only
...,...,...,...,...,...,...,...,...,...
189,United Arab Emirates,NaN,NaN,NaN,NaN,NaN,27.557650,5.628118,right_only
192,Uruguay,NaN,NaN,NaN,NaN,NaN,17.941855,4.505184,right_only
193,Uzbekistan,NaN,NaN,NaN,NaN,NaN,13.158793,10.837303,right_only
194,Vanuatu,NaN,NaN,NaN,NaN,NaN,24.123163,1.204321,right_only
195,Venezuela,NaN,NaN,NaN,NaN,NaN,25.865055,0.621697,right_only

---

## 4.- Transponer Datos

Simplemente invertir las filas por las columnas.

In [81]:
bli_df.T

,0,1,2,3,4,5,6,7,8,9,...,31,32,33,34,35,36,37,38,39,40
Country,Australia,Austria,Belgium,Brazil,Canada,Chile,Colombia,Czech Republic,Denmark,Estonia,...,Russia,Slovak Republic,Slovenia,South Africa,Spain,Sweden,Switzerland,Turkey,United Kingdom,United States
Air pollution,5.0,16.0,15.0,10.0,7.0,16.0,10.0,20.0,9.0,8.0,...,15.0,21.0,16.0,22.0,11.0,6.0,15.0,20.0,11.0,10.0
Dwellings without basic facilities,NaN,0.9,1.9,6.7,0.2,9.4,23.9,0.7,0.5,7.0,...,14.8,1.2,0.4,37.0,0.1,0.0,0.1,8.0,0.3,0.1
Educational attainment,81.0,85.0,77.0,49.0,91.333333,65.0,54.0,93.666667,81.0,88.666667,...,94.0,91.333333,88.0,73.333333,59.0,83.0,87.666667,39.0,81.0,90.666667
Employees working very long hours,12.84,6.59,4.703333,7.006667,3.673333,9.316667,26.006667,5.496667,2.316667,2.436667,...,0.14,4.073333,4.333333,17.84,3.963333,1.066667,0.37,31.043333,12.123333,10.99
Employment rate,73.0,72.0,63.333333,61.0,73.333333,62.666667,67.0,73.666667,74.0,74.0,...,70.333333,66.0,69.333333,43.333333,62.333333,76.666667,79.666667,51.666667,75.0,70.0
Feeling safe walking alone at night,64.133333,80.7,70.266667,35.866667,82.5,48.0,44.566667,72.533333,83.566667,69.633333,...,53.466667,63.7,86.166667,36.333333,82.166667,75.566667,85.333333,59.833333,77.766667,73.9
Homicide rate,1.1,0.466667,1.033333,27.0,1.266667,4.2,25.0,0.5,0.6,3.166667,...,9.933333,0.8,0.6,14.0,0.6,0.9,0.6,1.366667,0.166667,5.5
Household net adjusted disposable income,32759.0,33541.0,30364.0,NaN,30854.0,NaN,NaN,21453.0,29606.0,19697.0,...,NaN,20474.0,20820.0,NaN,23999.0,31287.0,37466.0,NaN,28715.0,45284.0
Household net wealth,427064.0,308325.0,386006.0,NaN,423849.0,100967.0,NaN,NaN,118637.0,159373.0,...,NaN,119696.0,203044.0,NaN,373548.0,NaN,NaN,NaN,548392.0,632100.0
Housing expenditure,20.0,21.0,21.0,NaN,22.0,18.0,17.0,24.0,23.0,17.0,...,18.0,23.0,18.0,18.0,21.0,19.0,22.0,20.0,26.0,19.0
Labour market insecurity,5.922,4.076,4.052,NaN,7.048,8.168,NaN,7.208,4.606,4.392,...,NaN,21.376,6.338,NaN,23.792,4.232,NaN,12.06,4.744,9.072
Life expectancy,82.5,81.7,81.5,74.766667,81.866667,79.9,76.233333,79.1,80.9,77.766667,...,71.8,77.266667,81.266667,57.5,83.4,82.366667,83.666667,78.0,81.2,78.6
Life satisfaction,7.35,7.225,7.0,6.4,7.425,6.48,6.266667,6.7,7.65,5.78,...,5.88,6.425,5.933333,4.7,6.225,7.4,7.5,5.52,6.86,7.0
Long-term unemployment rate,1.306667,1.83,3.533333,NaN,0.763333,NaN,0.82,1.056667,1.313333,1.916667,...,1.586667,4.773333,3.176667,16.643333,7.71,1.113333,1.826667,2.66,1.126667,0.656667
Personal earnings,49126.0,50349.0,49675.0,NaN,47622.0,25879.0,NaN,25372.0,51466.0,24336.0,...,NaN,24328.0,34933.0,NaN,38507.0,42393.0,62283.0,NaN,43732.0,60558.0
Quality of support network,95.25,92.0,92.0,89.25,93.25,84.6,89.0,91.75,95.5,91.2,...,90.0,91.5,91.666667,88.0,92.75,91.5,93.333333,86.0,94.0,91.75
Rooms per person,NaN,1.6,2.2,NaN,2.6,1.2,1.2,1.4,1.9,1.6,...,0.9,1.1,1.5,NaN,1.9,1.7,1.9,1.0,1.9,2.4
Self-reported health,87.25,70.6,73.6,NaN,87.8,57.0,NaN,60.8,72.6,54.4,...,43.333333,68.6,64.4,NaN,74.0,75.0,77.4,70.4,70.0,86.8
Stakeholder engagement for developing regulations,2.7,1.3,2.0,2.2,2.9,1.3,1.4,1.6,2.0,2.7,...,NaN,3.0,2.5,NaN,1.8,2.0,2.3,1.5,3.1,3.1
Student skills,411.2,492.8,503.8,398.2,523.2,443.8,412.8,492.2,505.2,525.8,...,491.8,463.4,510.4,NaN,492.4,497.0,507.4,426.8,502.4,489.4
Time devoted to leisure and personal care,14.35,14.53,15.663333,NaN,14.553333,NaN,NaN,NaN,15.873333,14.886667,...,NaN,NaN,14.73,14.77,15.86,15.176667,NaN,14.653333,14.916667,14.44
Voter turnout,91.0,80.0,89.0,79.0,68.0,47.0,53.0,61.0,86.0,64.0,...,68.0,60.0,53.0,73.0,70.0,86.0,49.0,86.0,69.0,65.0
Water quality,92.666667,92.0,83.666667,73.0,91.0,71.0,74.666667,86.666667,95.0,84.0,...,55.333333,84.666667,89.666667,67.0,72.333333,96.0,95.333333,65.0,83.666667,82.666667
Years in education,20.966667,17.0,19.3,16.166667,17.333333,17.5,14.1,17.9,19.5,17.7,...,16.2,15.766667,18.366667,NaN,17.9,19.3,17.5,18.3,17.5,17.2
GPD per capita (2018),57395.91947,51525.04643,47491.32326,9001.234249,46313.17137,15924.79424,6718.585324,23046.94913,61390.69301,23258.46758,...,11584.99538,19428.11621,26054.5421,6374.028196,30337.67913,54589.06039,82818.10816,9370.176355,43043.22782,62996.66482

---

## 5.- Pivotear Datos


El dataset que usamos la clase pasada est√° relativamente ordenado.

In [86]:
bli_df.head(5).iloc[:, 0:20]

,Country,Air pollution,Dwellings without basic facilities,Educational attainment,Employees working very long hours,Employment rate,Feeling safe walking alone at night,Homicide rate,Household net adjusted disposable income,Household net wealth,Housing expenditure,Labour market insecurity,Life expectancy,Life satisfaction,Long-term unemployment rate,Personal earnings,Quality of support network,Rooms per person,Self-reported health,Stakeholder engagement for developing regulations
0,Australia,5.0,NaN,81.000000,12.840000,73.000000,64.133333,1.100000,32759.0,427064.0,20.0,5.922,82.500000,7.350,1.306667,49126.0,95.25,NaN,87.25,2.7
1,Austria,16.0,0.9,85.000000,6.590000,72.000000,80.700000,0.466667,33541.0,308325.0,21.0,4.076,81.700000,7.225,1.830000,50349.0,92.00,1.6,70.60,1.3
2,Belgium,15.0,1.9,77.000000,4.703333,63.333333,70.266667,1.033333,30364.0,386006.0,21.0,4.052,81.500000,7.000,3.533333,49675.0,92.00,2.2,73.60,2.0
3,Brazil,10.0,6.7,49.000000,7.006667,61.000000,35.866667,27.000000,NaN,NaN,NaN,NaN,74.766667,6.400,NaN,NaN,89.25,NaN,NaN,2.2
4,Canada,7.0,0.2,91.333333,3.673333,73.333333,82.500000,1.266667,30854.0,423849.0,22.0,7.048,81.866667,7.425,0.763333,47622.0,93.25,2.6,87.80,2.9

Sin embargo, originalmente ten√≠a la siguiente estructura:

In [83]:
dataset_original = pd.read_csv("./resources/bli_original.csv", keep_default_na=False)
dataset_original

,Continent,Country,INDICATOR,Indicator,MEASURE,Measure,INEQUALITY,Inequality,Unit Code,Unit,PowerCode Code,PowerCode,Reference Period Code,Reference Period,Value,Flag Codes,Flags
0,OC,Australia,JE_LMIS,Labour market insecurity,L,Value,TOT,Total,PC,Percentage,0,Units,,,5.40,,
1,EU,Austria,JE_LMIS,Labour market insecurity,L,Value,TOT,Total,PC,Percentage,0,Units,,,3.50,,
2,EU,Belgium,JE_LMIS,Labour market insecurity,L,Value,TOT,Total,PC,Percentage,0,Units,,,3.70,,
3,NA,Canada,JE_LMIS,Labour market insecurity,L,Value,TOT,Total,PC,Percentage,0,Units,,,6.00,,
4,EU,Czech Republic,JE_LMIS,Labour market insecurity,L,Value,TOT,Total,PC,Percentage,0,Units,,,3.10,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2364,EU,Lithuania,WL_EWLH,Employees working very long hours,L,Value,TOT,Total,PC,Percentage,0,Units,,,0.54,,
2365,SA,Colombia,WL_EWLH,Employees working very long hours,L,Value,MN,Men,PC,Percentage,0,Units,,,32.09,,
2366,EU,Lithuania,WL_EWLH,Employees working very long hours,L,Value,MN,Men,PC,Percentage,0,Units,,,0.67,,
2367,SA,Colombia,WL_EWLH,Employees working very long hours,L,Value,WMN,Women,PC,Percentage,0,Units,,,19.37,,
2368,EU,Lithuania,WL_EWLH,Employees working very long hours,L,Value,WMN,Women,PC,Percentage,0,Units,,,0.43,,

In [85]:
dataset_original.loc[:, ["Country", "Indicator", "Value"]].head(20)

           Country                 Indicator  Value
0        Australia  Labour market insecurity    5.4
1          Austria  Labour market insecurity    3.5
2          Belgium  Labour market insecurity    3.7
3           Canada  Labour market insecurity    6.0
4   Czech Republic  Labour market insecurity    3.1
5          Denmark  Labour market insecurity    4.2
6          Finland  Labour market insecurity    3.9
7           France  Labour market insecurity    7.6
8          Germany  Labour market insecurity    2.7
9           Greece  Labour market insecurity   29.8
10         Hungary  Labour market insecurity    4.7
11         Iceland  Labour market insecurity    0.7
12         Ireland  Labour market insecurity    7.8
13           Italy  Labour market insecurity   12.3
14           Japan  Labour market insecurity    1.4
15           Korea  Labour market insecurity    2.6
16      Luxembourg  Labour market insecurity    1.7
17          Mexico  Labour market insecurity    5.5
18     Netherlands  Labour market insecurity    4.8
19     New Zealand  Labour market insecurity    4.7

In [90]:
dataset_original.loc[
    :, ["Continent", "Country", "Indicator", "Unit", "Value"]
].sort_values("Country").head(20)

,Continent,Country,Indicator,Unit,Value
0,OC,Australia,Labour market insecurity,Percentage,5.40
1636,OC,Australia,Self-reported health,Percentage,85.00
1673,OC,Australia,Self-reported health,Percentage,85.00
1710,OC,Australia,Self-reported health,Percentage,85.00
454,OC,Australia,Household net wealth,US Dollar,427064.00
1747,OC,Australia,Self-reported health,Percentage,94.00
425,OC,Australia,Household net adjusted disposable income,US Dollar,32759.00
1813,OC,Australia,Life satisfaction,Average score,7.30
1852,OC,Australia,Life satisfaction,Average score,7.20
350,OC,Australia,Feeling safe walking alone at night,Percentage,48.80
1891,OC,Australia,Life satisfaction,Average score,7.40
1930,OC,Australia,Life satisfaction,Average score,7.50
311,OC,Australia,Feeling safe walking alone at night,Percentage,80.10
1973,OC,Australia,Homicide rate,Ratio,1.10
272,OC,Australia,Feeling safe walking alone at night,Percentage,63.50
2012,OC,Australia,Homicide rate,Ratio,1.50
235,OC,Australia,Housing expenditure,Percentage,20.00
2051,OC,Australia,Homicide rate,Ratio,0.70
2090,OC,Australia,Employees working very long hours,Percentage,13.04
2127,OC,Australia,Employees working very long hours,Percentage,19.17

In [ ]:
dataset_original.shape

Cada fila de este dataset contiene informaci√≥n acerca de los paises y de los indicadores y el valor del indicador. Esta forma es conocida como **long**. 

**Pivotear**

Para convertirla al formato con el que hemos estado trabajando, **wide**, debemos pivotear la tabla:

In [ ]:
dataset_original.head(3)

![Pivot](./resources/pivot.png)

In [87]:
dataset_original["Indicator"].unique()

array(['Labour market insecurity',
       'Stakeholder engagement for developing regulations',
       'Dwellings without basic facilities', 'Housing expenditure',
       'Feeling safe walking alone at night', 'Rooms per person',
       'Household net adjusted disposable income', 'Household net wealth',
       'Employment rate', 'Long-term unemployment rate',
       'Personal earnings', 'Quality of support network',
       'Educational attainment', 'Student skills', 'Years in education',
       'Air pollution', 'Water quality', 'Voter turnout',
       'Life expectancy', 'Self-reported health', 'Life satisfaction',
       'Homicide rate', 'Employees working very long hours',
       'Time devoted to leisure and personal care'], dtype=object)

In [88]:
dataset_original.head().loc[:, ["Country", "Indicator", "Value"]]

          Country                 Indicator  Value
0       Australia  Labour market insecurity    5.4
1         Austria  Labour market insecurity    3.5
2         Belgium  Labour market insecurity    3.7
3          Canada  Labour market insecurity    6.0
4  Czech Republic  Labour market insecurity    3.1

> **Ejercicio ‚úèÔ∏è**: Pivotear la tabla original de los datos de la OECD

In [89]:
pd.pivot_table(dataset_original, index='Country', columns='Indicator', values='Value').head(5)

Indicator,Air pollution,Dwellings without basic facilities,Educational attainment,Employees working very long hours,Employment rate,Feeling safe walking alone at night,Homicide rate,Household net adjusted disposable income,Household net wealth,Housing expenditure,...,Personal earnings,Quality of support network,Rooms per person,Self-reported health,Stakeholder engagement for developing regulations,Student skills,Time devoted to leisure and personal care,Voter turnout,Water quality,Years in education
Country,,,,,,,,,,,,,,,,,,,,,
Australia,5.0,NaN,81.000000,12.840000,73.000000,64.133333,1.100000,32759.0,427064.0,20.0,...,49126.0,95.25,NaN,87.25,2.7,411.2,14.350000,91.0,92.666667,20.966667
Austria,16.0,0.9,85.000000,6.590000,72.000000,80.700000,0.466667,33541.0,308325.0,21.0,...,50349.0,92.00,1.6,70.60,1.3,492.8,14.530000,80.0,92.000000,17.000000
Belgium,15.0,1.9,77.000000,4.703333,63.333333,70.266667,1.033333,30364.0,386006.0,21.0,...,49675.0,92.00,2.2,73.60,2.0,503.8,15.663333,89.0,83.666667,19.300000
Brazil,10.0,6.7,49.000000,7.006667,61.000000,35.866667,27.000000,NaN,NaN,NaN,...,NaN,89.25,NaN,NaN,2.2,398.2,NaN,79.0,73.000000,16.166667
Canada,7.0,0.2,91.333333,3.673333,73.333333,82.500000,1.266667,30854.0,423849.0,22.0,...,47622.0,93.25,2.6,87.80,2.9,523.2,14.553333,68.0,91.000000,17.333333

---

## 6.- Multi-√çndices

Hasta el momento solo hemos trabajado con `Dataframes` que contienen solo un nivel de filas o columnas. Sin embargo, es posible tambi√©n agregar m√°s niveles a los indices y a las columnas. 
Esto se le conoce como multi-√≠ndice.

In [94]:
dataset_original.loc[:, ["Continent", "Country", "Indicator", "Unit", "Value"]].head()

  Continent         Country                 Indicator        Unit  Value
0        OC       Australia  Labour market insecurity  Percentage    5.4
1        EU         Austria  Labour market insecurity  Percentage    3.5
2        EU         Belgium  Labour market insecurity  Percentage    3.7
3        NA          Canada  Labour market insecurity  Percentage    6.0
4        EU  Czech Republic  Labour market insecurity  Percentage    3.1

Para agregar niveles de columnas, en el proceso de pivoteo vamos a indicar que tanto `Unit` como `Indicator` sean niveles de las columnas; y que a la vez, tanto `Continent` como `Country` sean indices para las filas. 

El resultado de esto puede ser visto en el siguiente `DataFrame`:

In [95]:
dataset_multindex = pd.pivot_table(
    dataset_original,
    index=["Continent", "Country"],
    columns=["Unit", "Indicator"],
    values="Value",
)
dataset_multindex

Unit                          Average score  \
Indicator                 Life satisfaction
Continent Country
AF        South Africa             4.700000
AS        Israel                   7.225000
          Japan                    5.900000
          Korea                    5.866667
EU        Austria                  7.225000
          Belgium                  7.000000
          Czech Republic           6.700000
          Denmark                  7.650000
          Estonia                  5.780000
          Finland                  7.660000
          France                   6.540000
          Germany                  7.100000
          Greece                   5.340000
          Hungary                  5.680000
          Iceland                  7.580000
          Ireland                  7.050000
          Italy                    6.140000
          Latvia                   5.940000
          Lithuania                5.980000
          Luxembourg               6.900000
          Netherlands              7.500000
          Norway                   7.620000
          Poland                   6.100000
          Portugal                 5.480000
          Russia                   5.880000
          Slovak Republic          6.425000
          Slovenia                 5.933333
          Spain                    6.225000
          Sweden                   7.400000
          Switzerland              7.500000
          Turkey                   5.520000
          United Kingdom           6.860000
NA        Canada                   7.425000
          Mexico                   6.466667
          United States            7.000000
OC        Australia                7.350000
          New Zealand              7.300000
OECD      OECD - Total             6.480000
SA        Brazil                   6.400000
          Chile                    6.480000
          Colombia                 6.266667

Unit                                                                         \
Indicator                 Stakeholder engagement for developing regulations
Continent Country
AF        South Africa                                                  NaN
AS        Israel                                                        2.5
          Japan                                                         1.4
          Korea                                                         2.9
EU        Austria                                                       1.3
          Belgium                                                       2.0
          Czech Republic                                                1.6
          Denmark                                                       2.0
          Estonia                                                       2.7
          Finland                                                       2.2
          France                                                        2.1
          Germany                                                       1.8
          Greece                                                        1.8
          Hungary                                                       1.2
          Iceland                                                       2.1
          Ireland                                                       1.3
          Italy                                                         2.5
          Latvia                                                        2.2
          Lithuania                                                     2.4
          Luxembourg                                                    1.7
          Netherlands                                                   2.6
          Norway                                                        2.2
          Poland                                                        2.6
          Portugal                                                      1.5
          Russia                                                        NaN
          Slovak Republic                                               3.0
          Slovenia                                                      2.5
          Spain                                                         1.8
          Sweden                                                        2.0
          Switzerland                                                   2.3
          Turkey                                                        1.5
          United Kingdom                                                3.1
NA        Canada                                                        2.9
          Mexico                                                        3.2
          United States                                                 3.1
OC        Australia                                                     2.7
          New Zealand                                                   2.5
OECD      OECD - Total                                                  2.4
SA        Brazil                                                        2.2
          Chile                                                         1.3
          Colombia                                                      1.4

Unit                                      \
Indicator                 Student skills
Continent Country
AF        South Africa               NaN
AS        Israel                   470.0
          Japan                    528.8
          Korea                    520.0
EU        Austria                  492.8
          Belgium                  503.8
          Czech Republic           492.2
          Denmark                  505.2
          Estonia                  525.8
          Finland                  523.6
          France                   497.4
          Germany                  511.0
          Greece                   460.2
          Hungary                  475.0
          Iceland                  480.8
          Ireland                  509.8
          Italy                    485.0
          Latvia                   487.6
          Lithuania                476.6
          Luxembourg               485.4
          Netherlands              509.6
          Norway                   504.8
          Poland                   505.4
          Portugal                 499.4
          Russia                   491.8
          Slovak Republic          463.4
          Slovenia                 510.4
          Spain                    492.4
          Sweden                   497.0
          Switzerland              507.4
          Turkey                   426.8
          United Kingdom           502.4
NA        Canada                   523.2
          Mexico                   416.0
          United States            489.4
OC        Australia                411.2
          New Zealand              506.2
OECD      OECD - Total             490.4
SA        Brazil                   398.2
          Chile                    443.8
          Colombia                 412.8

Unit                                                          Hours  \
Indicator                 Time devoted to leisure and personal care
Continent Country
AF        South Africa                                    14.770000
AS        Israel                                                NaN
          Japan                                                 NaN
          Korea                                           14.583333
EU        Austria                                         14.530000
          Belgium                                         15.663333
          Czech Republic                                        NaN
          Denmark                                         15.873333
          Estonia                                         14.886667
          Finland                                         15.163333
          France                                          16.336667
          Germany                                         15.613333
          Greece                                                NaN
          Hungary                                               NaN
          Iceland                                               NaN
          Ireland                                               NaN
          Italy                                           16.313333
          Latvia                                          13.826667
          Lithuania                                             NaN
          Luxembourg                                            NaN
          Netherlands                                           NaN
          Norway                                          15.563333
          Poland                                          14.390000
          Portugal                                              NaN
          Russia                                                NaN
          Slovak Republic                                       NaN
          Slovenia                                        14.730000
          Spain                                           15.860000
          Sweden                                          15.176667
          Switzerland                                           NaN
          Turkey                                          14.653333
          United Kingdom                                  14.916667
NA        Canada                                          14.553333
          Mexico                                                NaN
          United States                                   14.440000
OC        Australia                                       14.350000
          New Zealand                                     14.883333
OECD      OECD - Total                                    14.896667
SA        Brazil                                                NaN
          Chile                                                 NaN
          Colombia                                              NaN

Unit                      Micrograms per cubic metre  \
Indicator                              Air pollution
Continent Country
AF        South Africa                          22.0
AS        Israel                                21.0
          Japan                                 14.0
          Korea                                 28.0
EU        Austria                               16.0
          Belgium                               15.0
          Czech Republic                        20.0
          Denmark                                9.0
          Estonia                                8.0
          Finland                                6.0
          France                                13.0
          Germany                               14.0
          Greece                                18.0
          Hungary                               19.0
          Iceland                                3.0
          Ireland                                7.0
          Italy                                 18.0
          Latvia                                11.0
          Lithuania                             14.0
          Luxembourg                            12.0
          Netherlands                           14.0
          Norway                                 5.0
          Poland                                22.0
          Portugal                              10.0
          Russia                                15.0
          Slovak Republic                       21.0
          Slovenia                              16.0
          Spain                                 11.0
          Sweden                                 6.0
          Switzerland                           15.0
          Turkey                                20.0
          United Kingdom                        11.0
NA        Canada                                 7.0
          Mexico                                16.0
          United States                         10.0
OC        Australia                              5.0
          New Zealand                            5.0
OECD      OECD - Total                          14.0
SA        Brazil                                10.0
          Chile                                 16.0
          Colombia                              10.0

Unit                                              Percentage  \
Indicator                 Dwellings without basic facilities
Continent Country
AF        South Africa                                  37.0
AS        Israel                                         NaN
          Japan                                          6.4
          Korea                                          2.5
EU        Austria                                        0.9
          Belgium                                        1.9
          Czech Republic                                 0.7
          Denmark                                        0.5
          Estonia                                        7.0
          Finland                                        0.5
          France                                         0.5
          Germany                                        0.2
          Greece                                         0.5
          Hungary                                        4.7
          Iceland                                        0.0
          Ireland                                        1.0
          Italy                                          0.7
          Latvia                                        13.9
          Lithuania                                     13.6
          Luxembourg                                     0.5
          Netherlands                                    0.1
          Norway                                         0.0
          Poland                                         3.0
          Portugal                                       1.0
          Russia                                        14.8
          Slovak Republic                                1.2
          Slovenia                                       0.4
          Spain                                          0.1
          Sweden                                         0.0
          Switzerland                                    0.1
          Turkey                                         8.0
          United Kingdom                                 0.3
NA        Canada                                         0.2
          Mexico                                        25.5
          United States                                  0.1
OC        Australia                                      NaN
          New Zealand                                    NaN
OECD      OECD - Total                                   4.4
SA        Brazil                                         6.7
          Chile                                          9.4
          Colombia                                      23.9

Unit                                              \
Indicator                 Educational attainment
Continent Country
AF        South Africa                 73.333333
AS        Israel                       87.333333
          Japan                              NaN
          Korea                        87.666667
EU        Austria                      85.000000
          Belgium                      77.000000
          Czech Republic               93.666667
          Denmark                      81.000000
          Estonia                      88.666667
          Finland                      88.000000
          France                       78.333333
          Germany                      86.666667
          Greece                       73.000000
          Hungary                      84.000000
          Iceland                      77.000000
          Ireland                      82.000000
          Italy                        61.000000
          Latvia                       87.666667
          Lithuania                    92.666667
          Luxembourg                   76.666667
          Netherlands                  78.333333
          Norway                       82.000000
          Poland                       92.000000
          Portugal                     47.666667
          Russia                       94.000000
          Slovak Republic              91.333333
          Slovenia                     88.000000
          Spain                        59.000000
          Sweden                       83.000000
          Switzerland                  87.666667
          Turkey                       39.000000
          United Kingdom               81.000000
NA        Canada                       91.333333
          Mexico                       37.666667
          United States                90.666667
OC        Australia                    81.000000
          New Zealand                  78.666667
OECD      OECD - Total                 78.333333
SA        Brazil                       49.000000
          Chile                        65.000000
          Colombia                     54.000000

Unit                                                                         \
Indicator                 Employees working very long hours Employment rate
Continent Country
AF        South Africa                            17.840000       43.333333
AS        Israel                                  15.273333       69.000000
          Japan                                         NaN       75.000000
          Korea                                         NaN       66.666667
EU        Austria                                  6.590000       72.000000
          Belgium                                  4.703333       63.333333
          Czech Republic                           5.496667       73.666667
          Denmark                                  2.316667       74.000000
          Estonia                                  2.436667       74.000000
          Finland                                  3.816667       70.333333
          France                                   7.656667       65.333333
          Germany                                  4.196667       75.333333
          Greece                                   6.280000       53.333333
          Hungary                                  2.976667       68.000000
          Iceland                                 14.866667       85.666667
          Ireland                                  5.260000       67.333333
          Italy                                    4.003333       58.000000
          Latvia                                   1.280000       70.000000
          Lithuania                                0.546667       70.333333
          Luxembourg                               3.740000       66.333333
          Netherlands                              0.413333       75.666667
          Norway                                   2.886667       74.000000
          Poland                                   5.823333       66.000000
          Portugal                                 8.340000       68.000000
          Russia                                   0.140000       70.333333
          Slovak Republic                          4.073333       66.000000
          Slovenia                                 4.333333       69.333333
          Spain                                    3.963333       62.333333
          Sweden                                   1.066667       76.666667
          Switzerland                              0.370000       79.666667
          Turkey                                  31.043333       51.666667
          United Kingdom                          12.123333       75.000000
NA        Canada                                   3.673333       73.333333
          Mexico                                  27.280000       61.666667
          United States                           10.990000       70.000000
OC        Australia                               12.840000       73.000000
          New Zealand                             15.036667       77.000000

In [96]:
dataset_multindex.index

MultiIndex([(  'AF',    'South Africa'),
            (  'AS',          'Israel'),
            (  'AS',           'Japan'),
            (  'AS',           'Korea'),
            (  'EU',         'Austria'),
            (  'EU',         'Belgium'),
            (  'EU',  'Czech Republic'),
            (  'EU',         'Denmark'),
            (  'EU',         'Estonia'),
            (  'EU',         'Finland'),
            (  'EU',          'France'),
            (  'EU',         'Germany'),
            (  'EU',          'Greece'),
            (  'EU',         'Hungary'),
            (  'EU',         'Iceland'),
            (  'EU',         'Ireland'),
            (  'EU',           'Italy'),
            (  'EU',          'Latvia'),
            (  'EU',       'Lithuania'),
            (  'EU',      'Luxembourg'),
            (  'EU',     'Netherlands'),
            (  'EU',          'Norway'),
            (  'EU',          'Poland'),
            (  'EU',        'Portugal'),
            (  'EU',          'Russia'),
            (  'EU', 'Slovak Republic'),
            (  'EU',        'Slovenia'),
            (  'EU',           'Spain'),
            (  'EU',          'Sweden'),
            (  'EU',     'Switzerland'),
            (  'EU',          'Turkey'),
            (  'EU',  'United Kingdom'),
            (  'NA',          'Canada'),
            (  'NA',          'Mexico'),
            (  'NA',   'United States'),
            (  'OC',       'Australia'),
            (  'OC',     'New Zealand'),
            ('OECD',    'OECD - Total'),
            (  'SA',          'Brazil'),
            (  'SA',           'Chile'),
            (  'SA',        'Colombia')],
           names=['Continent', 'Country'])

Ojo que las columnas tambi√©n son Indices!

In [97]:
dataset_multindex.columns.values

array([('Average score', 'Life satisfaction'),
       ('Average score', 'Stakeholder engagement for developing regulations'),
       ('Average score', 'Student skills'),
       ('Hours', 'Time devoted to leisure and personal care'),
       ('Micrograms per cubic metre', 'Air pollution'),
       ('Percentage', 'Dwellings without basic facilities'),
       ('Percentage', 'Educational attainment'),
       ('Percentage', 'Employees working very long hours'),
       ('Percentage', 'Employment rate'),
       ('Percentage', 'Feeling safe walking alone at night'),
       ('Percentage', 'Housing expenditure'),
       ('Percentage', 'Labour market insecurity'),
       ('Percentage', 'Long-term unemployment rate'),
       ('Percentage', 'Quality of support network'),
       ('Percentage', 'Self-reported health'),
       ('Percentage', 'Voter turnout'), ('Percentage', 'Water quality'),
       ('Ratio', 'Homicide rate'), ('Ratio', 'Rooms per person'),
       ('US Dollar', 'Household net adjusted disposable income'),
       ('US Dollar', 'Household net wealth'),
       ('US Dollar', 'Personal earnings'), ('Years', 'Life expectancy'),
       ('Years', 'Years in education')], dtype=object)

Podemos acceder a los indices de cada nivel usando `get_level_values`

In [98]:
dataset_multindex.columns.get_level_values(0)

Index(['Average score', 'Average score', 'Average score', 'Hours',
       'Micrograms per cubic metre', 'Percentage', 'Percentage', 'Percentage',
       'Percentage', 'Percentage', 'Percentage', 'Percentage', 'Percentage',
       'Percentage', 'Percentage', 'Percentage', 'Percentage', 'Ratio',
       'Ratio', 'US Dollar', 'US Dollar', 'US Dollar', 'Years', 'Years'],
      dtype='object', name='Unit')

In [99]:
dataset_multindex.columns.get_level_values(1)

Index(['Life satisfaction',
       'Stakeholder engagement for developing regulations', 'Student skills',
       'Time devoted to leisure and personal care', 'Air pollution',
       'Dwellings without basic facilities', 'Educational attainment',
       'Employees working very long hours', 'Employment rate',
       'Feeling safe walking alone at night', 'Housing expenditure',
       'Labour market insecurity', 'Long-term unemployment rate',
       'Quality of support network', 'Self-reported health', 'Voter turnout',
       'Water quality', 'Homicide rate', 'Rooms per person',
       'Household net adjusted disposable income', 'Household net wealth',
       'Personal earnings', 'Life expectancy', 'Years in education'],
      dtype='object', name='Indicator')

Tambi√©n a cierto nivel de las columnas

In [ ]:
dataset_multindex.index.get_level_values(0)

In [ ]:
dataset_multindex.index.get_level_values(1)

### Acceder a Multi-√çndices

> **Ejercicio ‚úèÔ∏è**: Seleccionar la fila que contiene a Chile

In [101]:
dataset_multindex

Unit                          Average score  \
Indicator                 Life satisfaction
Continent Country
AF        South Africa             4.700000
AS        Israel                   7.225000
          Japan                    5.900000
          Korea                    5.866667
EU        Austria                  7.225000
          Belgium                  7.000000
          Czech Republic           6.700000
          Denmark                  7.650000
          Estonia                  5.780000
          Finland                  7.660000
          France                   6.540000
          Germany                  7.100000
          Greece                   5.340000
          Hungary                  5.680000
          Iceland                  7.580000
          Ireland                  7.050000
          Italy                    6.140000
          Latvia                   5.940000
          Lithuania                5.980000
          Luxembourg               6.900000
          Netherlands              7.500000
          Norway                   7.620000
          Poland                   6.100000
          Portugal                 5.480000
          Russia                   5.880000
          Slovak Republic          6.425000
          Slovenia                 5.933333
          Spain                    6.225000
          Sweden                   7.400000
          Switzerland              7.500000
          Turkey                   5.520000
          United Kingdom           6.860000
NA        Canada                   7.425000
          Mexico                   6.466667
          United States            7.000000
OC        Australia                7.350000
          New Zealand              7.300000
OECD      OECD - Total             6.480000
SA        Brazil                   6.400000
          Chile                    6.480000
          Colombia                 6.266667

Unit                                                                         \
Indicator                 Stakeholder engagement for developing regulations
Continent Country
AF        South Africa                                                  NaN
AS        Israel                                                        2.5
          Japan                                                         1.4
          Korea                                                         2.9
EU        Austria                                                       1.3
          Belgium                                                       2.0
          Czech Republic                                                1.6
          Denmark                                                       2.0
          Estonia                                                       2.7
          Finland                                                       2.2
          France                                                        2.1
          Germany                                                       1.8
          Greece                                                        1.8
          Hungary                                                       1.2
          Iceland                                                       2.1
          Ireland                                                       1.3
          Italy                                                         2.5
          Latvia                                                        2.2
          Lithuania                                                     2.4
          Luxembourg                                                    1.7
          Netherlands                                                   2.6
          Norway                                                        2.2
          Poland                                                        2.6
          Portugal                                                      1.5
          Russia                                                        NaN
          Slovak Republic                                               3.0
          Slovenia                                                      2.5
          Spain                                                         1.8
          Sweden                                                        2.0
          Switzerland                                                   2.3
          Turkey                                                        1.5
          United Kingdom                                                3.1
NA        Canada                                                        2.9
          Mexico                                                        3.2
          United States                                                 3.1
OC        Australia                                                     2.7
          New Zealand                                                   2.5
OECD      OECD - Total                                                  2.4
SA        Brazil                                                        2.2
          Chile                                                         1.3
          Colombia                                                      1.4

Unit                                      \
Indicator                 Student skills
Continent Country
AF        South Africa               NaN
AS        Israel                   470.0
          Japan                    528.8
          Korea                    520.0
EU        Austria                  492.8
          Belgium                  503.8
          Czech Republic           492.2
          Denmark                  505.2
          Estonia                  525.8
          Finland                  523.6
          France                   497.4
          Germany                  511.0
          Greece                   460.2
          Hungary                  475.0
          Iceland                  480.8
          Ireland                  509.8
          Italy                    485.0
          Latvia                   487.6
          Lithuania                476.6
          Luxembourg               485.4
          Netherlands              509.6
          Norway                   504.8
          Poland                   505.4
          Portugal                 499.4
          Russia                   491.8
          Slovak Republic          463.4
          Slovenia                 510.4
          Spain                    492.4
          Sweden                   497.0
          Switzerland              507.4
          Turkey                   426.8
          United Kingdom           502.4
NA        Canada                   523.2
          Mexico                   416.0
          United States            489.4
OC        Australia                411.2
          New Zealand              506.2
OECD      OECD - Total             490.4
SA        Brazil                   398.2
          Chile                    443.8
          Colombia                 412.8

Unit                                                          Hours  \
Indicator                 Time devoted to leisure and personal care
Continent Country
AF        South Africa                                    14.770000
AS        Israel                                                NaN
          Japan                                                 NaN
          Korea                                           14.583333
EU        Austria                                         14.530000
          Belgium                                         15.663333
          Czech Republic                                        NaN
          Denmark                                         15.873333
          Estonia                                         14.886667
          Finland                                         15.163333
          France                                          16.336667
          Germany                                         15.613333
          Greece                                                NaN
          Hungary                                               NaN
          Iceland                                               NaN
          Ireland                                               NaN
          Italy                                           16.313333
          Latvia                                          13.826667
          Lithuania                                             NaN
          Luxembourg                                            NaN
          Netherlands                                           NaN
          Norway                                          15.563333
          Poland                                          14.390000
          Portugal                                              NaN
          Russia                                                NaN
          Slovak Republic                                       NaN
          Slovenia                                        14.730000
          Spain                                           15.860000
          Sweden                                          15.176667
          Switzerland                                           NaN
          Turkey                                          14.653333
          United Kingdom                                  14.916667
NA        Canada                                          14.553333
          Mexico                                                NaN
          United States                                   14.440000
OC        Australia                                       14.350000
          New Zealand                                     14.883333
OECD      OECD - Total                                    14.896667
SA        Brazil                                                NaN
          Chile                                                 NaN
          Colombia                                              NaN

Unit                      Micrograms per cubic metre  \
Indicator                              Air pollution
Continent Country
AF        South Africa                          22.0
AS        Israel                                21.0
          Japan                                 14.0
          Korea                                 28.0
EU        Austria                               16.0
          Belgium                               15.0
          Czech Republic                        20.0
          Denmark                                9.0
          Estonia                                8.0
          Finland                                6.0
          France                                13.0
          Germany                               14.0
          Greece                                18.0
          Hungary                               19.0
          Iceland                                3.0
          Ireland                                7.0
          Italy                                 18.0
          Latvia                                11.0
          Lithuania                             14.0
          Luxembourg                            12.0
          Netherlands                           14.0
          Norway                                 5.0
          Poland                                22.0
          Portugal                              10.0
          Russia                                15.0
          Slovak Republic                       21.0
          Slovenia                              16.0
          Spain                                 11.0
          Sweden                                 6.0
          Switzerland                           15.0
          Turkey                                20.0
          United Kingdom                        11.0
NA        Canada                                 7.0
          Mexico                                16.0
          United States                         10.0
OC        Australia                              5.0
          New Zealand                            5.0
OECD      OECD - Total                          14.0
SA        Brazil                                10.0
          Chile                                 16.0
          Colombia                              10.0

Unit                                              Percentage  \
Indicator                 Dwellings without basic facilities
Continent Country
AF        South Africa                                  37.0
AS        Israel                                         NaN
          Japan                                          6.4
          Korea                                          2.5
EU        Austria                                        0.9
          Belgium                                        1.9
          Czech Republic                                 0.7
          Denmark                                        0.5
          Estonia                                        7.0
          Finland                                        0.5
          France                                         0.5
          Germany                                        0.2
          Greece                                         0.5
          Hungary                                        4.7
          Iceland                                        0.0
          Ireland                                        1.0
          Italy                                          0.7
          Latvia                                        13.9
          Lithuania                                     13.6
          Luxembourg                                     0.5
          Netherlands                                    0.1
          Norway                                         0.0
          Poland                                         3.0
          Portugal                                       1.0
          Russia                                        14.8
          Slovak Republic                                1.2
          Slovenia                                       0.4
          Spain                                          0.1
          Sweden                                         0.0
          Switzerland                                    0.1
          Turkey                                         8.0
          United Kingdom                                 0.3
NA        Canada                                         0.2
          Mexico                                        25.5
          United States                                  0.1
OC        Australia                                      NaN
          New Zealand                                    NaN
OECD      OECD - Total                                   4.4
SA        Brazil                                         6.7
          Chile                                          9.4
          Colombia                                      23.9

Unit                                              \
Indicator                 Educational attainment
Continent Country
AF        South Africa                 73.333333
AS        Israel                       87.333333
          Japan                              NaN
          Korea                        87.666667
EU        Austria                      85.000000
          Belgium                      77.000000
          Czech Republic               93.666667
          Denmark                      81.000000
          Estonia                      88.666667
          Finland                      88.000000
          France                       78.333333
          Germany                      86.666667
          Greece                       73.000000
          Hungary                      84.000000
          Iceland                      77.000000
          Ireland                      82.000000
          Italy                        61.000000
          Latvia                       87.666667
          Lithuania                    92.666667
          Luxembourg                   76.666667
          Netherlands                  78.333333
          Norway                       82.000000
          Poland                       92.000000
          Portugal                     47.666667
          Russia                       94.000000
          Slovak Republic              91.333333
          Slovenia                     88.000000
          Spain                        59.000000
          Sweden                       83.000000
          Switzerland                  87.666667
          Turkey                       39.000000
          United Kingdom               81.000000
NA        Canada                       91.333333
          Mexico                       37.666667
          United States                90.666667
OC        Australia                    81.000000
          New Zealand                  78.666667
OECD      OECD - Total                 78.333333
SA        Brazil                       49.000000
          Chile                        65.000000
          Colombia                     54.000000

Unit                                                                         \
Indicator                 Employees working very long hours Employment rate
Continent Country
AF        South Africa                            17.840000       43.333333
AS        Israel                                  15.273333       69.000000
          Japan                                         NaN       75.000000
          Korea                                         NaN       66.666667
EU        Austria                                  6.590000       72.000000
          Belgium                                  4.703333       63.333333
          Czech Republic                           5.496667       73.666667
          Denmark                                  2.316667       74.000000
          Estonia                                  2.436667       74.000000
          Finland                                  3.816667       70.333333
          France                                   7.656667       65.333333
          Germany                                  4.196667       75.333333
          Greece                                   6.280000       53.333333
          Hungary                                  2.976667       68.000000
          Iceland                                 14.866667       85.666667
          Ireland                                  5.260000       67.333333
          Italy                                    4.003333       58.000000
          Latvia                                   1.280000       70.000000
          Lithuania                                0.546667       70.333333
          Luxembourg                               3.740000       66.333333
          Netherlands                              0.413333       75.666667
          Norway                                   2.886667       74.000000
          Poland                                   5.823333       66.000000
          Portugal                                 8.340000       68.000000
          Russia                                   0.140000       70.333333
          Slovak Republic                          4.073333       66.000000
          Slovenia                                 4.333333       69.333333
          Spain                                    3.963333       62.333333
          Sweden                                   1.066667       76.666667
          Switzerland                              0.370000       79.666667
          Turkey                                  31.043333       51.666667
          United Kingdom                          12.123333       75.000000
NA        Canada                                   3.673333       73.333333
          Mexico                                  27.280000       61.666667
          United States                           10.990000       70.000000
OC        Australia                               12.840000       73.000000
          New Zealand                             15.036667       77.000000

In [103]:
dataset_multindex.loc[[('SA', 'Chile')], :]

Unit                  Average score  \
Indicator         Life satisfaction
Continent Country
SA        Chile                6.48

Unit                                                                 \
Indicator         Stakeholder engagement for developing regulations
Continent Country
SA        Chile                                                 1.3

Unit                                                                 Hours  \
Indicator         Student skills Time devoted to leisure and personal care
Continent Country
SA        Chile            443.8                                       NaN

Unit              Micrograms per cubic metre  \
Indicator                      Air pollution
Continent Country
SA        Chile                         16.0

Unit                                      Percentage                         \
Indicator         Dwellings without basic facilities Educational attainment
Continent Country
SA        Chile                                  9.4                   65.0

Unit                                                                 \
Indicator         Employees working very long hours Employment rate
Continent Country
SA        Chile                            9.316667       62.666667

Unit                                                   ...  \
Indicator         Feeling safe walking alone at night  ...
Continent Country                                      ...
SA        Chile                                  48.0  ...

Unit                                                                \
Indicator         Self-reported health Voter turnout Water quality
Continent Country
SA        Chile                   57.0          47.0          71.0

Unit                      Ratio                   \
Indicator         Homicide rate Rooms per person
Continent Country
SA        Chile             4.2              1.2

Unit                                             US Dollar  \
Indicator         Household net adjusted disposable income
Continent Country
SA        Chile                                        NaN

Unit                                                               Years  \
Indicator         Household net wealth Personal earnings Life expectancy
Continent Country
SA        Chile               100967.0           25879.0            79.9

Unit
Indicator         Years in education
Continent Country
SA        Chile                 17.5

[1 rows x 24 columns]

> **Ejercicio ‚úèÔ∏è**: Seleccionar las columnas de los indicadores basados en Porcentajes.

In [106]:
dataset_multindex.loc[:, ['Percentage']]

Unit                                              Percentage  \
Indicator                 Dwellings without basic facilities
Continent Country
AF        South Africa                                  37.0
AS        Israel                                         NaN
          Japan                                          6.4
          Korea                                          2.5
EU        Austria                                        0.9
          Belgium                                        1.9
          Czech Republic                                 0.7
          Denmark                                        0.5
          Estonia                                        7.0
          Finland                                        0.5
          France                                         0.5
          Germany                                        0.2
          Greece                                         0.5
          Hungary                                        4.7
          Iceland                                        0.0
          Ireland                                        1.0
          Italy                                          0.7
          Latvia                                        13.9
          Lithuania                                     13.6
          Luxembourg                                     0.5
          Netherlands                                    0.1
          Norway                                         0.0
          Poland                                         3.0
          Portugal                                       1.0
          Russia                                        14.8
          Slovak Republic                                1.2
          Slovenia                                       0.4
          Spain                                          0.1
          Sweden                                         0.0
          Switzerland                                    0.1
          Turkey                                         8.0
          United Kingdom                                 0.3
NA        Canada                                         0.2
          Mexico                                        25.5
          United States                                  0.1
OC        Australia                                      NaN
          New Zealand                                    NaN
OECD      OECD - Total                                   4.4
SA        Brazil                                         6.7
          Chile                                          9.4
          Colombia                                      23.9

Unit                                              \
Indicator                 Educational attainment
Continent Country
AF        South Africa                 73.333333
AS        Israel                       87.333333
          Japan                              NaN
          Korea                        87.666667
EU        Austria                      85.000000
          Belgium                      77.000000
          Czech Republic               93.666667
          Denmark                      81.000000
          Estonia                      88.666667
          Finland                      88.000000
          France                       78.333333
          Germany                      86.666667
          Greece                       73.000000
          Hungary                      84.000000
          Iceland                      77.000000
          Ireland                      82.000000
          Italy                        61.000000
          Latvia                       87.666667
          Lithuania                    92.666667
          Luxembourg                   76.666667
          Netherlands                  78.333333
          Norway                       82.000000
          Poland                       92.000000
          Portugal                     47.666667
          Russia                       94.000000
          Slovak Republic              91.333333
          Slovenia                     88.000000
          Spain                        59.000000
          Sweden                       83.000000
          Switzerland                  87.666667
          Turkey                       39.000000
          United Kingdom               81.000000
NA        Canada                       91.333333
          Mexico                       37.666667
          United States                90.666667
OC        Australia                    81.000000
          New Zealand                  78.666667
OECD      OECD - Total                 78.333333
SA        Brazil                       49.000000
          Chile                        65.000000
          Colombia                     54.000000

Unit                                                                         \
Indicator                 Employees working very long hours Employment rate
Continent Country
AF        South Africa                            17.840000       43.333333
AS        Israel                                  15.273333       69.000000
          Japan                                         NaN       75.000000
          Korea                                         NaN       66.666667
EU        Austria                                  6.590000       72.000000
          Belgium                                  4.703333       63.333333
          Czech Republic                           5.496667       73.666667
          Denmark                                  2.316667       74.000000
          Estonia                                  2.436667       74.000000
          Finland                                  3.816667       70.333333
          France                                   7.656667       65.333333
          Germany                                  4.196667       75.333333
          Greece                                   6.280000       53.333333
          Hungary                                  2.976667       68.000000
          Iceland                                 14.866667       85.666667
          Ireland                                  5.260000       67.333333
          Italy                                    4.003333       58.000000
          Latvia                                   1.280000       70.000000
          Lithuania                                0.546667       70.333333
          Luxembourg                               3.740000       66.333333
          Netherlands                              0.413333       75.666667
          Norway                                   2.886667       74.000000
          Poland                                   5.823333       66.000000
          Portugal                                 8.340000       68.000000
          Russia                                   0.140000       70.333333
          Slovak Republic                          4.073333       66.000000
          Slovenia                                 4.333333       69.333333
          Spain                                    3.963333       62.333333
          Sweden                                   1.066667       76.666667
          Switzerland                              0.370000       79.666667
          Turkey                                  31.043333       51.666667
          United Kingdom                          12.123333       75.000000
NA        Canada                                   3.673333       73.333333
          Mexico                                  27.280000       61.666667
          United States                           10.990000       70.000000
OC        Australia                               12.840000       73.000000
          New Zealand                             15.036667       77.000000
OECD      OECD - Total                            10.786667       68.000000
SA        Brazil                                   7.006667       61.000000
          Chile                                    9.316667       62.666667
          Colombia                                26.006667       67.000000

Unit                                                           \
Indicator                 Feeling safe walking alone at night
Continent Country
AF        South Africa                              36.333333
AS        Israel                                    69.966667
          Japan                                     72.800000
          Korea                                     66.666667
EU        Austria                                   80.700000
          Belgium                                   70.266667
          Czech Republic                            72.533333
          Denmark                                   83.566667
          Estonia                                   69.633333
          Finland                                   85.266667
          France                                    70.700000
          Germany                                   72.600000
          Greece                                    60.200000
          Hungary                                   56.700000
          Iceland                                   86.300000
          Ireland                                   76.000000
          Italy                                     58.600000
          Latvia                                    63.066667
          Lithuania                                 56.233333
          Luxembourg                                75.866667
          Netherlands                               82.066667
          Norway                                    90.033333
          Poland                                    67.466667
          Portugal                                  73.766667
          Russia                                    53.466667
          Slovak Republic                           63.700000
          Slovenia                                  86.166667
          Spain                                     82.166667
          Sweden                                    75.566667
          Switzerland                               85.333333
          Turkey                                    59.833333
          United Kingdom                            77.766667
NA        Canada                                    82.500000
          Mexico                                    41.966667
          United States                             73.900000
OC        Australia                                 64.133333
          New Zealand                               66.266667
OECD      OECD - Total                              68.500000
SA        Brazil                                    35.866667
          Chile                                     48.000000
          Colombia                                  44.566667

Unit                                                                    \
Indicator                 Housing expenditure Labour market insecurity
Continent Country
AF        South Africa                   18.0                      NaN
AS        Israel                          NaN                    4.200
          Japan                          22.0                    2.220
          Korea                          15.0                    2.302
EU        Austria                        21.0                    4.076
          Belgium                        21.0                    4.052
          Czech Republic                 24.0                    7.208
          Denmark                        23.0                    4.606
          Estonia                        17.0                    4.392
          Finland                        23.0                    4.508
          France                         21.0                    8.380
          Germany                        20.0                    4.928
          Greece                         23.0                   29.200
          Hungary                        19.0                    5.256
          Iceland                        24.0                    0.662
          Ireland                        20.0                    8.784
          Italy                          23.0                   12.132
          Latvia                         23.0                   11.316
          Lithuania                      19.0                      NaN
          Luxembourg                     21.0                    1.722
          Netherlands                    19.0                    4.930
          Norway                         17.0                      NaN
          Poland                         22.0                    6.984
          Portugal                       21.0                    9.624
          Russia                         18.0                      NaN
          Slovak Republic                23.0                   21.376
          Slovenia                       18.0                    6.338
          Spain                          21.0                   23.792
          Sweden                         19.0                    4.232
          Switzerland                    22.0                      NaN
          Turkey                         20.0                   12.060
          United Kingdom                 26.0                    4.744
NA        Canada                         22.0                    7.048
          Mexico                         20.0                    5.396
          United States                  19.0                    9.072
OC        Australia                      20.0                    5.922
          New Zealand                    26.0                    4.700
OECD      OECD - Total                   20.0                    7.750
SA        Brazil                          NaN                      NaN
          Chile                          18.0                    8.168
          Colombia                       17.0                      NaN

Unit                                                   \
Indicator                 Long-term unemployment rate
Continent Country
AF        South Africa                      16.643333
AS        Israel                             0.486667
          Japan                              0.996667
          Korea                              0.050000
EU        Austria                            1.830000
          Belgium                            3.533333
          Czech Republic                     1.056667
          Denmark                            1.313333
          Estonia                            1.916667
          Finland                            2.123333
          France                             3.996667
          Germany                            1.556667
          Greece                            15.896667
          Hungary                            1.726667
          Iceland                            0.256667
          Ireland                            3.203333
          Italy                              6.640000
          Latvia                             3.353333
          Lithuania                          2.696667
          Luxembourg                         2.343333
          Netherlands                        1.976667
          Norway                             0.656667
          Poland                             1.513333
          Portugal                           4.430000
          Russia                             1.586667
          Slovak Republic                    4.773333
          Slovenia                           3.176667
          Spain                              7.710000
          Sweden                             1.113333
          Switzerland                        1.826667
          Turkey                             2.660000
          United Kingdom                     1.126667
NA        Canada                             0.763333
          Mexico                             0.066667
          United States                      0.656667
OC        Australia                          1.306667
          New Zealand                        0.736667
OECD      OECD - Total                       1.783333
SA        Brazil                                  NaN
          Chile                                   NaN
          Colombia                           0.820000

Unit                                                                       \
Indicator                 Quality of support network Self-reported health
Continent Country
AF        South Africa                     88.000000                  NaN
AS        Israel                           88.500000            86.750000
          Japan                            88.750000            34.800000
          Korea                            78.333333            33.000000
EU        Austria                          92.000000            70.600000
          Belgium                          92.000000            73.600000
          Czech Republic                   91.750000            60.800000
          Denmark                          95.500000            72.600000
          Estonia                          91.200000            54.400000
          Finland                          94.800000            70.200000
          France                           89.000000            66.400000
          Germany                          90.500000            65.400000
          Greece                           78.800000            76.000000
          Hungary                          85.500000            61.000000
          Iceland                          98.000000            76.000000
          Ireland                          95.000000            82.800000
          Italy                            91.800000            71.800000
          Latvia                           86.200000            48.000000
          Lithuania                        88.400000            45.600000
          Luxembourg                       93.000000            69.400000
          Netherlands                      91.000000            75.800000
          Norway                           94.000000            77.200000
          Poland                           86.000000            60.000000
          Portugal                         88.000000            48.200000
          Russia                           90.000000            43.333333
          Slovak Republic                  91.500000            68.600000
          Slovenia                         91.666667            64.400000
          Spain                            92.750000            74.000000
          Sweden                           91.500000            75.000000
          Switzerland                      93.333333            77.400000
          Turkey                           86.000000            70.400000
          United Kingdom                   94.000000            70.000000
NA        Canada                           93.250000            87.800000
          Mexico                           81.600000            65.666667
          United States                    91.750000            86.800000
OC        Australia                        95.250000            87.250000
          New Zealand                      96.250000            89.250000
OECD      OECD - Total                     88.400000            69.200000
SA        Brazil                           89.250000                  NaN
          Chile                            84.600000            57.000000
          Colombia                         89.000000                  NaN

Unit
Indicator                 Voter turnout Water quality
Continent Country
AF        South Africa             73.0     67.000000
AS        Israel                   72.0     67.000000
          Japan                    53.0     87.000000
          Korea                    77.0     76.000000
EU        Austria                  80.0     92.000000
          Belgium                  89.0     83.666667
          Czech Republic           61.0     86.666667
          Denmark                  86.0     95.000000
          Estonia                  64.0     84.000000
          Finland                  67.0     95.000000

> **Ejercicio ‚úèÔ∏è**: Seleccionar la columna que contiene a Life expectancy

In [110]:
dataset_multindex.columns.values

array([('Average score', 'Life satisfaction'),
       ('Average score', 'Stakeholder engagement for developing regulations'),
       ('Average score', 'Student skills'),
       ('Hours', 'Time devoted to leisure and personal care'),
       ('Micrograms per cubic metre', 'Air pollution'),
       ('Percentage', 'Dwellings without basic facilities'),
       ('Percentage', 'Educational attainment'),
       ('Percentage', 'Employees working very long hours'),
       ('Percentage', 'Employment rate'),
       ('Percentage', 'Feeling safe walking alone at night'),
       ('Percentage', 'Housing expenditure'),
       ('Percentage', 'Labour market insecurity'),
       ('Percentage', 'Long-term unemployment rate'),
       ('Percentage', 'Quality of support network'),
       ('Percentage', 'Self-reported health'),
       ('Percentage', 'Voter turnout'), ('Percentage', 'Water quality'),
       ('Ratio', 'Homicide rate'), ('Ratio', 'Rooms per person'),
       ('US Dollar', 'Household net adjusted disposable income'),
       ('US Dollar', 'Household net wealth'),
       ('US Dollar', 'Personal earnings'), ('Years', 'Life expectancy'),
       ('Years', 'Years in education')], dtype=object)

In [111]:
dataset_multindex.loc[:, [('Years', 'Life expectancy')]]

Unit                                Years
Indicator                 Life expectancy
Continent Country
AF        South Africa          57.500000
AS        Israel                82.466667
          Japan                 84.066667
          Korea                 82.366667
EU        Austria               81.700000
          Belgium               81.500000
          Czech Republic        79.100000
          Denmark               80.900000
          Estonia               77.766667
          Finland               81.500000
          France                82.366667
          Germany               81.066667
          Greece                81.466667
          Hungary               76.166667
          Iceland               82.266667
          Ireland               81.766667
          Italy                 83.300000
          Latvia                74.700000
          Lithuania             74.800000
          Luxembourg            82.766667
          Netherlands           81.600000
          Norway                82.466667
          Poland                77.966667
          Portugal              81.200000
          Russia                71.800000
          Slovak Republic       77.266667
          Slovenia              81.266667
          Spain                 83.400000
          Sweden                82.366667
          Switzerland           83.666667
          Turkey                78.000000
          United Kingdom        81.200000
NA        Canada                81.866667
          Mexico                75.400000
          United States         78.600000
OC        Australia             82.500000
          New Zealand           81.700000
OECD      OECD - Total          80.200000
SA        Brazil                74.766667
          Chile                 79.900000
          Colombia              76.233333

> **Ejercicio ‚úèÔ∏è**: Seleccionar la fila que contiene a Chile y la columna que contiene a Life expectancy

In [ ]:
dataset_multindex.loc[...]

> **Pregunta ‚ùì**: ¬øC√≥mo puedo solicitar `Housing expenditure` como `Employment rate` al mismo tiempo?

In [ ]:
dataset_multindex.head()

In [112]:
dataset_multindex.loc[
    :, [
        ("Percentage", "Housing expenditure"), 
        ("Percentage", "Employment rate")
    ]
]

Unit                               Percentage
Indicator                 Housing expenditure Employment rate
Continent Country
AF        South Africa                   18.0       43.333333
AS        Israel                          NaN       69.000000
          Japan                          22.0       75.000000
          Korea                          15.0       66.666667
EU        Austria                        21.0       72.000000
          Belgium                        21.0       63.333333
          Czech Republic                 24.0       73.666667
          Denmark                        23.0       74.000000
          Estonia                        17.0       74.000000
          Finland                        23.0       70.333333
          France                         21.0       65.333333
          Germany                        20.0       75.333333
          Greece                         23.0       53.333333
          Hungary                        19.0       68.000000
          Iceland                        24.0       85.666667
          Ireland                        20.0       67.333333
          Italy                          23.0       58.000000
          Latvia                         23.0       70.000000
          Lithuania                      19.0       70.333333
          Luxembourg                     21.0       66.333333
          Netherlands                    19.0       75.666667
          Norway                         17.0       74.000000
          Poland                         22.0       66.000000
          Portugal                       21.0       68.000000
          Russia                         18.0       70.333333
          Slovak Republic                23.0       66.000000
          Slovenia                       18.0       69.333333
          Spain                          21.0       62.333333
          Sweden                         19.0       76.666667
          Switzerland                    22.0       79.666667
          Turkey                         20.0       51.666667
          United Kingdom                 26.0       75.000000
NA        Canada                         22.0       73.333333
          Mexico                         20.0       61.666667
          United States                  19.0       70.000000
OC        Australia                      20.0       73.000000
          New Zealand                    26.0       77.000000
OECD      OECD - Total                   20.0       68.000000
SA        Brazil                          NaN       61.000000
          Chile                          18.0       62.666667
          Colombia                       17.0       67.000000

> **Pregunta ‚ùì:** ¬øPodr√° abreviarse?

In [113]:
dataset_multindex.loc[:, [("Percentage", ["Housing expenditure", "Employment rate"])]]

/home/pablo/miniconda3/lib/python3.9/site-packages/numpy/core/_asarray.py:102: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  return array(a, dtype, copy=False, order=order)

TypeError: unhashable type: 'list'

Este caso puede convertirse en un problema cuando sacamos muchas columnas, ya que tendremos que escribir muchas tuplas.

#### Opci√≥n: `IndexSlice`

`IndexSlice` soluciona el problema anteriormente mencionado al permitir seleccionar m√°s de un √≠ndice/columna por nivel:

In [115]:
idx = pd.IndexSlice
idx

In [114]:
idx = pd.IndexSlice

dataset_multindex.loc[
    :, idx["Percentage", ["Employees working very long hours", "Housing expenditure"]]
]

Unit                                             Percentage  \
Indicator                 Employees working very long hours
Continent Country
AF        South Africa                            17.840000
AS        Israel                                  15.273333
          Japan                                         NaN
          Korea                                         NaN
EU        Austria                                  6.590000
          Belgium                                  4.703333
          Czech Republic                           5.496667
          Denmark                                  2.316667
          Estonia                                  2.436667
          Finland                                  3.816667
          France                                   7.656667
          Germany                                  4.196667
          Greece                                   6.280000
          Hungary                                  2.976667
          Iceland                                 14.866667
          Ireland                                  5.260000
          Italy                                    4.003333
          Latvia                                   1.280000
          Lithuania                                0.546667
          Luxembourg                               3.740000
          Netherlands                              0.413333
          Norway                                   2.886667
          Poland                                   5.823333
          Portugal                                 8.340000
          Russia                                   0.140000
          Slovak Republic                          4.073333
          Slovenia                                 4.333333
          Spain                                    3.963333
          Sweden                                   1.066667
          Switzerland                              0.370000
          Turkey                                  31.043333
          United Kingdom                          12.123333
NA        Canada                                   3.673333
          Mexico                                  27.280000
          United States                           10.990000
OC        Australia                               12.840000
          New Zealand                             15.036667
OECD      OECD - Total                            10.786667
SA        Brazil                                   7.006667
          Chile                                    9.316667
          Colombia                                26.006667

Unit
Indicator                 Housing expenditure
Continent Country
AF        South Africa                   18.0
AS        Israel                          NaN
          Japan                          22.0
          Korea                          15.0
EU        Austria                        21.0
          Belgium                        21.0
          Czech Republic                 24.0
          Denmark                        23.0
          Estonia                        17.0
          Finland                        23.0
          France                         21.0
          Germany                        20.0
          Greece                         23.0
          Hungary                        19.0
          Iceland                        24.0
          Ireland                        20.0
          Italy                          23.0
          Latvia                         23.0
          Lithuania                      19.0
          Luxembourg                     21.0
          Netherlands                    19.0
          Norway                         17.0
          Poland                         22.0
          Portugal                       21.0
          Russia                         18.0
          Slovak Republic                23.0
          Slovenia                       18.0
          Spain                          21.0
          Sweden                         19.0
          Switzerland                    22.0
          Turkey                         20.0
          United Kingdom                 26.0
NA        Canada                         22.0
          Mexico                         20.0
          United States                  19.0
OC        Australia                      20.0
          New Zealand                    26.0
OECD      OECD - Total                   20.0
SA        Brazil                          NaN
          Chile                          18.0
          Colombia                       17.0

Lo siguiente extiende el ejemplo anterior para seleccionar los paises de Norte y Sudamerica.

In [ ]:
dataset_multindex.loc[
    idx[["NA", "SA"]],
    idx["Percentage", ["Employees working very long hours", "Housing expenditure"]],
]

Incluso, puede pedir m√°s de un √≠ndice/columna por cada nivel:

In [116]:
dataset_multindex.loc[
    :,
    idx[
        ["Hours", "Percentage"],
        [
            "Time devoted to leisure and personal care",
            "Employees working very long hours",
            "Housing expenditure",
        ],
    ],
]

Unit                                                          Hours  \
Indicator                 Time devoted to leisure and personal care
Continent Country
AF        South Africa                                    14.770000
AS        Israel                                                NaN
          Japan                                                 NaN
          Korea                                           14.583333
EU        Austria                                         14.530000
          Belgium                                         15.663333
          Czech Republic                                        NaN
          Denmark                                         15.873333
          Estonia                                         14.886667
          Finland                                         15.163333
          France                                          16.336667
          Germany                                         15.613333
          Greece                                                NaN
          Hungary                                               NaN
          Iceland                                               NaN
          Ireland                                               NaN
          Italy                                           16.313333
          Latvia                                          13.826667
          Lithuania                                             NaN
          Luxembourg                                            NaN
          Netherlands                                           NaN
          Norway                                          15.563333
          Poland                                          14.390000
          Portugal                                              NaN
          Russia                                                NaN
          Slovak Republic                                       NaN
          Slovenia                                        14.730000
          Spain                                           15.860000
          Sweden                                          15.176667
          Switzerland                                           NaN
          Turkey                                          14.653333
          United Kingdom                                  14.916667
NA        Canada                                          14.553333
          Mexico                                                NaN
          United States                                   14.440000
OC        Australia                                       14.350000
          New Zealand                                     14.883333
OECD      OECD - Total                                    14.896667
SA        Brazil                                                NaN
          Chile                                                 NaN
          Colombia                                              NaN

Unit                                             Percentage  \
Indicator                 Employees working very long hours
Continent Country
AF        South Africa                            17.840000
AS        Israel                                  15.273333
          Japan                                         NaN
          Korea                                         NaN
EU        Austria                                  6.590000
          Belgium                                  4.703333
          Czech Republic                           5.496667
          Denmark                                  2.316667
          Estonia                                  2.436667
          Finland                                  3.816667
          France                                   7.656667
          Germany                                  4.196667
          Greece                                   6.280000
          Hungary                                  2.976667
          Iceland                                 14.866667
          Ireland                                  5.260000
          Italy                                    4.003333
          Latvia                                   1.280000
          Lithuania                                0.546667
          Luxembourg                               3.740000
          Netherlands                              0.413333
          Norway                                   2.886667
          Poland                                   5.823333
          Portugal                                 8.340000
          Russia                                   0.140000
          Slovak Republic                          4.073333
          Slovenia                                 4.333333
          Spain                                    3.963333
          Sweden                                   1.066667
          Switzerland                              0.370000
          Turkey                                  31.043333
          United Kingdom                          12.123333
NA        Canada                                   3.673333
          Mexico                                  27.280000
          United States                           10.990000
OC        Australia                               12.840000
          New Zealand                             15.036667
OECD      OECD - Total                            10.786667
SA        Brazil                                   7.006667
          Chile                                    9.316667
          Colombia                                26.006667

Unit
Indicator                 Housing expenditure
Continent Country
AF        South Africa                   18.0
AS        Israel                          NaN
          Japan                          22.0
          Korea                          15.0
EU        Austria                        21.0
          Belgium                        21.0
          Czech Republic                 24.0
          Denmark                        23.0
          Estonia                        17.0
          Finland                        23.0
          France                         21.0
          Germany                        20.0
          Greece                         23.0
          Hungary                        19.0
          Iceland                        24.0
          Ireland                        20.0
          Italy                          23.0
          Latvia                         23.0
          Lithuania                      19.0
          Luxembourg                     21.0
          Netherlands                    19.0
          Norway                         17.0
          Poland                         22.0
          Portugal                       21.0
          Russia                         18.0
          Slovak Republic                23.0
          Slovenia                       18.0
          Spain                          21.0
          Sweden                         19.0
          Switzerland                    22.0
          Turkey                         20.0
          United Kingdom                 26.0
NA        Canada                         22.0
          Mexico                         20.0
          United States                  19.0
OC        Australia                      20.0
          New Zealand                    26.0
OECD      OECD - Total                   20.0
SA        Brazil                          NaN
          Chile                          18.0
          Colombia                       17.0

Que ser√≠a lo mismo que indexar usando `:` (es decir, seleccionar todo ese multi-√≠ndice)

In [118]:
dataset_multindex.loc[
    idx[: ,['Chile', 'Israel']],
    idx[
        :,
        [
            "Time devoted to leisure and personal care",
            "Employees working very long hours",
            "Housing expenditure",
        ],
    ],
]

Unit                                                  Hours  \
Indicator         Time devoted to leisure and personal care
Continent Country
AS        Israel                                        NaN
SA        Chile                                         NaN

Unit                                     Percentage
Indicator         Employees working very long hours Housing expenditure
Continent Country
AS        Israel                          15.273333                 NaN
SA        Chile                            9.316667                18.0

### `droplevel`

El m√©todo `droplevel` nos permite eliminar un nivel de un multi-√≠ndice, tanto para filas como para columnas.
Recibe como par√°metros el nivel (partiendo por 0 desde afuera hacia adentro) y el eje (axis):

In [ ]:
dataset_multindex.head()

In [ ]:
dataset_multindex.droplevel(0, axis=0).head()

In [ ]:
dataset_multindex.droplevel(1, axis=0).head()

In [ ]:
dataset_multindex.droplevel(0, axis=1).head()

Noten que estos m√©todos generan DataFrames nuevos. Por ende, al ejecutarse deben reemplazar los `DataFrames` originales.

---

## 7.- Fundir / Melt

El proceso inverso al pivoteado:

![Melt](./resources/melt.png)

En este caso retornaremos a algo similar al formato original del dataset:

In [91]:
bli_df.head()

,Country,Air pollution,Dwellings without basic facilities,Educational attainment,Employees working very long hours,Employment rate,Feeling safe walking alone at night,Homicide rate,Household net adjusted disposable income,Household net wealth,...,Quality of support network,Rooms per person,Self-reported health,Stakeholder engagement for developing regulations,Student skills,Time devoted to leisure and personal care,Voter turnout,Water quality,Years in education,GPD per capita (2018)
0,Australia,5.0,NaN,81.000000,12.840000,73.000000,64.133333,1.100000,32759.0,427064.0,...,95.25,NaN,87.25,2.7,411.2,14.350000,91.0,92.666667,20.966667,57395.919470
1,Austria,16.0,0.9,85.000000,6.590000,72.000000,80.700000,0.466667,33541.0,308325.0,...,92.00,1.6,70.60,1.3,492.8,14.530000,80.0,92.000000,17.000000,51525.046430
2,Belgium,15.0,1.9,77.000000,4.703333,63.333333,70.266667,1.033333,30364.0,386006.0,...,92.00,2.2,73.60,2.0,503.8,15.663333,89.0,83.666667,19.300000,47491.323260
3,Brazil,10.0,6.7,49.000000,7.006667,61.000000,35.866667,27.000000,NaN,NaN,...,89.25,NaN,NaN,2.2,398.2,NaN,79.0,73.000000,16.166667,9001.234249
4,Canada,7.0,0.2,91.333333,3.673333,73.333333,82.500000,1.266667,30854.0,423849.0,...,93.25,2.6,87.80,2.9,523.2,14.553333,68.0,91.000000,17.333333,46313.171370

In [92]:
bli_df.melt(id_vars=["Country"])

             Country               variable         value
0          Australia          Air pollution      5.000000
1            Austria          Air pollution     16.000000
2            Belgium          Air pollution     15.000000
3             Brazil          Air pollution     10.000000
4             Canada          Air pollution      7.000000
...              ...                    ...           ...
1020          Sweden  GPD per capita (2018)  54589.060390
1021     Switzerland  GPD per capita (2018)  82818.108160
1022          Turkey  GPD per capita (2018)   9370.176355
1023  United Kingdom  GPD per capita (2018)  43043.227820
1024   United States  GPD per capita (2018)  62996.664820

[1025 rows x 3 columns]

Usando su argumento `value_vars` podemos seleccionar solo alguna de las columnas que deseamos operar con `melt`.
De todas formas, este comportamiento tambi√©n puede ser logrado usando un simple indexador `.loc`

In [93]:
bli_df.melt(id_vars=["Country"], value_vars=["Air pollution", "Water quality"])

           Country       variable      value
0        Australia  Air pollution   5.000000
1          Austria  Air pollution  16.000000
2          Belgium  Air pollution  15.000000
3           Brazil  Air pollution  10.000000
4           Canada  Air pollution   7.000000
..             ...            ...        ...
77          Sweden  Water quality  96.000000
78     Switzerland  Water quality  95.333333
79          Turkey  Water quality  65.000000
80  United Kingdom  Water quality  83.666667
81   United States  Water quality  82.666667

[82 rows x 3 columns]