# Clase 10: Multi-√çndices, Pivoteo, Melt, Concatenaci√≥n y Combinaci√≥n de M√∫ltiples Fuentes de Datos

**MDS7202: Laboratorio de Programaci√≥n Cient√≠fica para Ciencia de Datos**

## Objetivos de la Clase

- Comprender como fusionar distintas fuentes de datos a partir de `concatenaciones` y `merge`.
- Profundizar el uso de los multi-√≠ndices de pandas.
- Reorganizar los datos usando `melt` y `pivot`

## Datasets de Hoy

### √çndices para una Vida Mejor

Nuevamente, seguiremos usando los datos de √≠ndices para una Vida Mejor de la OECD:


<img src="https://raw.githubusercontent.com/MDS7202/MDS7202/main/recursos/2023-01/10-Pandas3/oecd.png" alt="OECD Better life index"/>


http://www.oecdbetterlifeindex.org/

https://stats.oecd.org/index.aspx?DataSetCode=BLI

Son 11 temas considerados como esenciales para el bienestar de la poblaci√≥n. Cada crierio contiene uno o mas indicadores

| Tema | Indicador (Ingl√©s) | Indicador (Espa√±ol) | Unidad | Descripci√≥n |
|---|---|---|---|---|
| Vivienda üè† | Dwellings without basic facilities | Vivienda con Instalaciones B√°sicas | Porcentaje | Porcentaje de personas con inodoros de agua corriente dentro del hogar, a√±o disponible m√°s reciente |
|  | Housing expenditure | Gastos en Vivienda | Porcentaje | Proporci√≥n de costos de vivienda en el ingreso neto ajustado de las familias, a√±o disponible m√°s reciente |
|  | Rooms per person | Habitaciones por Persona | Ratio | N√∫mero promedio de habitaciones compartidas por persona en una vivienda, a√±o disponible m√°s reciente |
| Ingresos üí∞ | Household net adjusted disposable income | Ingreso Familiar Disponible | US Dollar | Cantidad promedio de dinero que una familia gana al a√±o, despu√©s de impuestos, a√±o disponible m√°s reciente |
|  | Household net wealth | Patrimonio Neto Familiar | US Dollar | Valor total promedio de los activos financieros de una familia (ahorros, acciones) menos sus pasivos (cr√©ditos), a√±o disponible m√°s reciente |
| Empleo ‚öôÔ∏è | Labour market insecurity | Seguridad en el Empleo | Porcentaje | P√©rdida esperada de ingresos cuando alguien queda desempleado, a√±o disponible m√°s reciente |
|  | Employment rate | Tasa de Empleo | Porcentaje | Porcentaje de personas, de 15 a 64 a√±os de edad, actualmente con empleo remunerado, a√±o disponible m√°s reciente |
|  | Long-term unemployment rate | Tasa de Empleo a Largo Plazo | Porcentaje | Porcentaje de personas, de 15 a 64 a√±os de edad, que no trabajan pero que han buscado empleo activamente durante m√°s de un a√±o, a√±o disponible m√°s reciente |
|  | Personal earnings | Ingresos Personales | US Dollar | Ingresos anuales promedio por empleado de tiempo completo, a√±o disponible m√°s reciente |
| Comunidad üßë‚Äçü§ù‚Äçüßë   | Quality of support network  | Calidad del Apoyo Social | Porcentaje | Porcentaje de personas con amigos o parientes en quienes confiar en caso de necesidad |
| Educaci√≥n üìö | Educational attainment | Nivel de Educaci√≥n | Porcentaje | Porcentaje de personas, de 25 a 64 a√±os de edad, graduadas por lo menos de educaci√≥n media superior, a√±o disponible m√°s reciente |
|  | Student skills | Competencias de estudiantes en matem√°ticas, lectura y ciencias | Puntaje promedio | Desempe√±o promedio de estudiantes de 15 a√±os de edad, seg√∫n PISA (Programa para la Evaluaci√≥n Internacional de Estudiantes) |
|  | Years in education  | Nivel de educaci√≥n | A√±os | Duraci√≥n promedio de la educaci√≥n formal en la que un ni√±o de cinco a√±os de edad puede esperar matricularse durante su vida |
| Medio Ambiente üå≥ | Air pollution | Contaminaci√≥n del Aire | Microgramos por metro c√∫bico | Concentraci√≥n promedio de part√≠culas (PM2.5) en ciudades con poblaciones mayores de 100,000 personas, medida en microgramos por metro c√∫bico, a√±o disponible m√°s reciente |
|  | Water quality | Calidad del Agua | Porcentaje | Porcentaje de personas que informan estar satisfechas con la calidad del agua local |
| Compromiso C√≠vico üó≥Ô∏è  | Stakeholder engagement for developing regulations | Participaci√≥n de los interesados en la elaboraci√≥n de regulaciones | Puntaje promedio | Nivel de transparencia gubernamental al preparar las regulaciones, a√±o disponible m√°s reciente |
|  | Voter turnout | Participaci√≥n electoral | Porcentaje | Porcentaje de votantes registrados que votaron durante las elecciones recientes, a√±o disponible m√°s reciente |
| Salud ‚öïÔ∏è | Life expectancy | Esperanza de vida | A√±os | N√∫mero promedio de a√±os que una persona puede esperar vivir, a√±o disponible m√°s reciente |
|  | Self-reported health | Salud seg√∫n informan las personas | Porcentaje | Porcentaje de personas que informan que su salud es ¬´buena o muy buena¬ª, a√±o disponible m√°s reciente |
| Satisfacci√≥n ‚ú® | Life satisfaction | Satisfacci√≥n ante la vida | Puntaje promedio | Autoevaluaci√≥n promedio de satisfacci√≥n ante la vida, en una escala de 0 a 10 |
| Seguridad üåÉ | Feeling safe walking alone at night | Sentimiento de seguridad al caminar solos por la noche | Porcentaje | Porcentaje de personas que reportan sentirse seguras al caminar solas por la noche  |
|  | Homicide rate | Tasa de homicidios | Ratio | N√∫mero promedio de homicidios reportados por 100,000 personas, a√±o disponible m√°s reciente |
| Balance Vida Trabajo üßò | Employees working very long hours | Empleados que trabajan muchas horas | Porcentaje | Porcentaje de empleados que trabajan m√°s de cincuenta horas a la semana en promedio, a√±o disponible m√°s reciente |
|  | Time devoted to leisure and personal care | Tiempo destinado al ocio y el cuidado personal | Horas | N√∫mero promedio de minutos al d√≠a dedicados al ocio y el cuidado personal, incluidos el sue√±o y la alimentaci√≥n |

In [ ]:
import pandas as pd

bli_df = pd.read_excel("dataset.xlsx", header=1, index_col=0)
bli_df.head()

### Dataset de Temperaturas Globales

![wbg_climate](https://raw.githubusercontent.com/MDS7202/MDS7202/main/recursos/2023-01/10-Pandas3/wbg_climate.png)


https://climateknowledgeportal.worldbank.org/download-data

In [ ]:
temp_df = pd.read_csv(
    "temperature.csv")
temp_df.head(20)

In [ ]:
temp_df.shape

----

## 1.- Concatenaci√≥n


> Seg√∫n Wikipedia: *Es la operaci√≥n por la cual dos caracteres se unen para formar una cadena de caracteres (o string). Tambi√©n se pueden concatenar dos cadenas de caracteres o un car√°cter con una cadena para formar una cadena de mayor tama√±o*. Ejemplo:

In [ ]:
a = "Hola "

b = "a todos ü§ó"


a + b

La idea general de concatenar es unir 2 o m√°s `Dataframes` por filas o columnas.

<div align='center'>
    <img src='https://raw.githubusercontent.com/MDS7202/MDS7202/main/recursos/2023-01/10-Pandas3/concat.png' width=900/>
</div>


Todas las operaciones se hacen a trav√©s de la operaci√≥n sobre los √≠ndices de los `DataFrames`.

### 1.1 Caso 1: Concatenar Filas

En el caso de contactenar por filas `(axis=0)`, los `DataFrames` se unen al final a trav√©s de los √≠ndices.

<div align='center'>
    <img src='https://raw.githubusercontent.com/MDS7202/MDS7202/main/recursos/2023-01/10-Pandas3/merging_concat_basic.png' width=500/>
</div>

In [ ]:
bli_df.head(5)

In [ ]:
bli_df = bli_df.reset_index()

In [ ]:
sudamerica_df = bli_df.loc[
    bli_df["Country"].isin(
        [
            "Chile",
            "Brazil",
            "Colombia",
        ]
    ),
    :,
]

sudamerica_df

In [ ]:
norteamerica_df = bli_df[
    bli_df["Country"].isin(
        [
            "Canada",
            "United States",
            "Mexico",
        ]
    )
]

norteamerica_df

In [ ]:
oceania_df = bli_df.loc[bli_df["Country"].isin(["New Zealand", "Australia"]), :]
oceania_df

Para ejecutar la concatenaci√≥n, usamos el m√©todo `pd.concat` sobre un arreglo con los `DataFrames` por concatenar.

In [ ]:
df_concatenado_filas = pd.concat(
    [
        sudamerica_df, 
        norteamerica_df, 
        oceania_df
    ]
    , axis=0)
df_concatenado_filas

### 1.2 Caso 2: Concatenar Columnas

En este caso, los `DataFrames` se unen por los √≠ndices y las columnas.


<div align='center'>
    <img src='https://raw.githubusercontent.com/MDS7202/MDS7202/main/recursos/2023-01/10-Pandas3/merging_concat_mixed_ndim.png' width=700/>
</div>

In [ ]:
env_df = bli_df.loc[:, ["Country", "Air pollution", "Water quality"]]
env_df.head()

In [ ]:
health_df = bli_df.loc[
    :, [
        "Country", 
        "Self-reported health", 
        "Life expectancy", 
        "Life satisfaction",
    ]
]

health_df.head()

In [ ]:
env_heatlh_df = pd.concat(
    [env_df, health_df],
    axis=1
)

env_heatlh_df.head()

In [ ]:
env_heatlh_df.columns

In [ ]:
env_heatlh_df.loc[:, "Country"]

Nota: La uni√≥n sigue siendo por filas. Por ende, una columna repetida aparecer√° dos veces en el `DataFrame` resultante, como en el caso anterior con `Country`

> **Nota**: Para facilitar la pr√°ctica, solo dejaremos una columna `Country`

In [ ]:
env_heatlh_df.columns

In [ ]:
~env_heatlh_df.columns.duplicated()

In [ ]:
env_heatlh_df = env_heatlh_df.loc[:, ~env_heatlh_df.columns.duplicated()]
env_heatlh_df.head()

### 1.3 Un `DataFrame` tiene menos datos que el otro

En este caso, rellena los valores de las filas sin valor con `np.nan`.

<div align='center'>
    <img src='https://raw.githubusercontent.com/MDS7202/MDS7202/main/recursos/2023-01/10-Pandas3/merging_concat_axis1.png' width=800/>
</div>

In [ ]:
env_df_reducido = env_df[0:7]
env_df_reducido

In [ ]:
health_df

In [ ]:
pd.concat(
    [
        env_df_reducido, 
        health_df
    ], axis=1).head(15)

### 1.4 Error en par√°metro `axis`

In [ ]:
# concatenamos correctamente al igual que el ejemplo anterior
pd.concat([
    env_df.head(), 
    health_df.head()
], axis=1)

> **Pregunta ‚ùì**: ¬øQu√© sucede si nos equivocamos con el par√°metro `axis`?

In [ ]:
env_df.head()

In [ ]:
health_df.head()

In [ ]:
pd.concat([env_df.head(), health_df.head()], axis=0)

Incluso, en el caso que los √≠ndices no sean √∫tiles para unir filas, pueden especificar `ignore_index` como `True`.

In [ ]:
pd.concat([env_df.head(), health_df.head()], ignore_index=True)

---

## 2.- Agregaciones:  Breve repaso y preparaci√≥n de nuevos datos

Recordemos que podemos agregar datos seg√∫n alg√∫n grupo y calcular estad√≠sticas sobre estos.

El proceso consiste en tres pasos: 

1. Separar
2. Aplicar la funci√≥n.
3. Juntar.

<div align='center'>
    <img src='https://raw.githubusercontent.com/MDS7202/MDS7202/main/recursos/2023-01/10-Pandas3/group_by.png' width=900/>
</div>

In [ ]:
temp_df.head(10)

In [ ]:
prom = temp_df.groupby("Country").mean()
prom = prom.drop(columns=["Year"])
prom = prom.rename(columns={'Temperature': 'promedio'})
prom

In [ ]:
temp_df.groupby("Country").mean().drop(columns=["Year"])

In [ ]:
std = temp_df.groupby("Country").std().drop(columns=["Year"])
std = std.rename(columns={'Temperature': 'std'})
std

> **Pregunta ‚ùì**: ¬øC√≥mo podr√≠amos usar concat para juntar los promedios y desviaciones est√°ndar?

In [ ]:
df_unido = pd.concat([prom, std], axis=1)
df_unido

In [ ]:
t_agg_df = pd.concat([prom, std], axis=1)

### 2.1 `agg`

Recordemos el m√©todo `agg`, el cu√°l permite agregar datos por grupo usando una o m√°s operaciones:

In [ ]:
t_agg_df = temp_df.groupby("Country").agg(
    {"Temperature": ["median", "min", "max"]}
)
t_agg_df

In [ ]:
     (temp_df
        .groupby(["Country", "Year"])
        .agg({"Temperature": ["median", "min", "max"]})
        .droplevel(0, axis=1)
        .reset_index()
        .melt(id_vars=["Country", "Year"])
        .query("Country in ['Chile', 'Argentina', 'Brazil']"))

In [ ]:
import plotly.express as px

px.line(
    (
         temp_df
        .groupby(["Country", "Year"])
        .agg({"Temperature": ["median", "min", "max"]})
        .droplevel(0, axis=1)
        .reset_index()
        .melt(id_vars=["Country", "Year"])
        .query("Country in ['Chile', 'Argentina', 'Brazil']")
    ), 
    x="Year", 
    y="value", 
    color="variable", 
    facet_col="Country"
)

Este, como vimos anteriormente, retorna un multi-√≠ndice en las columnas:

In [ ]:
t_agg_df.columns

Haremos un peque√±o _fix_ did√°ctico: eliminaremos los multi√≠ndices de las filas y columnas para dejar listo el dataset para lo que viene.

In [ ]:
t_agg_df = t_agg_df.droplevel(0, axis=1).reset_index()
t_agg_df.columns = ["Country", "t_median", "t_min", "t_max"]
t_agg_df

In [ ]:
env_heatlh_df.head(10)

In [ ]:
t_agg_df.head(10)

### DataFrames Desalineados

> **Pregunta ‚ùì**: ¬øQu√© pasar√° al combinar el Dataset de *Better Life Index* con el de Temperaturas usando `concat`?

In [ ]:
env_heatlh_df

In [ ]:
t_agg_df.head(10)

In [ ]:
df_concat = pd.concat([env_heatlh_df, t_agg_df], axis=1)
df_concat

Parece que no funcion√≥ muy bien...

---

## 3.- Merge / Combinar usando un identificador com√∫n

Es una forma de combinar dos `DataFrames` en la que usamos los valores de columna como identificador comunes para concatenar el resto de los valores:

![Idea del Merge](https://raw.githubusercontent.com/MDS7202/MDS7202/main/recursos/2023-01/10-Pandas3/merge.png)


Es equivalente a las sentencias `JOIN` de SQL. Existen varios tipos. `Pandas` implementa 5 a trav√©s de la funci√≥n `pd.merge`.

En los siguientes ejemplos uniremos los datasets de la OECD y de temperatura agregada seg√∫n los distintos tipos de `Merge`. Ser√° de mucha utilidad pensar los `Merge` como operaciones sobre conjuntos.

In [ ]:
# Paises en el primer dataset
bli_df["Country"].unique()

In [ ]:
t_agg_df

In [ ]:
# Paises en el segundo dataset
t_agg_df["Country"].unique()

---

### Inner

Combina los elementos que se encuentren en ambas tablas. Descarta todo el resto

![Inner](https://raw.githubusercontent.com/MDS7202/MDS7202/main/recursos/2023-01/10-Pandas3/inner.png)

In [ ]:
env_heatlh_df.shape

In [ ]:
pd.merge(
    left=env_heatlh_df,
    right=t_agg_df,
    left_on="Country",
    right_on="Country",
    how="inner",
    sort=True,
)

### Left Merge

![Right Merge](https://raw.githubusercontent.com/MDS7202/MDS7202/main/recursos/2023-01/10-Pandas3/left.png)

Conserva solo los elementos que se hayan combinado correctamente provenientes dataset `left`.

In [ ]:
pd.merge(
    left=env_heatlh_df,
    right=t_agg_df,
    on="Country",
    how="left",
    sort=True,
)

### Right Merge

Conserva solo los elementos que se hayan combinado correctamente provenientes dataset `right`.

![Right Merge](https://raw.githubusercontent.com/MDS7202/MDS7202/main/recursos/2023-01/10-Pandas3/right.png)

In [ ]:
pd.merge(
    left=env_heatlh_df,
    right=t_agg_df,
    on="Country",
    how="right",
    sort=True,
)

### Outer

Combina todos los elementos posibles y conserva todo el resto en filas independientes.

![Outer Join](https://raw.githubusercontent.com/MDS7202/MDS7202/main/recursos/2023-01/10-Pandas3/outer.png)

In [ ]:
outer_merged_df = pd.merge(
    left=env_heatlh_df,
    right=t_agg_df,
    on="Country",
    sort=True,
    how="outer",
)
outer_merged_df

In [ ]:
outer_merged_df[outer_merged_df["Country"] == "OECD - Total"]

#### Con Indicador

In [ ]:
outer_merged_df = pd.merge(
    left=env_heatlh_df,
    right=t_agg_df,
    on="Country",
    how="outer",
    sort=True,
    indicator=True,
)
outer_merged_df

In [ ]:
outer_merged_df[outer_merged_df["_merge"] == "left_only"]

In [ ]:
outer_merged_df[outer_merged_df["_merge"] == "both"]

In [ ]:
outer_merged_df[outer_merged_df["_merge"] == "right_only"]

---

## 4.- Transponer Datos

Simplemente invertir las filas por las columnas.

In [ ]:
bli_df.T

---

## 5.- Pivotear Datos


El dataset que usamos la clase pasada est√° relativamente ordenado.

In [ ]:
bli_df.head(5).iloc[:, 0:20]

Sin embargo, originalmente ten√≠a la siguiente estructura:

In [ ]:
dataset_original = pd.read_csv("bli_original.csv", keep_default_na=False)
dataset_original

In [ ]:
bli_df.loc[:, ["Country", "Labour market insecurity"]]

In [ ]:
dataset_original.loc[:, ["Country", "Indicator", "Value"]].tail(20)

In [ ]:
dataset_original.loc[
    :, ["Continent", "Country", "Indicator", "Unit", "Value"]
].sort_values("Country").head(20)

In [ ]:
dataset_original.shape

Cada fila de este dataset contiene informaci√≥n acerca de los paises y de los indicadores y el valor del indicador. Esta forma es conocida como **long**. 

**Pivotear**

Para convertirla al formato con el que hemos estado trabajando, **wide**, debemos pivotear la tabla:

In [ ]:
dataset_original.head(3)

![Pivot](./resources/pivot.png)

In [ ]:
dataset_original["Indicator"].unique()

In [ ]:
dataset_original.head().loc[:, ["Country", "Indicator", "Value"]]

> **Ejercicio ‚úèÔ∏è**: Pivotear la tabla original de los datos de la OECD

In [ ]:
pd.pivot_table(
    dataset_original, 
    index='Country', 
    columns='Indicator', 
    values='Value'
).head(5)

---

## 6.- Multi-√çndices

Hasta el momento solo hemos trabajado con `Dataframes` que contienen solo un nivel de filas o columnas. Sin embargo, es posible tambi√©n agregar m√°s niveles a los indices y a las columnas. 
Esto se le conoce como multi-√≠ndice.

In [ ]:
dataset_original.loc[:, 
                     ["Continent", 
                      "Country", 
                      "Indicator", 
                      "Unit", 
                      "Value"]].head()

Para agregar niveles de columnas, en el proceso de pivoteo vamos a indicar que tanto `Unit` como `Indicator` sean niveles de las columnas; y que a la vez, tanto `Continent` como `Country` sean indices para las filas. 

El resultado de esto puede ser visto en el siguiente `DataFrame`:

In [ ]:
pd.set_option("display.max_columns", None)
pd.set_option("display.max_rows", 100)

In [ ]:
dataset_multindex = pd.pivot_table(
    dataset_original,
    index=["Continent", "Country"],
    columns=["Unit", "Indicator"],
    values="Value",
)
dataset_multindex

In [ ]:
dataset_multindex.index

Ojo que las columnas tambi√©n son Indices!

In [ ]:
dataset_multindex.columns.values

Podemos acceder a los indices de cada nivel usando `get_level_values`

In [ ]:
dataset_multindex

In [ ]:
dataset_multindex.columns.get_level_values(0)

In [ ]:
dataset_multindex.columns.get_level_values(1)

Tambi√©n a cierto nivel de las columnas

In [ ]:
dataset_multindex.index.get_level_values(0)

In [ ]:
dataset_multindex.index.get_level_values(1)

### Acceder a Multi-√çndices

> **Ejercicio ‚úèÔ∏è**: Seleccionar la fila que contiene a Chile

In [ ]:
dataset_multindex

In [ ]:
dataset_multindex.loc[[('SA', 'Chile')], :]

> **Ejercicio ‚úèÔ∏è**: Seleccionar las columnas de los indicadores basados en Porcentajes.

In [ ]:
dataset_multindex.loc[:, ['Percentage']]

> **Ejercicio ‚úèÔ∏è**: Seleccionar la columna que contiene a Life expectancy

In [ ]:
dataset_multindex.columns.values

In [ ]:
dataset_multindex.loc[:, [('Years', 'Life expectancy')]]

> **Ejercicio ‚úèÔ∏è**: Seleccionar la fila que contiene a Chile y la columna que contiene a Life expectancy

In [ ]:
dataset_multindex.loc[[("SA", "Chile")], [("Years", "Life expectancy")]]

> **Pregunta ‚ùì**: ¬øC√≥mo puedo solicitar `Housing expenditure` como `Employment rate` al mismo tiempo?

In [ ]:
dataset_multindex.head()

In [ ]:
dataset_multindex.loc[
    :, [
        ("Percentage", "Housing expenditure"), 
        ("Percentage", "Employment rate")
    ]
]

In [ ]:
dataset_multindex.loc[
    :, [
        ("Percentage", ["Housing expenditure", "Employment rate"]), 
    ]
]

> **Pregunta ‚ùì:** ¬øPodr√° abreviarse?

In [ ]:
dataset_multindex.loc[:, [("Percentage", ["Housing expenditure", "Employment rate"])]]

Este caso puede convertirse en un problema cuando sacamos muchas columnas, ya que tendremos que escribir muchas tuplas.

#### Opci√≥n: `IndexSlice`

`IndexSlice` soluciona el problema anteriormente mencionado al permitir seleccionar m√°s de un √≠ndice/columna por nivel:

In [ ]:
idx = pd.IndexSlice
idx

In [ ]:
idx = pd.IndexSlice

dataset_multindex.loc[
    :, idx["Percentage", [
        "Employees working very long hours", 
        "Housing expenditure"]]
]

Lo siguiente extiende el ejemplo anterior para seleccionar los paises de Norte y Sudamerica.

In [ ]:
dataset_multindex.loc[
    idx[["NA", "SA"]],
    idx["Percentage", ["Employees working very long hours", "Housing expenditure"]],
]

Incluso, puede pedir m√°s de un √≠ndice/columna por cada nivel:

In [ ]:
dataset_multindex.loc[
    :,
    idx[
        ["Hours", "Percentage"],
        [
            "Time devoted to leisure and personal care",
            "Employees working very long hours",
            "Housing expenditure",
        ],
    ],
]

Que ser√≠a lo mismo que indexar usando `:` (es decir, seleccionar todo ese multi-√≠ndice)

In [ ]:
dataset_multindex.loc[
    idx[: ,['Chile', 'Israel']],
    idx[
        :,
        [
            "Time devoted to leisure and personal care",
            "Employees working very long hours",
            "Housing expenditure",
        ],
    ],
]

### `droplevel`

El m√©todo `droplevel` nos permite eliminar un nivel de un multi-√≠ndice, tanto para filas como para columnas.
Recibe como par√°metros el nivel (partiendo por 0 desde afuera hacia adentro) y el eje (axis):

In [ ]:
dataset_multindex.head()

In [ ]:
dataset_multindex.droplevel(0, axis=0).head()

In [ ]:
dataset_multindex.droplevel(1, axis=0)

In [ ]:
dataset_multindex.droplevel(0, axis=1).head()

Noten que estos m√©todos generan DataFrames nuevos. Por ende, al ejecutarse deben reemplazar los `DataFrames` originales.

---

## 7.- Fundir / Melt

El proceso inverso al pivoteado:

![Melt](./resources/melt.png)

En este caso retornaremos a algo similar al formato original del dataset:

In [ ]:
bli_df.head()

In [ ]:
bli_df.melt(id_vars=["Country"])

Usando su argumento `value_vars` podemos seleccionar solo alguna de las columnas que deseamos operar con `melt`.
De todas formas, este comportamiento tambi√©n puede ser logrado usando un simple indexador `.loc`

In [ ]:
bli_df.melt(id_vars=["Country"], value_vars=["Air pollution", "Water quality"])