# Clase 11: Trabajo con texto, fechas y categorías

**MDS7202: Laboratorio de Programación Científica para Ciencia de Datos**

## Objetivos

- Comprender el cómo manipular y analizar de manera eficiente texto, fechas y categorías y efectiva t con Pandas.

In [ ]:
import pandas as pd

## Datasets de Hoy

In [ ]:
# setear opciones para mostrar todas las filas y columnas
# cuidado al ejecutar esto en sus notebooks, se puede quedar pegado el navegador!
pd.set_option("display.max_colwidth", None)
pd.set_option("display.max_colwidth", None)

## 1.- Strings

### Motivación

<div align='center'>
<img src='https://raw.githubusercontent.com/MDS7202/MDS7202/main/recursos/2023-01/11-Pandas4/pets.jpg' alt='Mascotas' width=600/>
</div>

Supongamos que poseemos un dataset generado a partir de [_web scrapping_](https://es.wikipedia.org/wiki/Web_scraping) que contiene el nombre de una mascota más el resumen (_abstract_) de la página asociada a estos en Wikipedia.

In [ ]:
mascotas = [
    [
        "Perro",
        "  El perro (Canis familiaris o Canis lupus familiaris, dependiendo de si "
        "se lo considera una especie por derecho propio o una subespecie del "
        "lobo),1​2​3​ llamado perro doméstico o can,4​ y en algunos lugares"
        " coloquialmente llamado chucho,5​ tuso,6​ choco,7​ entre otros; es un "
        "mamífero carnívoro de la familia de los cánidos, que constituye "
        "una especie del género Canis.8​9​. Posee un oído y un olfato muy "
        "desarrollados, y este último es su principal órgano sensorial.  \n"
        ],
    [
        "Gato",
        "  El gato doméstico1​2​ (Felis silvestris catus), llamado popularmente "
        "gato, y de forma coloquial minino,3​ michino,4​ michi,5​ micho,"
        "6​ mizo,7​ miz,8​ morroño9​ o morrongo,10​ entre otros nombres, es "
        "un mamífero carnívoro de la familia Felidae. Es una subespecie "
        "domesticada por la convivencia con el ser humano.  \n"
    ],
    [
        "Canario",
        "  El canario doméstico (Serinus canaria domestica)3​4​ es una "
        "subespecie desarrollada durante siglos de selección en cautividad "
        "partiendo de ejemplares del canario silvestre o canario salvaje "
        "(Serinus canaria), una especie de ave del orden paseriforme de "
        "la familia de los fringílidos, endémica de las islas Canarias, "
        "Azores y Madeira.5​6​   \n"
    ],
]
df_mascotas = pd.DataFrame(mascotas, columns=["nombre", "resumen"])
df_mascotas

Notemos qué sucede al acceder al resumen del Perro.

In [ ]:
resumen_perro = df_mascotas.loc[0, "resumen"]
resumen_perro

> **Pregunta ❓**: ¿Qué representa el símbolo `\n`?

> **Pregunta ❓:** ¿Podemos utilizar directamente el texto tal cuál está, por ejemplo, para hacer un buscador? ¿Qué poemos hacer al respecto?

En muchas ocasiones, los conjuntos de datos que se utilizan en análisis de datos incluyen una columna que contiene texto. Sin embargo, este texto no siempre está listo para ser utilizado directamente, ya que puede presentarse de manera desordenada y con errores. Por esta razón, es de suma importancia aprender a preprocesar el texto antes de utilizarlo en análisis posteriores.


Las `Series` de pandas implementan diversos métodos de procesamiento de string que permiten operar facilmente con estos. Por lo general, estos métodos son una réplica de los métodos originales de la clase built-in `string`, los cuales veremos a continuación:

### Métodos de la Clase String

Python cuenta con una variedad de métodos built-in para procesar strings. Algunos de los métodos más comunes son:

In [ ]:
resumen_perro

#### `len`

Devuelve la longitud de una cadena de caracteres

In [ ]:
len(resumen_perro)

#### `.lower`

Convierte todos los caracteres de un string a minúsculas.

In [ ]:
resumen_perro.lower()

#### `.upper()`

Convierte todos los caracteres de un string a mayúsculas.

In [ ]:
resumen_perro.upper()

#### `.title()`

title(): Convierte la primera letra de cada palabra de una cadena en mayúscula.

In [ ]:
resumen_perro.title()

#### `.capitalize()`

capitalize(): Convierte la primera letra de una cadena en mayúscula.

In [ ]:
resumen_perro.capitalize()

#### `.strip()`

Elimina los espacios en blanco al principio y al final de una cadena.

In [ ]:
resumen_perro

In [ ]:
resumen_perro.strip()

#### `.split()`

Divide una cadena en una lista de substrings, utilizando un string (habitualmente `" "`) como separador.

In [ ]:
resumen_perro

In [ ]:
resumen_perro.split(" ")

In [ ]:
resumen_perro

> **Pregunta: ❓**: ¿Cómo podría separar oraciones?

In [ ]:
oraciones_divididas = resumen_perro.split(".")

In [ ]:
for oracion in oraciones_divididas:
    print(oracion.strip().capitalize(), '\n')

#### `join("")`

Une una lista de strings en un único string según algún separador (comunmente un espacio `" "`, punto `"."` o salto e linea `"\n"`).

In [ ]:
"-".join(oraciones_divididas)

#### `str1 in str2`

Devuelve True si un substring está presente en un string.

In [ ]:
resumen_perro

In [ ]:
"perro" in resumen_perro

In [ ]:
"gato" in resumen_perro

#### `.replace()`

Reemplaza un substring con otro en una string.

In [ ]:
# por ejemplo, eliminar la palabra perro.

resumen_perro.replace("perro", "")

In [ ]:
# notar que es sensible a mayúsculas.
resumen_perro.replace("Perro", "")

In [ ]:
resumen_perro.replace("perro", "gato")

### Strings en pandas

La mayoría de los métodos de procesamiento de strings que se vieron anteriormente pueden ser ejecutados a través del atributo `.str` en las series de Pandas.

La idea detrás del uso de los métodos de .str es que el preprocesamiento se haga de manera ordenada y eficiente. Al utilizar estos métodos, los usuarios pueden aplicar una variedad de transformaciones a sus datos de texto en una sola línea de código, lo que facilita el procesamiento de grandes conjuntos de datos de texto.

In [ ]:
df_mascotas

In [ ]:
df_mascotas.loc[:, "resumen"]

#### Len, Lower, Upper, Title y Capitalize

In [ ]:
df_mascotas.loc[:, "resumen"].str

In [ ]:
df_mascotas.loc[:, "resumen"].str.len()

In [ ]:
df_mascotas.loc[:, "resumen"].str.lower()

In [ ]:
df_mascotas.loc[:, "resumen"].str.upper()

In [ ]:
df_mascotas.loc[:, "resumen"].str.title()

In [ ]:
df_mascotas.loc[:, "resumen"].str.capitalize()

#### Contains, Split y Join


> **Nota: 🗒️**: `.contains` reemplaza al operador `.in`

In [ ]:
df_mascotas.loc[:, "resumen"].str.contains("perro")

In [ ]:
df_mascotas.loc[:, "resumen"].str.contains("gato")

In [ ]:
df_mascotas.loc[:, "resumen"].str.split(" ")

In [ ]:
df_mascotas.loc[:, "resumen"].str.split(" ").str.join("|")

#### Replace

In [ ]:
df_mascotas.loc[:, "resumen"]

In [ ]:
(
    df_mascotas.loc[:, "resumen"]
    .str.replace("(", "", regex=False)
    .str.replace(")", "", regex=False)
)

> **Pregunta ❓:** ¿Qué indica el parámetro `regex`?

#### Expresiones Regulares

Las expresiones regulares son una herramienta de búsqueda y manipulación de texto que permiten encontrar patrones específicos en una cadena de caracteres.

Una expresión regular es una secuencia de caracteres que define un patrón de búsqueda. Los patrones pueden incluir caracteres específicos, combinaciones de caracteres, grupos de caracteres y operadores especiales que permiten hacer coincidir patrones complejos en el texto.

Aunque pueden parecer complicadas al principio, las expresiones regulares son una herramienta muy poderosa ya que pueden ser aplicadas en una amplia variedad de tareas de procesamiento de texto.


- Tutorial de regex: https://www.programiz.com/python-programming/regex
- Playground para probar regex online: https://regex101.com/

##### Sintaxis y reglas básicas

1. Usa caracteres literales para representar las letras y números que deseas buscar. Por ejemplo, la expresión regular `abc` buscará la cadena de texto `"abc"`.
2. Utiliza caracteres especiales para representar patrones de búsqueda más complejos. Por ejemplo, el carácter especial `"."` representa cualquier carácter, y el carácter especial `"^"` representa el inicio de una línea.
3. Utiliza corchetes para definir un conjunto de caracteres que deseas buscar. Por ejemplo, [abc] buscará cualquiera de los caracteres `"a"`, `"b"` o `"c"`.
4. Utiliza caracteres especiales como `*` o `+` para representar repeticiones de caracteres o patrones. Por ejemplo, `a*` buscará cero o más repeticiones de la letra `"a"` como `""`, `"a"`, `"aa"`, etc...; `a+` en cambio aceptará `"a"`, `"aa"`, etc...
5. Utiliza paréntesis para agrupar patrones y aplicar operadores a grupos de caracteres. Por ejemplo, `(abc)+` buscará una o más repeticiones de la cadena `"abc"`.
6. Utiliza el carácter especial `\` para escapar caracteres especiales (o sea, para tratar a *, +, [, ], etc... como texto) y tratarlos como caracteres literales. Por ejemplo, `\.com` buscará el texto `".com"`.
7. Utiliza el símbolo `^` para indicar que lo que se busca está al inicio de la línea, y el símbolo `$` para indica que lo que se busca el final de la línea. 
8. Uitiliza `\s+` para encontrar todos los espacios, `[0-9]` para buscar los dígitos (`[0-9]+` para uno o más de un dígito) y `[a-zA-Z]` para encontrar letras (`[a-zA-Z]+` para uno o más de una letra).

In [ ]:
# sintaxis regex

# en este caso se eliminan todas las comas
df_mascotas.loc[:, "resumen"].str.replace(",", "", regex=True).values

In [ ]:
# en este caso se eliminan todas las comas y los punto y coma.
# agregamos más de un caracter por eliminar usando []
df_mascotas.loc[:, "resumen"].str.replace("[,;]", "", regex=True).values

In [ ]:
# en este caso se eliminan todas las comas y los punto y coma y los puntos
# notar que el punto hay que escribirlo con un slash inverso \: \.
df_mascotas.loc[:, "resumen"].str.replace("[,;\.]", "", regex=True).values

In [ ]:
# mismo caso para los paréntesis ( y ) y corchetes [, ]: hay que agregar \.
df_mascotas.loc[:, "resumen"].str.replace("[,;\.\(\)\[\]\d]", "", regex=True).values

In [ ]:
# \d indica que se eliminarán todos todos los dígitos

df_mascotas.loc[:, "resumen"].str.replace("\d", "", regex=True)

In [ ]:
# todo junto:
df_mascotas.loc[:, "resumen"].str.replace("[,;\.\(\)\[\]\d]", "", regex=True).values

> **Pregunta ❓**: ¿Según las reglas que vimos anteriormente, habría una forma más rápida de limpiar un string?

In [ ]:
df_mascotas.loc[:, "resumen"].str.replace("[^A-Za-z]+", " ", regex=True).values

In [ ]:
df_mascotas.loc[:, "resumen"].str.replace("\b[^\W]+\b", " ", regex=True).values

 > Nota: 

- `\W` para buscar todas las palabras que no contienen caracteres que no sean letras ni números, incluyendo letras con acento. 
- `\b` se utiliza para indicar que la expresión regular debe buscar palabras completas, es decir, que no se debe incluir ninguna letra o número antes o después de la palabra.

### Paréntesis: Método `apply`

El método apply de Pandas se utiliza para aplicar una función a una columna o fila de un DataFrame. La función que se va a aplicar puede ser una función integrada de Python, una función definida por el usuario o una función lambda.

In [ ]:
df_mascotas.loc[:, "resumen"]

In [ ]:
def is_gato_in(value):
    if "gato" in value:
        return True
    else:
        return False

df_mascotas.loc[:, "resumen"].apply(is_gato_in)

In [ ]:
def seleccionar_10_caracteres(value):
    return value[0:10]

df_mascotas.loc[:, "resumen"].apply(seleccionar_10_caracteres)

In [ ]:
def limpiar(value):
    return value.replace(",", "").replace(";", "").lower()

df_mascotas.loc[:, "resumen"].apply(limpiar)

#### `strip_accents_ascii`

`strip_accents_ascii` se utiliza para eliminar los acentos y diacríticos de una cadena, convirtiendo los caracteres Unicode que representan los acentos y diacríticos en caracteres ASCII equivalentes.

In [ ]:
import unicodedata

def strip_accents_ascii(value):
    nkfd_form = unicodedata.normalize("NFKD", value)
    return nkfd_form.encode("ASCII", "ignore").decode("ASCII")

In [ ]:
strip_accents_ascii('doméstico')

In [ ]:
df_mascotas.loc[:, "resumen"]

In [ ]:
df_mascotas.loc[:, "resumen"].apply(strip_accents_ascii)

#### Uso de `.apply` sobre DataFrames

`apply` usada sobre un Dataframe permite ejecutar una función sobre las filas o columnas, lo que se indica a través del parámetro `axis`.

In [ ]:
def unir_nombre_y_descripcion(row):
    return row["nombre"] + " - " + row["resumen"]
    
# ojo: para aplicar en filas tiene que ser axis=1
df_mascotas.apply(unir_nombre_y_descripcion, axis=1)

In [ ]:
def unir_filas(col):
    return '|'.join(col)
    
# ojo: para aplicar en filas tiene que ser axis=1
df_mascotas.apply(unir_filas, axis=0)

#### Preprocesamiento Completo

In [ ]:
df_mascotas.loc[:, "resumen"].values

In [ ]:
df_mascotas_procesado = (
    df_mascotas.loc[:, "resumen"]
    .apply(strip_accents_ascii)
    .str.replace("[,;\.\(\)\[\]\d*]", "", regex=True)
    .str.replace(r"\s+", " ", regex=True) # en este caso se reemplazan todos los espacios por solo un espacio.
    .str.strip()
    .str.lower()
)

df_mascotas_procesado.values

---

## 2.- Fechas

### Dataset de Temperaturas Globales

![wbg_climate](https://raw.githubusercontent.com/MDS7202/MDS7202/main/recursos/2023-01/11-Pandas4/wbg_climate.png)


https://climateknowledgeportal.worldbank.org/download-data

In [ ]:
df_temp = pd.read_csv("./temperature.csv")
df_temp.head(3)

### Motivación

Las fechas y horarios son por lo general parte íntegra de los datos en muchas aplicaciones. Algunos ejemplos de uso de fechas y horarios en aplicaciones son el análisis de datos de ventas a lo largo del tiempo, el seguimiento de la evolución del clima, el análisis de la actividad del usuario en una plataforma digital, entre otros.

> **Pregunta ❓**: ¿Qué aplicación particular podríamos darle al manejar los datetimes del clima?

### Módulo `Datetime`

El módulo datetime en Python es una librería estándar (built-in) que proporciona clases y métodos para trabajar con fechas y horas los cuales simplifican la manipulación y cálculos ellos.

In [ ]:
import datetime

#### Date

Objeto que almacena día, mes y año.

In [ ]:
date_object = datetime.date.today()
print(date_object)

In [ ]:
date_object.day

In [ ]:
date_object.month

In [ ]:
date_object.year

#### Datetime

Almacena segundos, minutos, hora, día, mes y año. También puede contener timezone.

In [ ]:
datetime_object = datetime.datetime.now()
print(datetime_object)

#### Instanciar nuevos Date y Datetimes

In [ ]:
d = datetime.date(2021, 9, 9)
print(d)

In [ ]:
print("Año:", d.year)
print("Mes:", d.month)
print("Día:", d.day)

In [ ]:
d = datetime.datetime(2021, 4, 19, 10, 59, 55)
print(d)

In [ ]:
print("Hora:", d.hour)
print("Minuto:", d.minute)
print("Segundo:", d.second)
print("Microsegundo:", d.microsecond)

Obviamente, estos objetos cuentan con las restricciones pertinentes

In [ ]:
datetime.datetime(-1, 4, 19, 10, 59, 55)

In [ ]:
datetime.datetime(9999, 4, 19, 10, 59, 55)

Relacionado: https://es.wikipedia.org/wiki/Problema_del_a%C3%B1o_2000


El problema del año 2000, fue un bug o error de software causado por la costumbre que habían adoptado los programadores de omitir la centuria en el año para el almacenamiento de fechas (generalmente para economizar memoria), asumiendo que el software solo funcionaría durante los años cuyos números comenzaran con 19XX


![Antes](https://www.sopitas.com/wp-content/uploads/2016/04/ss.gif)

In [ ]:
datetime.datetime(999999, 4, 19, 10, 59, 55)

In [ ]:
datetime.datetime(2020, 4, 19, 10, 60, 55)

¿Y los años bisiestos?

In [ ]:
datetime.datetime(2020, 2, 29)

In [ ]:
datetime.datetime(2021, 2, 29)

##### Desde timestamp

`A Unix timestamp is the number of seconds between a particular date and January 1, 1970 at UTC.`

In [ ]:
timestamp = datetime.date.fromtimestamp(1326244364)
print("Date =", timestamp)

> **Pregunta ❓**: ¿Podemos sumar o restar fechas?

In [ ]:
delta = datetime.datetime(1, 1, 1)
delta

In [ ]:
d

In [ ]:
d + delta

#### TimeDelta

Permide sumar semanas, días, horas, etc... a objetos `date` y `datetime`.

In [ ]:
d

In [ ]:
from datetime import timedelta

t1 = timedelta(weeks=2)
t1

In [ ]:
d + t1

In [ ]:
d - t1

¿Y tiempos negativos?

In [ ]:
t2 = timedelta(minutes=-1)

In [ ]:
d + t2

In [ ]:
d - t2

¿Cambios de mes?

In [ ]:
t3 = timedelta(days=1)

In [ ]:
datetime.date(2021, 2, 28) + t3

In [ ]:
# notar que también funciona para años bisiestos
datetime.date(2020, 2, 28) + t3

#### Formatear a string con `.strftime`

Permite convertir un objeto datetime a una cadena de caracteres que siga un patrón específico para representar la fecha y la hora.

In [ ]:
d

In [ ]:
s1 = d.strftime("%d/%m/%Y, %H:%M:%S")
# dd/mm/YY H:M:S format
s1

In [ ]:
s1 = d.strftime("%m/%d/%Y, %H:%M:%S")
# dd/mm/YY H:M:S format
s1

In [ ]:
s1 = d.strftime("%d/%m/%Y")
# dd/mm/YY H:M:S format
s1

In [ ]:
s2 = d.strftime("%A %d %B %Y, %X")
# dd/mm/YY H:M:S format
s2

Referencia completa de formateo de fechas:

https://www.programiz.com/python-programming/datetime/strftime

---


###  Datos temporales en Pandas

Pandas implementa su propio sistema de datetimes.
`pd.to_datetimes` nos permite convertir una `Serie` o un `DataFrame` en una `Serie` de datetimes.

In [ ]:
df_temp.head(3)

In [ ]:
dates = df_temp.loc[:, ["Year", "Month"]]
dates

In [ ]:
dates.loc[:, "Day"] = 1
dates

In [ ]:
dates = dates.astype(str)
concat_dates = dates.loc[:, 'Year'] + ' '+  dates.loc[:, 'Month'] + ' ' + dates.loc[:, 'Day']
concat_dates

In [ ]:
parsed_dates = pd.to_datetime(concat_dates)
parsed_dates

In [ ]:
# aquí le dimos el formato con el cuál queríamos leer la fecha.

parsed_dates_2 = pd.to_datetime(concat_dates, format="%Y %b %d")

In [ ]:
pd.to_datetime(concat_dates, format="%Y %b %d") > "2016 01 01"

In [ ]:
df_temp.loc[:, 'dates'] = parsed_dates

In [ ]:
df_temp.info()

#### Valores Inválidos

Puede ocurrir que tengamos algún dato inválido que no podamos transformar a `datetime`.

`pd.to_datetime` ofrece el siguiente parámetro para manejar estos problemas:

`errors{‘ignore’, ‘raise’, ‘coerce’}, default ‘raise’`

- If `raise`, then invalid parsing will raise an exception.

- If `coerce`, then invalid parsing will be set as NaT.

- If `ignore`, then invalid parsing will return the input.


**Nota:** NaT = Not a Time

In [ ]:
pd.to_datetime(["2009/07/31", "asd"], errors="coerce")

#### Comparaciones y consultas

Se puede especificar directamente filtros booleanos usando datetimes como también strings:

In [ ]:
df_temp.loc[:, "dates"] > datetime.datetime(2010, 1, 1)

In [ ]:
df_temp.loc[:, "dates"] > "2010-1-1"

#### Indexado

Podemos fijar las fechas como índices y luego indexar por rangos de estas

In [ ]:
temperaturas_por_fecha = df_temp.set_index("dates")
temperaturas_por_fecha

In [ ]:
# Rango 1995-1-1 al 199-12-1
temperaturas_por_fecha.loc["1995-1-1":"1999-12-1"]

In [ ]:
temperaturas_por_fecha.loc["1999-11-1":"1999-12-1"]

#### Timedeltas

`pd.Timedelta` permite utilizar una interfaz similar a los `datetime.timedelta` para ejecutar cálculos sobre las fechas:

`weeks, days, hours, minutes, seconds, milliseconds, microseconds, nanoseconds`

In [ ]:
ptd1 = pd.Timedelta(weeks=2)
ptd1

In [ ]:
df_temp.loc[:, "dates"] + ptd1

Y podemos también hacer Broadcasting con `datetime.timedeltas`

In [ ]:
df_temp.loc[:, "dates"] + datetime.timedelta(days=-1)

---

## 3.- Categorías

Una variable categórica es un tipo de dato que puede tomar un número limitado (y usualmente fijo) de posibles valores.
Ejemplos de esto: Género, clase social, tipo de sangre, etc...

En general, guardar los datos como categóricos es mucho más eficiente que guardarlos como string. Según la referencia de pandas:

> The memory usage of a Categorical is proportional to the number of categories plus the length of the data. In contrast, an object dtype is a constant times the length of the data.

Como ejemplo, usaremos los continentes a los que pertenece cada país:

In [ ]:
countries = pd.read_csv(
    "https://raw.githubusercontent.com/MDS7202/MDS7202/main/recursos/2023-01/11-Pandas4/country-and-continent.csv"
)
countries = countries.loc[:, ["Continent_Name", "Country_Name"]]
countries

Declaramos una variable como categórica transformando la serie a `category` con `.astype("category")`:

In [ ]:
countries["Continent_Name"]

In [ ]:
countries["Continent_Name"] = countries.loc[:, "Continent_Name"].astype("category")
countries["Continent_Name"]

Podemos acceder a las categorías con:

In [ ]:
countries["Continent_Name"].cat.categories

### Operaciones con categorías

Podemos renombrar categorías usando el método `rename_categories`:

In [ ]:
# renombrar en español
countries["Continent_Name"] = countries["Continent_Name"].cat.rename_categories(
    [
        "Africa",
        "Antarctica",
        "Asia",
        "Europa",
        "América del Norte",
        "Oceania",
        "América del Sur",
    ]
)

countries["Continent_Name"]

In [ ]:
countries.sample(10)

`rename_categories` también acepta diccionarios como entrada. La idea es que el diccionario vincule los nombres antiguos con los nuevos:

In [ ]:
countries["Continent_Name"] = countries["Continent_Name"].cat.rename_categories(
    {
        "Europe": "Europa",
    }
)

In [ ]:
countries

Se pueden agregar categorías

In [ ]:
countries["Continent_Name"].cat.add_categories(["Atlantida"])

Como también eliminar las no usadas:

In [ ]:
# Remover las no usadas
countries["Continent_Name"].cat.remove_unused_categories()

O incluso, eliminar una categoría completa. Noten que esto transforma valores de esa categoría a `NaN`.

In [ ]:
# Como también remover una categoría completa.
countries["Continent_Name"].cat.remove_categories(["Europa"])

### Nota sobre memoria

Como habíamos dicho, es mucho más eficiente guardar variables categóricas que strings.
Podemos ver esto en el siguiente ejemplo:

#### Usando Strings

In [ ]:
# cuidado con este experimento, ocupa mucha memoria!
df_pesado = pd.DataFrame(
    ["A", "B", "C", "D", "E", "F", "G", "H", "I", "J"] * 10000000, columns=["var"]
)
df_pesado

In [ ]:
# strings no tienen .cat
df_pesado["var"].cat

In [ ]:
# observen la cantidad de memoria.
df_pesado.info()

#### Usando Categorías

In [ ]:
df_pesado = pd.DataFrame(
    ["A", "B", "C", "D", "E", "F", "G", "H", "I", "J"] * 10000000, columns=["var"]
)
df_pesado["var"] = df_pesado["var"].astype("category")
df_pesado

In [ ]:
df_pesado["var"].cat

In [ ]:
df_pesado.info()

### Un pequeño merge con los datos anteriores

Notar que en esta versión se especificó sobre que variables hacer el merge en ambos datasets.

In [ ]:
temp_agg = df_temp.groupby("Country").agg({"Temperature": ["mean", "std"]})
temp_agg

In [ ]:
countries

In [ ]:
temp_agg.columns = temp_agg.columns.droplevel()
temp_agg = temp_agg.reset_index()
temp_agg.columns = ["Country", "Mean temperature", "Std temperature"]
temp_agg

merged_df = pd.merge(
    temp_agg,
    countries,
    how="left",
    left_on="Country",
    right_on="Country_Name",
)

merged_df

---

## 4.- Ordinales

Una variable ordinal es un tipo de variable categórica que representa una característica o atributo que se puede ordenar o clasificar en diferentes niveles o categorías que tienen un orden predefinido.


Por ejemplo, hagamos una clasificación muy simple del clima a partir de la temperatura media. Para esto, calculemos cuartiles:

> Nota: Los elementos meteorológicos a tomar en cuenta para definir un clima son la temperatura, la presión, el viento, la humedad y la precipitación. Referencias: https://es.wikipedia.org/wiki/Clima

In [ ]:
mean_temp = merged_df["Mean temperature"]
mean_temp

In [ ]:
mean_temp.describe()

In [ ]:
clima_ordinal = pd.qcut(
    mean_temp, 5, labels=["Polar", "Frio", "Templado", "Calido", "Muy Calido"]
)
clima_ordinal

#### Operaciones sobre Series Categóricas con Orden

In [ ]:
clima_ordinal.value_counts()

In [ ]:
clima_ordinal.min()

In [ ]:
clima_ordinal.max()

In [ ]:
clima_ordinal.mode()

####  Ordenar y Filtrar usando Ordinales

In [ ]:
merged_df["Temp Quartile"] = clima_ordinal
merged_df.head(3)

In [ ]:
merged_df.info()

In [ ]:
merged_df = merged_df.sort_values(["Temp Quartile", "Mean temperature"])
merged_df

#### Nota sobre Merge con id repetidos

> Pregunta: ¿Qué sucede si hacemos un merge de una fila con muchas otras con igual identificador?

In [ ]:
merged_df["Temp Quartile"].cat.categories

In [ ]:
mask = merged_df["Temp Quartile"] < "Frio"
mask

In [ ]:
merged_df[mask]

## Anexo: Cómo Combinar dos Filtros/Máscaras Booleanas

Se puede usar las operaciones `|` (or) y `&` and para combinar dos máscaras.

- `|` simboliza un ó lógico.
- `&` simboliza un y lógico.

In [ ]:
mask_2 = (merged_df["Temp Quartile"] < "Frio") | (
    merged_df["Temp Quartile"] == "Templado"
)
mask_2

In [ ]:
merged_df[mask_2]