
# Clase 8: Introducci√≥n a Manejo de Datos Tabulares con Pandas

**MDS7202: Laboratorio de Programaci√≥n Cient√≠fica para Ciencia de Datos**

### Objetivos de la clase

- Introducir los datos estructurados de forma tabular.
- Comprender los aspectos introductorios de `pandas`: `Series` y `DataFrames`.
- Indexado y operaciones b√°sicas en `DataFrames`.
- Filtrados y queries.

# Motivaci√≥n

Primero, se presentar√° el dataset con el cu√°l estaremos trabajando durante la clase y luego, vendr√°n unas preguntas interesantes al respecto.

### √çndices para una Vida Mejor

Para explicar `pandas`, analizaremos datos de la OECD, en particular de los √≠ndices para una Vida Mejor:


<img src="./resources/oecd.png" alt="OECD Better life index"/>


http://www.oecdbetterlifeindex.org/

https://stats.oecd.org/Index.aspx?DataSetCode=BLI

Son 11 temas considerados como esenciales para el bienestar de la poblaci√≥n. Cada crierio contiene uno o mas indicadores

| Tema | Indicador (Ingl√©s) | Indicador (Espa√±ol) | Unidad | Descripci√≥n |
|---|---|---|---|---|
| Vivienda üè† | Dwellings without basic facilities | Vivienda con Instalaciones B√°sicas | Porcentaje | Porcentaje de personas con inodoros de agua corriente dentro del hogar, a√±o disponible m√°s reciente |
|  | Housing expenditure | Gastos en Vivienda | Porcentaje | Proporci√≥n de costos de vivienda en el ingreso neto ajustado de las familias, a√±o disponible m√°s reciente |
|  | Rooms per person | Habitaciones por Persona | Ratio | N√∫mero promedio de habitaciones compartidas por persona en una vivienda, a√±o disponible m√°s reciente |
| Ingresos üí∞ | Household net adjusted disposable income | Ingreso Familiar Disponible | US Dollar | Cantidad promedio de dinero que una familia gana al a√±o, despu√©s de impuestos, a√±o disponible m√°s reciente |
|  | Household net wealth | Patrimonio Neto Familiar | US Dollar | Valor total promedio de los activos financieros de una familia (ahorros, acciones) menos sus pasivos (cr√©ditos), a√±o disponible m√°s reciente |
| Empleo ‚öôÔ∏è | Labour market insecurity | Seguridad en el Empleo | Porcentaje | P√©rdida esperada de ingresos cuando alguien queda desempleado, a√±o disponible m√°s reciente |
|  | Employment rate | Tasa de Empleo | Porcentaje | Porcentaje de personas, de 15 a 64 a√±os de edad, actualmente con empleo remunerado, a√±o disponible m√°s reciente |
|  | Long-term unemployment rate | Tasa de Empleo a Largo Plazo | Porcentaje | Porcentaje de personas, de 15 a 64 a√±os de edad, que no trabajan pero que han buscado empleo activamente durante m√°s de un a√±o, a√±o disponible m√°s reciente |
|  | Personal earnings | Ingresos Personales | US Dollar | Ingresos anuales promedio por empleado de tiempo completo, a√±o disponible m√°s reciente |
| Comunidad üßë‚Äçü§ù‚Äçüßë   | Quality of support network  | Calidad del Apoyo Social | Porcentaje | Porcentaje de personas con amigos o parientes en quienes confiar en caso de necesidad |
| Educaci√≥n üìö | Educational attainment | Nivel de Educaci√≥n | Porcentaje | Porcentaje de personas, de 25 a 64 a√±os de edad, graduadas por lo menos de educaci√≥n media superior, a√±o disponible m√°s reciente |
|  | Student skills | Competencias de estudiantes en matem√°ticas, lectura y ciencias | Puntaje promedio | Desempe√±o promedio de estudiantes de 15 a√±os de edad, seg√∫n PISA (Programa para la Evaluaci√≥n Internacional de Estudiantes) |
|  | Years in education  | Nivel de educaci√≥n | A√±os | Duraci√≥n promedio de la educaci√≥n formal en la que un ni√±o de cinco a√±os de edad puede esperar matricularse durante su vida |
| Medio Ambiente üå≥ | Air pollution | Contaminaci√≥n del Aire | Microgramos por metro c√∫bico | Concentraci√≥n promedio de part√≠culas (PM2.5) en ciudades con poblaciones mayores de 100,000 personas, medida en microgramos por metro c√∫bico, a√±o disponible m√°s reciente |
|  | Water quality | Calidad del Agua | Porcentaje | Porcentaje de personas que informan estar satisfechas con la calidad del agua local |
| Compromiso C√≠vico üó≥Ô∏è  | Stakeholder engagement for developing regulations | Participaci√≥n de los interesados en la elaboraci√≥n de regulaciones | Puntaje promedio | Nivel de transparencia gubernamental al preparar las regulaciones, a√±o disponible m√°s reciente |
|  | Voter turnout | Participaci√≥n electoral | Porcentaje | Porcentaje de votantes registrados que votaron durante las elecciones recientes, a√±o disponible m√°s reciente |
| Salud ‚öïÔ∏è | Life expectancy | Esperanza de vida | A√±os | N√∫mero promedio de a√±os que una persona puede esperar vivir, a√±o disponible m√°s reciente |
|  | Self-reported health | Salud seg√∫n informan las personas | Porcentaje | Porcentaje de personas que informan que su salud es ¬´buena o muy buena¬ª, a√±o disponible m√°s reciente |
| Satisfacci√≥n ‚ú® | Life satisfaction | Satisfacci√≥n ante la vida | Puntaje promedio | Autoevaluaci√≥n promedio de satisfacci√≥n ante la vida, en una escala de 0 a 10 |
| Seguridad üåÉ | Feeling safe walking alone at night | Sentimiento de seguridad al caminar solos por la noche | Porcentaje | Porcentaje de personas que reportan sentirse seguras al caminar solas por la noche  |
|  | Homicide rate | Tasa de homicidios | Ratio | N√∫mero promedio de homicidios reportados por 100,000 personas, a√±o disponible m√°s reciente |
| Balance Vida Trabajo üßò | Employees working very long hours | Empleados que trabajan muchas horas | Porcentaje | Porcentaje de empleados que trabajan m√°s de cincuenta horas a la semana en promedio, a√±o disponible m√°s reciente |
|  | Time devoted to leisure and personal care | Tiempo destinado al ocio y el cuidado personal | Horas | N√∫mero promedio de minutos al d√≠a dedicados al ocio y el cuidado personal, incluidos el sue√±o y la alimentaci√≥n |

---

**Hasta el momento, todos los datos con los que hemos trabajado:**

### 1. Los hemos ingresado a mano

En este caso, tendr√≠amos que copiar y pegar los datos en formato arreglo de forma manual. 

Por ejemplo, las 10 primeras filas del dataset de la OECD de las columnas:

- Air pollution
- Dwellings without basic facilities
- Educational attainment
- Employees working very long hours
- Employment rate

In [37]:
import numpy as np

datos = np.array(
    [
        [5.0, np.nan, 81.0, 12.84, 73.0],
        [16.0, 0.9, 85.0, 6.59, 72.0],
        [15.0, 1.9, 77.0, 4.7, 63.33],
        [10.0, 6.7, 49.0, 7.01, 61.0],
        [7.0, 0.2, 91.33, 3.67, 73.33],
        [16.0, 9.4, 65.0, 9.32, 62.67],
        [10.0, 23.9, 54.0, 26.01, 67.0],
        [20.0, 0.7, 93.67, 5.5, 73.67],
        [9.0, 0.5, 81.0, 2.32, 74.0],
        [8.0, 7.0, 88.67, 2.44, 74.0],
    ]
)

datos

array([[ 5.  ,   nan, 81.  , 12.84, 73.  ],
       [16.  ,  0.9 , 85.  ,  6.59, 72.  ],
       [15.  ,  1.9 , 77.  ,  4.7 , 63.33],
       [10.  ,  6.7 , 49.  ,  7.01, 61.  ],
       [ 7.  ,  0.2 , 91.33,  3.67, 73.33],
       [16.  ,  9.4 , 65.  ,  9.32, 62.67],
       [10.  , 23.9 , 54.  , 26.01, 67.  ],
       [20.  ,  0.7 , 93.67,  5.5 , 73.67],
       [ 9.  ,  0.5 , 81.  ,  2.32, 74.  ],
       [ 8.  ,  7.  , 88.67,  2.44, 74.  ]])

> **Pregunta ‚ùì**: Entonces, ¬øC√≥mo en numpy podr√≠a leer una planilla Excel? ¬øY un archivo json? ¬øO un CSV? ¬ø O una base de datos?

### 2. Solo hemos usado n√∫meros

> **Pregunta ‚ùì**: ¬øC√≥mo puedo operar strings en numpy?

En este caso, me gustar√≠a agregar una nueva columna a los datos: el oa√≠s que describen los valores:

In [24]:
pais = np.array([
    "Australia",
    "Austria",
    "Belgium",
    "Brazil",
    "Canada",
    "Chile",
    "Colombia",
    "Czech Republic",
    "Denmark",
    "Estonia",
])

Pero recuerden que para que numpy funcione eficientemente, los arreglos deben ser homogeneos, es decir, del mismo tipo.

> **Pregunta: ‚ùì** ¬øQu√© consecuencias podr√≠a traer el agregar esta nueva columna a los datos?

array([['Australia', 'Austria', 'Belgium', 'Brazil', 'Canada', 'Chile',
        'Colombia', 'Czech Republic', 'Denmark', 'Estonia']], dtype='<U14')

In [45]:
nuevos_datos = np.concatenate([pais[:, np.newaxis], datos], axis=1)
nuevos_datos

array([['Australia', '5.0', 'nan', '81.0', '12.84', '73.0'],
       ['Austria', '16.0', '0.9', '85.0', '6.59', '72.0'],
       ['Belgium', '15.0', '1.9', '77.0', '4.7', '63.33'],
       ['Brazil', '10.0', '6.7', '49.0', '7.01', '61.0'],
       ['Canada', '7.0', '0.2', '91.33', '3.67', '73.33'],
       ['Chile', '16.0', '9.4', '65.0', '9.32', '62.67'],
       ['Colombia', '10.0', '23.9', '54.0', '26.01', '67.0'],
       ['Czech Republic', '20.0', '0.7', '93.67', '5.5', '73.67'],
       ['Denmark', '9.0', '0.5', '81.0', '2.32', '74.0'],
       ['Estonia', '8.0', '7.0', '88.67', '2.44', '74.0']], dtype='<U32')

In [48]:
nuevos_datos.mean(axis=1)

UFuncTypeError: ufunc 'add' did not contain a loop with signature matching types (dtype('<U32'), dtype('<U32')) -> None

### 3. Trabajamos solo con √≠ndices para obtener datos.

> **Pregunta ‚ùì** : ¬øY si mis filas o columnas tuvieran nombre (un string), c√≥mo las podr√≠a agregar a numpy?

In [23]:
columnas = [
    "Country",
    "Air pollution",
    "Dwellings without basic facilities",
    "Educational attainment",
    "Employees working very long hours",
    "Employment rate",
]

Las reci√©n listadas son un solo un par de limitaciones de `numpy` a la hora de manejar datos.

Como podemos ver, lamentablemente `numpy` carece de funcionalidades m√°s avanzadas pero necesarias para ejecutar adecuada y eficientemente tareas de data science.

Aqu√≠ es donde entra en juego `pandas`.

---

## 1. Pandas üêº


`Pandas` (derivado de _panel data_)  una librer√≠a para python utilizada para manejar datos tabulares. 

<div align='center'>
<img src="./resources/dataframe.png" alt="DataFrames" style="width: 800px;"/>
</div>


Est√° dise√±ada para proveer herramientas que faciliten la exploraci√≥n, limpieza y procesamiento de los datos. Su enfoque es *simplicidad y eficiencia*. Es, al igual que las librer√≠as anteriores, *open-source*.


La base de pandas son los `DataFrames`.

Como convenci√≥n, `Pandas` se importa de la siguiente manera:

In [1]:
import pandas as pd

### Entrada / Salida (IO)

La lectura de datos en `pandas` es muy sencilla: `pandas` es compatible con muchos tipos de archivos y fuentes de datos de forma nativa:

- `CSV`
- `Excel`
- `SQL`
- `Json`
- ...

Los datos almacenados en estas fuentes pueden ser importados a `DataFrames` a trav√©s de las funcioes `read_*`

De la misma forma, es capaz de guardar los DataFrames en el formato que deseen usando las funciones `to_*`

<div align='center'>

<img src="./resources/pandas_io.png" alt="DataFrames" style="width: 800px;"/>
</div>
    
Toda la informaci√≥n acerca de que puede o no leer la encuentran en la siguiente referencia: https://pandas.pydata.org/docs/user_guide/io.html

### Importar el Dataset

A continuacion, importaremos el dataset a un `DataFrame`. Noten la gran compatiblidad de `Jupyter` con los DataFrames (DF).

Cada DataFrame tiene **indices (Primera columna ) y columnas (primera fila)**. Comunmente se ocupan:

- En las columnas se ocupan `strings` que identifican el nombre de la variable.
- Enteros que identifican el n√∫mero de la observaci√≥n en las filas. 

Sin embargo, las filas tambi√©n pueden ser identificadas por strings como las columnas por enteros

In [3]:
# para abrir archivos excel y visualizar hay que instalar esta dependencia extra
!pip install pandas openpyxl matplotlib plotly statsmodels

Requirement already satisfied: pandas in /home/pablo/miniconda3/lib/python3.9/site-packages (1.4.1)
Requirement already satisfied: openpyxl in /home/pablo/miniconda3/lib/python3.9/site-packages (3.0.9)
Requirement already satisfied: matplotlib in /home/pablo/miniconda3/lib/python3.9/site-packages (3.5.1)
Requirement already satisfied: plotly in /home/pablo/miniconda3/lib/python3.9/site-packages (5.6.0)
Requirement already satisfied: statsmodels in /home/pablo/miniconda3/lib/python3.9/site-packages (0.13.2)
Requirement already satisfied: numpy>=1.18.5 in /home/pablo/miniconda3/lib/python3.9/site-packages (from pandas) (1.22.2)
Requirement already satisfied: python-dateutil>=2.8.1 in /home/pablo/miniconda3/lib/python3.9/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /home/pablo/miniconda3/lib/python3.9/site-packages (from pandas) (2021.3)
Requirement already satisfied: et-xmlfile in /home/pablo/miniconda3/lib/python3.9/site-packages (from openpyxl) (1.1.0)
Requirement already satisfied: pillow>=6.2.0 in /home/pablo/miniconda3/lib/python3.9/site-packages (from matplotlib) (9.1.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /home/pablo/miniconda3/lib/python3.9/site-packages (from matplotlib) (1.4.2)
Requirement already satisfied: pyparsing>=2.2.1 in /home/pablo/miniconda3/lib/python3.9/site-packages (from matplotlib) (3.0.7)
Requirement already satisfied: fonttools>=4.22.0 in /home/pablo/miniconda3/lib/python3.9/site-packages (from matplotlib) (4.32.0)
Requirement already satisfied: packaging>=20.0 in /home/pablo/miniconda3/lib/python3.9/site-packages (from matplotlib) (21.3)
Requirement already satisfied: cycler>=0.10 in /home/pablo/miniconda3/lib/python3.9/site-packages (from matplotlib) (0.11.0)
Requirement already satisfied: tenacity>=6.2.0 in /home/pablo/miniconda3/lib/python3.9/site-packages (from plotly) (8.0.1)
Requirement already satisfied: six in /home/pablo/miniconda3/lib/python3.9/site-packages (from plotly) (1.16.0)
Requirement already satisfied: patsy>=0.5.2 in /home/pablo/miniconda3/lib/python3.9/site-packages (from statsmodels) (0.5.2)
Requirement already satisfied: scipy>=1.3 in /home/pablo/miniconda3/lib/python3.9/site-packages (from statsmodels) (1.8.0)

In [4]:
import pandas as pd

# utilidad para mostrar todas las columnas
pd.set_option("display.max_columns", None)


df = pd.read_excel("./resources/dataset.xlsx", header=1, index_col=0)
df

,Dwellings without basic facilities,Housing expenditure,Rooms per person,Household net adjusted disposable income,Household net wealth,Labour market insecurity,Employment rate,Long-term unemployment rate,Personal earnings,Quality of support network,Educational attainment,Student skills,Years in education,Air pollution,Water quality,Stakeholder engagement for developing regulations,Voter turnout,Life expectancy,Self-reported health,Life satisfaction,Feeling safe walking alone at night,Homicide rate,Employees working very long hours,Time devoted to leisure and personal care
Country,,,,,,,,,,,,,,,,,,,,,,,,
Australia,NaN,20.0,NaN,32759.0,427064.0,5.4,73,1.31,49126.0,95,81.0,502.0,21.0,5,93,2.7,91,82.5,85.0,7.3,63.5,1.1,13.04,14.35
Austria,0.9,21.0,1.6,33541.0,308325.0,3.5,72,1.84,50349.0,92,85.0,492.0,17.0,16,92,1.3,80,81.7,70.0,7.1,80.6,0.5,6.66,14.55
Belgium,1.9,21.0,2.2,30364.0,386006.0,3.7,63,3.54,49675.0,91,77.0,503.0,19.3,15,84,2.0,89,81.5,74.0,6.9,70.1,1.0,4.75,15.70
Canada,0.2,22.0,2.6,30854.0,423849.0,6.0,73,0.77,47622.0,93,91.0,523.0,17.3,7,91,2.9,68,81.9,88.0,7.4,82.2,1.3,3.69,14.56
Chile,9.4,18.0,1.2,NaN,100967.0,8.7,63,NaN,25879.0,85,65.0,443.0,17.5,16,71,1.3,47,79.9,57.0,6.5,47.9,4.2,9.72,NaN
Colombia,23.9,17.0,1.2,NaN,NaN,NaN,67,0.79,NaN,89,54.0,410.0,14.1,10,75,1.4,53,76.2,NaN,6.3,44.4,24.5,26.56,NaN
Czech Republic,0.7,24.0,1.4,21453.0,NaN,3.1,74,1.04,25372.0,91,94.0,491.0,17.9,20,87,1.6,61,79.1,60.0,6.7,72.3,0.5,5.65,NaN
Denmark,0.5,23.0,1.9,29606.0,118637.0,4.2,74,1.31,51466.0,95,81.0,504.0,19.5,9,95,2.0,86,80.9,71.0,7.6,83.5,0.6,2.34,15.87
Estonia,7.0,17.0,1.6,19697.0,159373.0,3.8,74,1.92,24336.0,92,89.0,524.0,17.7,8,84,2.7,64,77.8,53.0,5.7,69.0,3.1,2.42,14.90
Finland,0.5,23.0,1.9,29943.0,200827.0,3.9,70,2.13,42964.0,95,88.0,523.0,19.8,6,95,2.2,67,81.5,70.0,7.6,85.1,1.3,3.81,15.17
France,0.5,21.0,1.8,31304.0,280653.0,7.6,65,4.00,43755.0,90,78.0,496.0,16.5,13,81,2.1,75,82.4,66.0,6.5,70.5,0.5,7.67,16.36
Germany,0.2,20.0,1.8,34294.0,259667.0,2.7,75,1.57,47585.0,90,87.0,508.0,18.1,14,91,1.8,76,81.1,65.0,7.0,72.5,0.5,4.26,15.62
Greece,0.5,23.0,1.2,17700.0,150134.0,29.8,53,15.65,26064.0,80,73.0,458.0,19.0,18,69,1.8,64,81.5,74.0,5.4,60.0,0.8,6.42,NaN
Hungary,4.7,19.0,1.2,NaN,104458.0,4.7,68,1.72,22576.0,86,84.0,474.0,16.4,19,77,1.2,70,76.2,60.0,5.6,56.3,1.0,3.03,NaN
Iceland,0.0,24.0,1.6,NaN,NaN,0.7,86,0.26,61787.0,98,77.0,481.0,19.0,3,99,2.1,79,82.3,76.0,7.5,86.0,0.5,15.06,NaN
Ireland,1.0,20.0,2.1,25310.0,217130.0,7.8,67,3.23,47653.0,95,82.0,509.0,18.1,7,85,1.3,65,81.8,83.0,7.0,75.9,0.7,5.25,NaN
Israel,NaN,NaN,1.2,NaN,NaN,4.2,69,0.49,35067.0,88,87.0,472.0,15.6,21,67,2.5,72,82.5,84.0,7.2,69.8,1.8,15.45,NaN
Italy,0.7,23.0,1.4,26588.0,279889.0,12.3,58,6.59,36658.0,92,61.0,485.0,16.6,18,71,2.5,73,83.3,71.0,6.0,58.4,0.6,4.11,16.47
Japan,6.4,22.0,1.9,29798.0,305878.0,1.4,75,1.03,40863.0,89,NaN,529.0,16.4,14,87,1.4,53,84.1,36.0,5.9,72.5,0.2,NaN,NaN
Korea,2.5,15.0,1.5,21882.0,285980.0,2.6,67,0.05,35191.0,78,88.0,519.0,17.3,28,76,2.9,77,82.4,33.0,5.9,66.6,1.0,NaN,14.70
Latvia,13.9,23.0,1.2,16275.0,70160.0,9.6,70,3.35,23683.0,86,88.0,487.0,18.0,11,79,2.2,59,74.7,47.0,5.9,62.4,4.8,1.27,13.83
Lithuania,13.6,19.0,1.5,21660.0,NaN,NaN,70,2.69,24287.0,88,93.0,475.0,18.4,14,81,2.4,51,74.8,43.0,5.9,55.9,3.4,0.54,NaN
Luxembourg,0.5,21.0,1.9,39264.0,769053.0,1.7,66,2.35,63062.0,93,77.0,483.0,15.1,12,84,1.7,91,82.8,69.0,6.9,75.8,0.6,3.82,NaN
Mexico,25.5,20.0,1.0,NaN,NaN,5.5,61,0.07,15314.0,81,38.0,416.0,15.2,16,68,3.2,63,75.4,66.0,6.5,41.8,18.1,28.70,NaN
Netherlands,0.1,19.0,1.9,29333.0,157824.0,4.8,76,1.97,52877.0,91,78.0,508.0,18.7,14,93,2.6,82,81.6,76.0,7.4,82.0,0.6,0.42,NaN
New Zealand,NaN,26.0,2.4,NaN,388514.0,4.7,77,0.74,40043.0,96,79.0,506.0,17.7,5,89,2.5,80,81.7,88.0,7.3,65.7,1.3,15.11,14.87
Norway,0.0,17.0,2.1,35725.0,228936.0,NaN,74,0.66,51212.0,94,82.0,504.0,18.3,5,98,2.2,78,82.5,77.0,7.6,90.1,0.4,2.93,15.56
Poland,3.0,22.0,1.1,19814.0,210991.0,5.7,66,1.52,27046.0,86,92.0,504.0,17.6,22,82,2.6,55,78.0,58.0,6.1,67.3,0.7,5.95,14.42
Portugal,1.0,21.0,1.7,21203.0,232666.0,10.0,68,4.43,25367.0,88,48.0,497.0,16.9,10,86,1.5,56,81.2,48.0,5.4,73.4,1.0,8.27,NaN
Slovak Republic,1.2,23.0,1.1,20474.0,119696.0,9.9,66,4.78,24328.0,91,91.0,463.0,15.8,21,85,3.0,60,77.3,66.0,6.2,63.5,0.8,4.14,NaN
Slovenia,0.4,18.0,1.5,20820.0,203044.0,5.8,69,3.17,34933.0,92,88.0,509.0,18.3,16,90,2.5,53,81.3,64.0,5.9,86.1,0.6,4.39,14.75
Spain,0.1,21.0,1.9,23999.0,373548.0,23.1,62,7.66,38507.0,93,59.0,491.0,17.9,11,72,1.8,70,83.4,72.0,6.3,82.1,0.6,4.01,15.93
Sweden,0.0,19.0,1.7,31287.0,NaN,3.2,77,1.12,42393.0,91,83.0,496.0,19.3,6,96,2.0,86,82.4,75.0,7.3,75.6,0.9,1.07,15.18
Switzerland,0.1,22.0,1.9,37466.0,NaN,NaN,80,1.82,62283.0,93,88.0,506.0,17.5,15,95,2.3,49,83.7,78.0,7.5,85.3,0.6,0.37,NaN
Turkey,8.0,20.0,1.0,NaN,NaN,12.5,52,2.39,NaN,86,39.0,425.0,18.3,20,65,1.5,86,78.0,69.0,5.5,59.8,1.4,32.64,14.79
United Kingdom,0.3,26.0,1.9,28715.0,548392.0,4.5,75,1.13,43732.0,94,81.0,500.0,17.5,11,84,3.1,69,81.2,69.0,6.8,77.7,0.2,12.15,14.92
United States,0.1,19.0,2.4,45284.0,632100.0,7.7,70,0.66,60558.0,91,91.0,488.0,17.2,10,83,3.1,65,78.6,88.0,6.9,73.9,5.5,11.09,14.44
OECD - Total,4.4,20.0,1.8,33604.0,408376.0,7.0,68,1.78,43241.0,89,78.0,486.0,17.2,14,81,2.4,68,80.2,69.0,6.5,68.4,3.7,11.01,14.98
Brazil,6.7,NaN,NaN,NaN,NaN,NaN,61,NaN,NaN,90,49.0,395.0,16.2,10,73,2.2,79,74.8,NaN,6.4,35.6,26.7,7.13,NaN
Russia,14.8,18.0,0.9,NaN,NaN,NaN,70,1.59,NaN,89,94.0,492.0,16.2,15,55,NaN,68,71.8,43.0,5.8,52.8,9.6,0.14,NaN
South Africa,37.0,18.0,NaN,NaN,NaN,NaN,43,16.46,NaN,88,73.0,NaN,NaN,22,67,NaN,73,57.5,NaN,4.7,36.1,13.7,18.12,14.92

---

## 2.- Lo B√°sico

A continuaci√≥n veremos los atributos y m√©todos b√°sicos de un DataFrame.

### Atributos

#### Columnas

Podemos ver los nombres de las columnas de nuestro `DataFrame` a trav√©s de `df.columns`

In [7]:
df.columns

Index(['Dwellings without basic facilities', 'Housing expenditure',
       'Rooms per person', 'Household net adjusted disposable income',
       'Household net wealth', 'Labour market insecurity', 'Employment rate',
       'Long-term unemployment rate', 'Personal earnings',
       'Quality of support network', 'Educational attainment',
       'Student skills', 'Years in education', 'Air pollution',
       'Water quality', 'Stakeholder engagement for developing regulations',
       'Voter turnout', 'Life expectancy', 'Self-reported health',
       'Life satisfaction', 'Feeling safe walking alone at night',
       'Homicide rate', 'Employees working very long hours',
       'Time devoted to leisure and personal care'],
      dtype='object')

#### √çndices

Podemos ver los indices de las filas de nuestro `DataFrame` a trav√©s de `df.index`

In [8]:
df.index

Index(['Australia', 'Austria', 'Belgium', 'Canada', 'Chile', 'Colombia',
       'Czech Republic', 'Denmark', 'Estonia', 'Finland', 'France', 'Germany',
       'Greece', 'Hungary', 'Iceland', 'Ireland', 'Israel', 'Italy', 'Japan',
       'Korea', 'Latvia', 'Lithuania', 'Luxembourg', 'Mexico', 'Netherlands',
       'New Zealand', 'Norway', 'Poland', 'Portugal', 'Slovak Republic',
       'Slovenia', 'Spain', 'Sweden', 'Switzerland', 'Turkey',
       'United Kingdom', 'United States', 'OECD - Total', 'Brazil', 'Russia',
       'South Africa'],
      dtype='object', name='Country')

#### Largo (c√°ntidad de filas)

In [9]:
len(df)

41

#### Shape

In [10]:
df.shape

(41, 24)

### Informaci√≥n General del Dataframe

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 41 entries, Australia to South Africa
Data columns (total 24 columns):
 #   Column                                             Non-Null Count  Dtype
---  ------                                             --------------  -----
 0   Dwellings without basic facilities                 38 non-null     float64
 1   Housing expenditure                                39 non-null     float64
 2   Rooms per person                                   38 non-null     float64
 3   Household net adjusted disposable income           30 non-null     float64
 4   Household net wealth                               29 non-null     float64
 5   Labour market insecurity                           34 non-null     float64
 6   Employment rate                                    41 non-null     int64
 7   Long-term unemployment rate                        39 non-null     float64
 8   Personal earnings                                  36 non-null     float64
 9   Quality of support network                         41 non-null     int64
 10  Educational attainment                             40 non-null     float64
 11  Student skills                                     40 non-null     float64
 12  Years in education                                 40 non-null     float64
 13  Air pollution                                      41 non-null     int64
 14  Water quality                                      41 non-null     int64
 15  Stakeholder engagement for developing regulations  39 non-null     float64
 16  Voter turnout                                      41 non-null     int64
 17  Life expectancy                                    41 non-null     float64
 18  Self-reported health                               38 non-null     float64
 19  Life satisfaction                                  41 non-null     float64
 20  Feeling safe walking alone at night                41 non-null     float64
 21  Homicide rate                                      41 non-null     float64
 22  Employees working very long hours                  39 non-null     float64
 23  Time devoted to leisure and personal care          23 non-null     float64
dtypes: float64(19), int64(5)
memory usage: 8.0+ KB

### Selecci√≥n de Algunos Elementos

In [13]:
df

,Dwellings without basic facilities,Housing expenditure,Rooms per person,Household net adjusted disposable income,Household net wealth,Labour market insecurity,Employment rate,Long-term unemployment rate,Personal earnings,Quality of support network,Educational attainment,Student skills,Years in education,Air pollution,Water quality,Stakeholder engagement for developing regulations,Voter turnout,Life expectancy,Self-reported health,Life satisfaction,Feeling safe walking alone at night,Homicide rate,Employees working very long hours,Time devoted to leisure and personal care
Country,,,,,,,,,,,,,,,,,,,,,,,,
Australia,NaN,20.0,NaN,32759.0,427064.0,5.4,73,1.31,49126.0,95,81.0,502.0,21.0,5,93,2.7,91,82.5,85.0,7.3,63.5,1.1,13.04,14.35
Austria,0.9,21.0,1.6,33541.0,308325.0,3.5,72,1.84,50349.0,92,85.0,492.0,17.0,16,92,1.3,80,81.7,70.0,7.1,80.6,0.5,6.66,14.55
Belgium,1.9,21.0,2.2,30364.0,386006.0,3.7,63,3.54,49675.0,91,77.0,503.0,19.3,15,84,2.0,89,81.5,74.0,6.9,70.1,1.0,4.75,15.70
Canada,0.2,22.0,2.6,30854.0,423849.0,6.0,73,0.77,47622.0,93,91.0,523.0,17.3,7,91,2.9,68,81.9,88.0,7.4,82.2,1.3,3.69,14.56
Chile,9.4,18.0,1.2,NaN,100967.0,8.7,63,NaN,25879.0,85,65.0,443.0,17.5,16,71,1.3,47,79.9,57.0,6.5,47.9,4.2,9.72,NaN
Colombia,23.9,17.0,1.2,NaN,NaN,NaN,67,0.79,NaN,89,54.0,410.0,14.1,10,75,1.4,53,76.2,NaN,6.3,44.4,24.5,26.56,NaN
Czech Republic,0.7,24.0,1.4,21453.0,NaN,3.1,74,1.04,25372.0,91,94.0,491.0,17.9,20,87,1.6,61,79.1,60.0,6.7,72.3,0.5,5.65,NaN
Denmark,0.5,23.0,1.9,29606.0,118637.0,4.2,74,1.31,51466.0,95,81.0,504.0,19.5,9,95,2.0,86,80.9,71.0,7.6,83.5,0.6,2.34,15.87
Estonia,7.0,17.0,1.6,19697.0,159373.0,3.8,74,1.92,24336.0,92,89.0,524.0,17.7,8,84,2.7,64,77.8,53.0,5.7,69.0,3.1,2.42,14.90
Finland,0.5,23.0,1.9,29943.0,200827.0,3.9,70,2.13,42964.0,95,88.0,523.0,19.8,6,95,2.2,67,81.5,70.0,7.6,85.1,1.3,3.81,15.17
France,0.5,21.0,1.8,31304.0,280653.0,7.6,65,4.00,43755.0,90,78.0,496.0,16.5,13,81,2.1,75,82.4,66.0,6.5,70.5,0.5,7.67,16.36
Germany,0.2,20.0,1.8,34294.0,259667.0,2.7,75,1.57,47585.0,90,87.0,508.0,18.1,14,91,1.8,76,81.1,65.0,7.0,72.5,0.5,4.26,15.62
Greece,0.5,23.0,1.2,17700.0,150134.0,29.8,53,15.65,26064.0,80,73.0,458.0,19.0,18,69,1.8,64,81.5,74.0,5.4,60.0,0.8,6.42,NaN
Hungary,4.7,19.0,1.2,NaN,104458.0,4.7,68,1.72,22576.0,86,84.0,474.0,16.4,19,77,1.2,70,76.2,60.0,5.6,56.3,1.0,3.03,NaN
Iceland,0.0,24.0,1.6,NaN,NaN,0.7,86,0.26,61787.0,98,77.0,481.0,19.0,3,99,2.1,79,82.3,76.0,7.5,86.0,0.5,15.06,NaN
Ireland,1.0,20.0,2.1,25310.0,217130.0,7.8,67,3.23,47653.0,95,82.0,509.0,18.1,7,85,1.3,65,81.8,83.0,7.0,75.9,0.7,5.25,NaN
Israel,NaN,NaN,1.2,NaN,NaN,4.2,69,0.49,35067.0,88,87.0,472.0,15.6,21,67,2.5,72,82.5,84.0,7.2,69.8,1.8,15.45,NaN
Italy,0.7,23.0,1.4,26588.0,279889.0,12.3,58,6.59,36658.0,92,61.0,485.0,16.6,18,71,2.5,73,83.3,71.0,6.0,58.4,0.6,4.11,16.47
Japan,6.4,22.0,1.9,29798.0,305878.0,1.4,75,1.03,40863.0,89,NaN,529.0,16.4,14,87,1.4,53,84.1,36.0,5.9,72.5,0.2,NaN,NaN
Korea,2.5,15.0,1.5,21882.0,285980.0,2.6,67,0.05,35191.0,78,88.0,519.0,17.3,28,76,2.9,77,82.4,33.0,5.9,66.6,1.0,NaN,14.70
Latvia,13.9,23.0,1.2,16275.0,70160.0,9.6,70,3.35,23683.0,86,88.0,487.0,18.0,11,79,2.2,59,74.7,47.0,5.9,62.4,4.8,1.27,13.83
Lithuania,13.6,19.0,1.5,21660.0,NaN,NaN,70,2.69,24287.0,88,93.0,475.0,18.4,14,81,2.4,51,74.8,43.0,5.9,55.9,3.4,0.54,NaN
Luxembourg,0.5,21.0,1.9,39264.0,769053.0,1.7,66,2.35,63062.0,93,77.0,483.0,15.1,12,84,1.7,91,82.8,69.0,6.9,75.8,0.6,3.82,NaN
Mexico,25.5,20.0,1.0,NaN,NaN,5.5,61,0.07,15314.0,81,38.0,416.0,15.2,16,68,3.2,63,75.4,66.0,6.5,41.8,18.1,28.70,NaN
Netherlands,0.1,19.0,1.9,29333.0,157824.0,4.8,76,1.97,52877.0,91,78.0,508.0,18.7,14,93,2.6,82,81.6,76.0,7.4,82.0,0.6,0.42,NaN
New Zealand,NaN,26.0,2.4,NaN,388514.0,4.7,77,0.74,40043.0,96,79.0,506.0,17.7,5,89,2.5,80,81.7,88.0,7.3,65.7,1.3,15.11,14.87
Norway,0.0,17.0,2.1,35725.0,228936.0,NaN,74,0.66,51212.0,94,82.0,504.0,18.3,5,98,2.2,78,82.5,77.0,7.6,90.1,0.4,2.93,15.56
Poland,3.0,22.0,1.1,19814.0,210991.0,5.7,66,1.52,27046.0,86,92.0,504.0,17.6,22,82,2.6,55,78.0,58.0,6.1,67.3,0.7,5.95,14.42
Portugal,1.0,21.0,1.7,21203.0,232666.0,10.0,68,4.43,25367.0,88,48.0,497.0,16.9,10,86,1.5,56,81.2,48.0,5.4,73.4,1.0,8.27,NaN
Slovak Republic,1.2,23.0,1.1,20474.0,119696.0,9.9,66,4.78,24328.0,91,91.0,463.0,15.8,21,85,3.0,60,77.3,66.0,6.2,63.5,0.8,4.14,NaN
Slovenia,0.4,18.0,1.5,20820.0,203044.0,5.8,69,3.17,34933.0,92,88.0,509.0,18.3,16,90,2.5,53,81.3,64.0,5.9,86.1,0.6,4.39,14.75
Spain,0.1,21.0,1.9,23999.0,373548.0,23.1,62,7.66,38507.0,93,59.0,491.0,17.9,11,72,1.8,70,83.4,72.0,6.3,82.1,0.6,4.01,15.93
Sweden,0.0,19.0,1.7,31287.0,NaN,3.2,77,1.12,42393.0,91,83.0,496.0,19.3,6,96,2.0,86,82.4,75.0,7.3,75.6,0.9,1.07,15.18
Switzerland,0.1,22.0,1.9,37466.0,NaN,NaN,80,1.82,62283.0,93,88.0,506.0,17.5,15,95,2.3,49,83.7,78.0,7.5,85.3,0.6,0.37,NaN
Turkey,8.0,20.0,1.0,NaN,NaN,12.5,52,2.39,NaN,86,39.0,425.0,18.3,20,65,1.5,86,78.0,69.0,5.5,59.8,1.4,32.64,14.79
United Kingdom,0.3,26.0,1.9,28715.0,548392.0,4.5,75,1.13,43732.0,94,81.0,500.0,17.5,11,84,3.1,69,81.2,69.0,6.8,77.7,0.2,12.15,14.92
United States,0.1,19.0,2.4,45284.0,632100.0,7.7,70,0.66,60558.0,91,91.0,488.0,17.2,10,83,3.1,65,78.6,88.0,6.9,73.9,5.5,11.09,14.44
OECD - Total,4.4,20.0,1.8,33604.0,408376.0,7.0,68,1.78,43241.0,89,78.0,486.0,17.2,14,81,2.4,68,80.2,69.0,6.5,68.4,3.7,11.01,14.98
Brazil,6.7,NaN,NaN,NaN,NaN,NaN,61,NaN,NaN,90,49.0,395.0,16.2,10,73,2.2,79,74.8,NaN,6.4,35.6,26.7,7.13,NaN
Russia,14.8,18.0,0.9,NaN,NaN,NaN,70,1.59,NaN,89,94.0,492.0,16.2,15,55,NaN,68,71.8,43.0,5.8,52.8,9.6,0.14,NaN
South Africa,37.0,18.0,NaN,NaN,NaN,NaN,43,16.46,NaN,88,73.0,NaN,NaN,22,67,NaN,73,57.5,NaN,4.7,36.1,13.7,18.12,14.92

#### Head

Trae los primeros n elementos

In [12]:
df.head(5)

,Dwellings without basic facilities,Housing expenditure,Rooms per person,Household net adjusted disposable income,Household net wealth,Labour market insecurity,Employment rate,Long-term unemployment rate,Personal earnings,Quality of support network,Educational attainment,Student skills,Years in education,Air pollution,Water quality,Stakeholder engagement for developing regulations,Voter turnout,Life expectancy,Self-reported health,Life satisfaction,Feeling safe walking alone at night,Homicide rate,Employees working very long hours,Time devoted to leisure and personal care
Country,,,,,,,,,,,,,,,,,,,,,,,,
Australia,NaN,20.0,NaN,32759.0,427064.0,5.4,73,1.31,49126.0,95,81.0,502.0,21.0,5,93,2.7,91,82.5,85.0,7.3,63.5,1.1,13.04,14.35
Austria,0.9,21.0,1.6,33541.0,308325.0,3.5,72,1.84,50349.0,92,85.0,492.0,17.0,16,92,1.3,80,81.7,70.0,7.1,80.6,0.5,6.66,14.55
Belgium,1.9,21.0,2.2,30364.0,386006.0,3.7,63,3.54,49675.0,91,77.0,503.0,19.3,15,84,2.0,89,81.5,74.0,6.9,70.1,1.0,4.75,15.70
Canada,0.2,22.0,2.6,30854.0,423849.0,6.0,73,0.77,47622.0,93,91.0,523.0,17.3,7,91,2.9,68,81.9,88.0,7.4,82.2,1.3,3.69,14.56
Chile,9.4,18.0,1.2,NaN,100967.0,8.7,63,NaN,25879.0,85,65.0,443.0,17.5,16,71,1.3,47,79.9,57.0,6.5,47.9,4.2,9.72,NaN

#### Tail

Trae los √∫ltimos n elementos

In [14]:
df.tail(5)

,Dwellings without basic facilities,Housing expenditure,Rooms per person,Household net adjusted disposable income,Household net wealth,Labour market insecurity,Employment rate,Long-term unemployment rate,Personal earnings,Quality of support network,Educational attainment,Student skills,Years in education,Air pollution,Water quality,Stakeholder engagement for developing regulations,Voter turnout,Life expectancy,Self-reported health,Life satisfaction,Feeling safe walking alone at night,Homicide rate,Employees working very long hours,Time devoted to leisure and personal care
Country,,,,,,,,,,,,,,,,,,,,,,,,
United States,0.1,19.0,2.4,45284.0,632100.0,7.7,70,0.66,60558.0,91,91.0,488.0,17.2,10,83,3.1,65,78.6,88.0,6.9,73.9,5.5,11.09,14.44
OECD - Total,4.4,20.0,1.8,33604.0,408376.0,7.0,68,1.78,43241.0,89,78.0,486.0,17.2,14,81,2.4,68,80.2,69.0,6.5,68.4,3.7,11.01,14.98
Brazil,6.7,NaN,NaN,NaN,NaN,NaN,61,NaN,NaN,90,49.0,395.0,16.2,10,73,2.2,79,74.8,NaN,6.4,35.6,26.7,7.13,NaN
Russia,14.8,18.0,0.9,NaN,NaN,NaN,70,1.59,NaN,89,94.0,492.0,16.2,15,55,NaN,68,71.8,43.0,5.8,52.8,9.6,0.14,NaN
South Africa,37.0,18.0,NaN,NaN,NaN,NaN,43,16.46,NaN,88,73.0,NaN,NaN,22,67,NaN,73,57.5,NaN,4.7,36.1,13.7,18.12,14.92

#### Sample

Entrega n filas aleatorias

In [16]:
df.sample(5)

,Dwellings without basic facilities,Housing expenditure,Rooms per person,Household net adjusted disposable income,Household net wealth,Labour market insecurity,Employment rate,Long-term unemployment rate,Personal earnings,Quality of support network,Educational attainment,Student skills,Years in education,Air pollution,Water quality,Stakeholder engagement for developing regulations,Voter turnout,Life expectancy,Self-reported health,Life satisfaction,Feeling safe walking alone at night,Homicide rate,Employees working very long hours,Time devoted to leisure and personal care
Country,,,,,,,,,,,,,,,,,,,,,,,,
Slovak Republic,1.2,23.0,1.1,20474.0,119696.0,9.9,66,4.78,24328.0,91,91.0,463.0,15.8,21,85,3.0,60,77.3,66.0,6.2,63.5,0.8,4.14,NaN
France,0.5,21.0,1.8,31304.0,280653.0,7.6,65,4.00,43755.0,90,78.0,496.0,16.5,13,81,2.1,75,82.4,66.0,6.5,70.5,0.5,7.67,16.36
Poland,3.0,22.0,1.1,19814.0,210991.0,5.7,66,1.52,27046.0,86,92.0,504.0,17.6,22,82,2.6,55,78.0,58.0,6.1,67.3,0.7,5.95,14.42
Switzerland,0.1,22.0,1.9,37466.0,NaN,NaN,80,1.82,62283.0,93,88.0,506.0,17.5,15,95,2.3,49,83.7,78.0,7.5,85.3,0.6,0.37,NaN
Denmark,0.5,23.0,1.9,29606.0,118637.0,4.2,74,1.31,51466.0,95,81.0,504.0,19.5,9,95,2.0,86,80.9,71.0,7.6,83.5,0.6,2.34,15.87

> **Pregunta ‚ùì** Existe alguna forma de repetir el mismo muestreo aleatorio de datos?

In [23]:
df.sample(5, random_state=2)

,Dwellings without basic facilities,Housing expenditure,Rooms per person,Household net adjusted disposable income,Household net wealth,Labour market insecurity,Employment rate,Long-term unemployment rate,Personal earnings,Quality of support network,Educational attainment,Student skills,Years in education,Air pollution,Water quality,Stakeholder engagement for developing regulations,Voter turnout,Life expectancy,Self-reported health,Life satisfaction,Feeling safe walking alone at night,Homicide rate,Employees working very long hours,Time devoted to leisure and personal care
Country,,,,,,,,,,,,,,,,,,,,,,,,
Poland,3.0,22.0,1.1,19814.0,210991.0,5.7,66,1.52,27046.0,86,92.0,504.0,17.6,22,82,2.6,55,78.0,58.0,6.1,67.3,0.7,5.95,14.42
Finland,0.5,23.0,1.9,29943.0,200827.0,3.9,70,2.13,42964.0,95,88.0,523.0,19.8,6,95,2.2,67,81.5,70.0,7.6,85.1,1.3,3.81,15.17
Iceland,0.0,24.0,1.6,NaN,NaN,0.7,86,0.26,61787.0,98,77.0,481.0,19.0,3,99,2.1,79,82.3,76.0,7.5,86.0,0.5,15.06,NaN
Australia,NaN,20.0,NaN,32759.0,427064.0,5.4,73,1.31,49126.0,95,81.0,502.0,21.0,5,93,2.7,91,82.5,85.0,7.3,63.5,1.1,13.04,14.35
Belgium,1.9,21.0,2.2,30364.0,386006.0,3.7,63,3.54,49675.0,91,77.0,503.0,19.3,15,84,2.0,89,81.5,74.0,6.9,70.1,1.0,4.75,15.70

> **Pregunta ‚ùì** ¬øCu√°l es la unidad m√°s b√°sica que los `DataFrames`?

In [24]:
df.values

array([[        nan, 2.00000e+01,         nan, 3.27590e+04, 4.27064e+05,
        5.40000e+00, 7.30000e+01, 1.31000e+00, 4.91260e+04, 9.50000e+01,
        8.10000e+01, 5.02000e+02, 2.10000e+01, 5.00000e+00, 9.30000e+01,
        2.70000e+00, 9.10000e+01, 8.25000e+01, 8.50000e+01, 7.30000e+00,
        6.35000e+01, 1.10000e+00, 1.30400e+01, 1.43500e+01],
       [9.00000e-01, 2.10000e+01, 1.60000e+00, 3.35410e+04, 3.08325e+05,
        3.50000e+00, 7.20000e+01, 1.84000e+00, 5.03490e+04, 9.20000e+01,
        8.50000e+01, 4.92000e+02, 1.70000e+01, 1.60000e+01, 9.20000e+01,
        1.30000e+00, 8.00000e+01, 8.17000e+01, 7.00000e+01, 7.10000e+00,
        8.06000e+01, 5.00000e-01, 6.66000e+00, 1.45500e+01],
       [1.90000e+00, 2.10000e+01, 2.20000e+00, 3.03640e+04, 3.86006e+05,
        3.70000e+00, 6.30000e+01, 3.54000e+00, 4.96750e+04, 9.10000e+01,
        7.70000e+01, 5.03000e+02, 1.93000e+01, 1.50000e+01, 8.40000e+01,
        2.00000e+00, 8.90000e+01, 8.15000e+01, 7.40000e+01, 6.90000e+00,
        7.01000e+01, 1.00000e+00, 4.75000e+00, 1.57000e+01],
       [2.00000e-01, 2.20000e+01, 2.60000e+00, 3.08540e+04, 4.23849e+05,
        6.00000e+00, 7.30000e+01, 7.70000e-01, 4.76220e+04, 9.30000e+01,
        9.10000e+01, 5.23000e+02, 1.73000e+01, 7.00000e+00, 9.10000e+01,
        2.90000e+00, 6.80000e+01, 8.19000e+01, 8.80000e+01, 7.40000e+00,
        8.22000e+01, 1.30000e+00, 3.69000e+00, 1.45600e+01],
       [9.40000e+00, 1.80000e+01, 1.20000e+00,         nan, 1.00967e+05,
        8.70000e+00, 6.30000e+01,         nan, 2.58790e+04, 8.50000e+01,
        6.50000e+01, 4.43000e+02, 1.75000e+01, 1.60000e+01, 7.10000e+01,
        1.30000e+00, 4.70000e+01, 7.99000e+01, 5.70000e+01, 6.50000e+00,
        4.79000e+01, 4.20000e+00, 9.72000e+00,         nan],
       [2.39000e+01, 1.70000e+01, 1.20000e+00,         nan,         nan,
                nan, 6.70000e+01, 7.90000e-01,         nan, 8.90000e+01,
        5.40000e+01, 4.10000e+02, 1.41000e+01, 1.00000e+01, 7.50000e+01,
        1.40000e+00, 5.30000e+01, 7.62000e+01,         nan, 6.30000e+00,
        4.44000e+01, 2.45000e+01, 2.65600e+01,         nan],
       [7.00000e-01, 2.40000e+01, 1.40000e+00, 2.14530e+04,         nan,
        3.10000e+00, 7.40000e+01, 1.04000e+00, 2.53720e+04, 9.10000e+01,
        9.40000e+01, 4.91000e+02, 1.79000e+01, 2.00000e+01, 8.70000e+01,
        1.60000e+00, 6.10000e+01, 7.91000e+01, 6.00000e+01, 6.70000e+00,
        7.23000e+01, 5.00000e-01, 5.65000e+00,         nan],
       [5.00000e-01, 2.30000e+01, 1.90000e+00, 2.96060e+04, 1.18637e+05,
        4.20000e+00, 7.40000e+01, 1.31000e+00, 5.14660e+04, 9.50000e+01,
        8.10000e+01, 5.04000e+02, 1.95000e+01, 9.00000e+00, 9.50000e+01,
        2.00000e+00, 8.60000e+01, 8.09000e+01, 7.10000e+01, 7.60000e+00,
        8.35000e+01, 6.00000e-01, 2.34000e+00, 1.58700e+01],
       [7.00000e+00, 1.70000e+01, 1.60000e+00, 1.96970e+04, 1.59373e+05,
        3.80000e+00, 7.40000e+01, 1.92000e+00, 2.43360e+04, 9.20000e+01,
        8.90000e+01, 5.24000e+02, 1.77000e+01, 8.00000e+00, 8.40000e+01,
        2.70000e+00, 6.40000e+01, 7.78000e+01, 5.30000e+01, 5.70000e+00,
        6.90000e+01, 3.10000e+00, 2.42000e+00, 1.49000e+01],
       [5.00000e-01, 2.30000e+01, 1.90000e+00, 2.99430e+04, 2.00827e+05,
        3.90000e+00, 7.00000e+01, 2.13000e+00, 4.29640e+04, 9.50000e+01,
        8.80000e+01, 5.23000e+02, 1.98000e+01, 6.00000e+00, 9.50000e+01,
        2.20000e+00, 6.70000e+01, 8.15000e+01, 7.00000e+01, 7.60000e+00,
        8.51000e+01, 1.30000e+00, 3.81000e+00, 1.51700e+01],
       [5.00000e-01, 2.10000e+01, 1.80000e+00, 3.13040e+04, 2.80653e+05,
        7.60000e+00, 6.50000e+01, 4.00000e+00, 4.37550e+04, 9.00000e+01,
        7.80000e+01, 4.96000e+02, 1.65000e+01, 1.30000e+01, 8.10000e+01,
        2.10000e+00, 7.50000e+01, 8.24000e+01, 6.60000e+01, 6.50000e+00,
        7.05000e+01, 5.00000e-01, 7.67000e+00, 1.63600e+01],
       [2.00000e-01, 2.00000e+01, 1.80000e+00, 3.42940e+04, 2.59667e+05,
        2.70000e+00, 7.50000e+01, 1.57000e+00, 4.75850e+04, 9.00000e+01,
        8.70000e+01, 5.08000e+02, 1.81000e+01, 1.40000e+01, 9.10000e+01,
        1.80000e+00, 7.60000e+01, 8.11000e+01, 6.50000e+01, 7.00000e+00,
        7.25000e+01, 5.00000e-01, 4.26000e+00, 1.56200e+01],
       [5.00000e-01, 2.30000e+01, 1.20000e+00, 1.77000e+04, 1.50134e+05,
        2.98000e+01, 5.30000e+01, 1.56500e+01, 2.60640e+04, 8.00000e+01,
        7.30000e+01, 4.58000e+02, 1.90000e+01, 1.80000e+01, 6.90000e+01,
        1.80000e+00, 6.40000e+01, 8.15000e+01, 7.40000e+01, 5.40000e+00,
        6.00000e+01, 8.00000e-01, 6.42000e+00,         nan],
       [4.70000e+00, 1.90000e+01, 1.20000e+00,         nan, 1.04458e+05,
        4.70000e+00, 6.80000e+01, 1.72000e+00, 2.25760e+04, 8.60000e+01,
        8.40000e+01, 4.74000e+02, 1.64000e+01, 1.90000e+01, 7.70000e+01,
        1.20000e+00, 7.00000e+01, 7.62000e+01, 6.00000e+01, 5.60000e+00,
        5.63000e+01, 1.00000e+00, 3.03000e+00,         nan],
       [0.00000e+00, 2.40000e+01, 1.60000e+00,         nan,         nan,
        7.00000e-01, 8.60000e+01, 2.60000e-01, 6.17870e+04, 9.80000e+01,
        7.70000e+01, 4.81000e+02, 1.90000e+01, 3.00000e+00, 9.90000e+01,
        2.10000e+00, 7.90000e+01, 8.23000e+01, 7.60000e+01, 7.50000e+00,
        8.60000e+01, 5.00000e-01, 1.50600e+01,         nan],
       [1.00000e+00, 2.00000e+01, 2.10000e+00, 2.53100e+04, 2.17130e+05,
        7.80000e+00, 6.70000e+01, 3.23000e+00, 4.76530e+04, 9.50000e+01,
        8.20000e+01, 5.09000e+02, 1.81000e+01, 7.00000e+00, 8.50000e+01,
        1.30000e+00, 6.50000e+01, 8.18000e+01, 8.30000e+01, 7.00000e+00,
        7.59000e+01, 7.00000e-01, 5.25000e+00,         nan],
       [        nan,         nan, 1.20000e+00,         nan,         nan,
        4.20000e+00, 6.90000e+01, 4.90000e-01, 3.50670e+04, 8.80000e+01,
        8.70000e+01, 4.72000e+02, 1.56000e+01, 2.10000e+01, 6.70000e+01,
        2.50000e+00, 7.20000e+01, 8.25000e+01, 8.40000e+01, 7.20000e+00,
        6.98000e+01, 1.80000e+00, 1.54500e+01,         nan],
       [7.00000e-01, 2.30000e+01, 1.40000e+00, 2.65880e+04, 2.79889e+05,
        1.23000e+01, 5.80000e+01, 6.59000e+00, 3.66580e+04, 9.20000e+01,
        6.10000e+01, 4.85000e+02, 1.66000e+01, 1.80000e+01, 7.10000e+01,
        2.50000e+00, 7.30000e+01, 8.33000e+01, 7.10000e+01, 6.00000e+00,
        5.84000e+01, 6.00000e-01, 4.11000e+00, 1.64700e+01],
       [6.40000e+00, 2.20000e+01, 1.90000e+00, 2.97980e+04, 3.05878e+05,
        1.40000e+00, 7.50000e+01, 1.03000e+00, 4.08630e+04, 8.90000e+01,
                nan, 5.29000e+02, 1.64000e+01, 1.40000e+01, 8.70000e+01,
        1.40000e+00, 5.30000e+01, 8.41000e+01, 3.60000e+01, 5.90000e+00,
        7.25000e+01, 2.00000e-01,         nan,         nan],
       [2.50000e+00, 1.50000e+01, 1.50000e+00, 2.18820e+04, 2.85980e+05,
        2.60000e+00, 6.70000e+01, 5.00000e-02, 3.51910e+04, 7.80000e+01,
        8.80000e+01, 5.19000e+02, 1.73000e+01, 2.80000e+01, 7.60000e+01,
        2.90000e+00, 7.70000e+01, 8.24000e+01, 3.30000e+01, 5.90000e+00,
        6.66000e+01, 1.00000e+00,         nan, 1.47000e+01],
       [1.39000e+01, 2.30000e+01, 1.20000e+00, 1.62750e+04, 7.01600e+04,
        9.60000e+00, 7.00000e+01, 3.35000e+00, 2.36830e+04, 8.60000e+01,
        8.80000e+01, 4.87000e+02, 1.80000e+01, 1.10000e+01, 7.90000e+01,
        2.20000e+00, 5.90000e+01, 7.47000e+01, 4.70000e+01, 5.90000e+00,
        6.24000e+01, 4.80000e+00, 1.27000e+00, 1.38300e+01],
       [1.36000e+01, 1.90000e+01, 1.50000e+00, 2.16600e+04,         nan,
                nan, 7.00000e+01, 2.69000e+00, 2.42870e+04, 8.80000e+01,
        9.30000e+01, 4.75000e+02, 1.84000e+01, 1.40000e+01, 8.10000e+01,
        2.40000e+00, 5.10000e+01, 7.48000e+01, 4.30000e+01, 5.90000e+00,
        5.59000e+01, 3.40000e+00, 5.40000e-01,         nan],
       [5.00000e-01, 2.10000e+01, 1.90000e+00, 3.92640e+04, 7.69053e+05,
        1.70000e+00, 6.60000e+01, 2.35000e+00, 6.30620e+04, 9.30000e+01,
        7.70000e+01, 4.83000e+02, 1.51000e+01, 1.20000e+01, 8.40000e+01,
        1.70000e+00, 9.10000e+01, 8.28000e+01, 6.90000e+01, 6.90000e+00,
        7.58000e+01, 6.00000e-01, 3.82000e+00,         nan],
       [2.55000e+01, 2.00000e+01, 1.00000e+00,         nan,         nan,
        5.50000e+00, 6.10000e+01, 7.00000e-02, 1.53140e+04, 8.10000e+01,
        3.80000e+01, 4.16000e+02, 1.52000e+01, 1.60000e+01, 6.80000e+01,
        3.20000e+00, 6.30000e+01, 7.54000e+01, 6.60000e+01, 6.50000e+00,
        4.18000e+01, 1.81000e+01, 2.87000e+01,         nan],
       [1.00000e-01, 1.90000e+01, 1.90000e+00, 2.93330e+04, 1.57824e+05,
        4.80000e+00, 7.60000e+01, 1.97000e+00, 5.28770e+04, 9.10000e+01,
        7.80000e+01, 5.08000e+02, 1.87000e+01, 1.40000e+01, 9.30000e+01,
        2.60000e+00, 8.20000e+01, 8.16000e+01, 7.60000e+01, 7.40000e+00,
        8.20000e+01, 6.00000e-01, 4.20000e-01,         nan],
       [        nan, 2.60000e+01, 2.40000e+00,         nan, 3.88514e+05,
        4.70000e+00, 7.70000e+01, 7.40000e-01, 4.00430e+04, 9.60000e+01,
        7.90000e+01, 5.06000e+02, 1.77000e+01, 5.00000e+00, 8.90000e+01,
        2.50000e+00, 8.00000e+01, 8.17000e+01, 8.80000e+01, 7.30000e+00,
        6.57000e+01, 1.30000e+00, 1.51100e+01, 1.48700e+01],
       [0.00000e+00, 1.70000e+01, 2.10000e+00, 3.57250e+04, 2.28936e+05,
                nan, 7.40000e+01, 6.60000e-01, 5.12120e+04, 9.40000e+01,
        8.20000e+01, 5.04000e+02, 1.83000e+01, 5.00000e+00, 9.80000e+01,
        2.20000e+00, 7.80000e+01, 8.25000e+01, 7.70000e+01, 7.60000e+00,
        9.01000e+01, 4.00000e-01, 2.93000e+00, 1.55600e+01],
       [3.00000e+00, 2.20000e+01, 1.10000e+00, 1.98140e+04, 2.10991e+05,
        5.70000e+00, 6.60000e+01, 1.52000e+00, 2.70460e+04, 8.60000e+01,
        9.20000e+01, 5.04000e+02, 1.76000e+01, 2.20000e+01, 8.20000e+01,
        2.60000e+00, 5.50000e+01, 7.80000e+01, 5.80000e+01, 6.10000e+00,
        6.73000e+01, 7.00000e-01, 5.95000e+00, 1.44200e+01],
       [1.00000e+00, 2.10000e+01, 1.70000e+00, 2.12030e+04, 2.32666e+05,
        1.00000e+01, 6.80000e+01, 4.43000e+00, 2.53670e+04, 8.80000e+01,
        4.80000e+01, 4.97000e+02, 1.69000e+01, 1.00000e+01, 8.60000e+01,
        1.50000e+00, 5.60000e+01, 8.12000e+01, 4.80000e+01, 5.40000e+00,
        7.34000e+01, 1.00000e+00, 8.27000e+00,         nan],
       [1.20000e+00, 2.30000e+01, 1.10000e+00, 2.04740e+04, 1.19696e+05,
        9.90000e+00, 6.60000e+01, 4.78000e+00, 2.43280e+04, 9.10000e+01,
        9.10000e+01, 4.63000e+02, 1.58000e+01, 2.10000e+01, 8.50000e+01,
        3.00000e+00, 6.00000e+01, 7.73000e+01, 6.60000e+01, 6.20000e+00,
        6.35000e+01, 8.00000e-01, 4.14000e+00,         nan],
       [4.00000e-01, 1.80000e+01, 1.50000e+00, 2.08200e+04, 2.03044e+05,
        5.80000e+00, 6.90000e+01, 3.17000e+00, 3.49330e+04, 9.20000e+01,
        8.80000e+01, 5.09000e+02, 1.83000e+01, 1.60000e+01, 9.00000e+01,
        2.50000e+00, 5.30000e+01, 8.13000e+01, 6.40000e+01, 5.90000e+00,
        8.61000e+01, 6.00000e-01, 4.39000e+00, 1.47500e+01],
       [1.00000e-01, 2.10000e+01, 1.90000e+00, 2.39990e+04, 3.73548e+05,
        2.31000e+01, 6.20000e+01, 7.66000e+00, 3.85070e+04, 9.30000e+01,
        5.90000e+01, 4.91000e+02, 1.79000e+01, 1.10000e+01, 7.20000e+01,
        1.80000e+00, 7.00000e+01, 8.34000e+01, 7.20000e+01, 6.30000e+00,
        8.21000e+01, 6.00000e-01, 4.01000e+00, 1.59300e+01],
       [0.00000e+00, 1.90000e+01, 1.70000e+00, 3.12870e+04,         nan,
        3.20000e+00, 7.70000e+01, 1.12000e+00, 4.23930e+04, 9.10000e+01,
        8.30000e+01, 4.96000e+02, 1.93000e+01, 6.00000e+00, 9.60000e+01,
        2.00000e+00, 8.60000e+01, 8.24000e+01, 7.50000e+01, 7.30000e+00,
        7.56000e+01, 9.00000e-01, 1.07000e+00, 1.51800e+01],
       [1.00000e-01, 2.20000e+01, 1.90000e+00, 3.74660e+04,         nan,
                nan, 8.00000e+01, 1.82000e+00, 6.22830e+04, 9.30000e+01,
        8.80000e+01, 5.06000e+02, 1.75000e+01, 1.50000e+01, 9.50000e+01,
        2.30000e+00, 4.90000e+01, 8.37000e+01, 7.80000e+01, 7.50000e+00,
        8.53000e+01, 6.00000e-01, 3.70000e-01,         nan],
       [8.00000e+00, 2.00000e+01, 1.00000e+00,         nan,         nan,
        1.25000e+01, 5.20000e+01, 2.39000e+00,         nan, 8.60000e+01,
        3.90000e+01, 4.25000e+02, 1.83000e+01, 2.00000e+01, 6.50000e+01,
        1.50000e+00, 8.60000e+01, 7.80000e+01, 6.90000e+01, 5.50000e+00,
        5.98000e+01, 1.40000e+00, 3.26400e+01, 1.47900e+01],
       [3.00000e-01, 2.60000e+01, 1.90000e+00, 2.87150e+04, 5.48392e+05,
        4.50000e+00, 7.50000e+01, 1.13000e+00, 4.37320e+04, 9.40000e+01,
        8.10000e+01, 5.00000e+02, 1.75000e+01, 1.10000e+01, 8.40000e+01,
        3.10000e+00, 6.90000e+01, 8.12000e+01, 6.90000e+01, 6.80000e+00,
        7.77000e+01, 2.00000e-01, 1.21500e+01, 1.49200e+01],
       [1.00000e-01, 1.90000e+01, 2.40000e+00, 4.52840e+04, 6.32100e+05,
        7.70000e+00, 7.00000e+01, 6.60000e-01, 6.05580e+04, 9.10000e+01,
        9.10000e+01, 4.88000e+02, 1.72000e+01, 1.00000e+01, 8.30000e+01,
        3.10000e+00, 6.50000e+01, 7.86000e+01, 8.80000e+01, 6.90000e+00,
        7.39000e+01, 5.50000e+00, 1.10900e+01, 1.44400e+01],
       [4.40000e+00, 2.00000e+01, 1.80000e+00, 3.36040e+04, 4.08376e+05,
        7.00000e+00, 6.80000e+01, 1.78000e+00, 4.32410e+04, 8.90000e+01,
        7.80000e+01, 4.86000e+02, 1.72000e+01, 1.40000e+01, 8.10000e+01,
        2.40000e+00, 6.80000e+01, 8.02000e+01, 6.90000e+01, 6.50000e+00,
        6.84000e+01, 3.70000e+00, 1.10100e+01, 1.49800e+01],
       [6.70000e+00,         nan,         nan,         nan,         nan,
                nan, 6.10000e+01,         nan,         nan, 9.00000e+01,
        4.90000e+01, 3.95000e+02, 1.62000e+01, 1.00000e+01, 7.30000e+01,
        2.20000e+00, 7.90000e+01, 7.48000e+01,         nan, 6.40000e+00,
        3.56000e+01, 2.67000e+01, 7.13000e+00,         nan],
       [1.48000e+01, 1.80000e+01, 9.00000e-01,         nan,         nan,
                nan, 7.00000e+01, 1.59000e+00,         nan, 8.90000e+01,
        9.40000e+01, 4.92000e+02, 1.62000e+01, 1.50000e+01, 5.50000e+01,
                nan, 6.80000e+01, 7.18000e+01, 4.30000e+01, 5.80000e+00,
        5.28000e+01, 9.60000e+00, 1.40000e-01,         nan],
       [3.70000e+01, 1.80000e+01,         nan,         nan,         nan,
                nan, 4.30000e+01, 1.64600e+01,         nan, 8.80000e+01,
        7.30000e+01,         nan,         nan, 2.20000e+01, 6.70000e+01,
                nan, 7.30000e+01, 5.75000e+01,         nan, 4.70000e+00,
        3.61000e+01, 1.37000e+01, 1.81200e+01, 1.49200e+01]])

---

## 3.- `Series`

Los objetos tipo `pd.Series` son los objetos base de los DataFrames. Estos consisten en un arreglo unidimensional (que puede contener una sucesi√≥n de valores u objetos) asociados a un √≠ndice. Adem√°s, opcionalmente pueden llevar un nombre (que ser√≠a el equivalente al nombre de la columna de un DataFrame).

In [25]:
serie = pd.Series([1, 9, 7, -5, 3, 10], name="Mi serie")
serie

0     1
1     9
2     7
3    -5
4     3
5    10
Name: Mi serie, dtype: int64

### Atributos b√°sicos

In [26]:
serie.values

array([ 1,  9,  7, -5,  3, 10])

In [27]:
serie.index

RangeIndex(start=0, stop=6, step=1)

In [28]:
serie.dtype

dtype('int64')

In [29]:
serie.name

'Mi serie'

In [30]:
serie.shape

(6,)

### Indexado de Series

Podemos acceder a cualquier elemento de una serie usando los mismos principios de indexado que en `numpy`:

In [31]:
serie

0     1
1     9
2     7
3    -5
4     3
5    10
Name: Mi serie, dtype: int64

In [32]:
serie[0]

1

In [33]:
serie[0:2]

0    1
1    9
Name: Mi serie, dtype: int64

In [34]:
serie[0:4]

0    1
1    9
2    7
3   -5
Name: Mi serie, dtype: int64

---

## 4.- Indexado de DataFrames

En esta secci√≥n veremos como seleccionar filas y columnas a trav√©s de distintos tipos de indexados.

<img src="./resources/subsets.png" alt="OECD Better life index"/>

In [35]:
df.head(5)

,Dwellings without basic facilities,Housing expenditure,Rooms per person,Household net adjusted disposable income,Household net wealth,Labour market insecurity,Employment rate,Long-term unemployment rate,Personal earnings,Quality of support network,Educational attainment,Student skills,Years in education,Air pollution,Water quality,Stakeholder engagement for developing regulations,Voter turnout,Life expectancy,Self-reported health,Life satisfaction,Feeling safe walking alone at night,Homicide rate,Employees working very long hours,Time devoted to leisure and personal care
Country,,,,,,,,,,,,,,,,,,,,,,,,
Australia,NaN,20.0,NaN,32759.0,427064.0,5.4,73,1.31,49126.0,95,81.0,502.0,21.0,5,93,2.7,91,82.5,85.0,7.3,63.5,1.1,13.04,14.35
Austria,0.9,21.0,1.6,33541.0,308325.0,3.5,72,1.84,50349.0,92,85.0,492.0,17.0,16,92,1.3,80,81.7,70.0,7.1,80.6,0.5,6.66,14.55
Belgium,1.9,21.0,2.2,30364.0,386006.0,3.7,63,3.54,49675.0,91,77.0,503.0,19.3,15,84,2.0,89,81.5,74.0,6.9,70.1,1.0,4.75,15.70
Canada,0.2,22.0,2.6,30854.0,423849.0,6.0,73,0.77,47622.0,93,91.0,523.0,17.3,7,91,2.9,68,81.9,88.0,7.4,82.2,1.3,3.69,14.56
Chile,9.4,18.0,1.2,NaN,100967.0,8.7,63,NaN,25879.0,85,65.0,443.0,17.5,16,71,1.3,47,79.9,57.0,6.5,47.9,4.2,9.72,NaN

### Acceder a una serie en espec√≠fico



Volviendo a nuestro ejemplo, podemos acceder a las series de nuestro Dataset por medio de un indexador al cual se le provee el nombre de alguna columna. 

Por ejemplo:

> **Water quality üíß**: Porcentaje de personas que informan estar satisfechas con la calidad del agua local

In [36]:
df['Water quality']

Country
Australia          93
Austria            92
Belgium            84
Canada             91
Chile              71
Colombia           75
Czech Republic     87
Denmark            95
Estonia            84
Finland            95
France             81
Germany            91
Greece             69
Hungary            77
Iceland            99
Ireland            85
Israel             67
Italy              71
Japan              87
Korea              76
Latvia             79
Lithuania          81
Luxembourg         84
Mexico             68
Netherlands        93
New Zealand        89
Norway             98
Poland             82
Portugal           86
Slovak Republic    85
Slovenia           90
Spain              72
Sweden             96
Switzerland        95
Turkey             65
United Kingdom     84
United States      83
OECD - Total       81
Brazil             73
Russia             55
South Africa       67
Name: Water quality, dtype: int64

### Selector de Columnas

Veamos ahora c√≥mo seleccionar un par de columnas en particular, como por ejemplo:

> **Water quality üíß**: Porcentaje de personas que informan estar satisfechas con la calidad del agua local

> **Air Pollution üèôÔ∏è**: Concentraci√≥n promedio de part√≠culas (PM2.5) en ciudades con poblaciones mayores de 100,000 personas

In [38]:
df[['Water quality', 'Air pollution']]

                 Water quality  Air pollution
Country
Australia                   93              5
Austria                     92             16
Belgium                     84             15
Canada                      91              7
Chile                       71             16
Colombia                    75             10
Czech Republic              87             20
Denmark                     95              9
Estonia                     84              8
Finland                     95              6
France                      81             13
Germany                     91             14
Greece                      69             18
Hungary                     77             19
Iceland                     99              3
Ireland                     85              7
Israel                      67             21
Italy                       71             18
Japan                       87             14
Korea                       76             28
Latvia                      79             11
Lithuania                   81             14
Luxembourg                  84             12
Mexico                      68             16
Netherlands                 93             14
New Zealand                 89              5
Norway                      98              5
Poland                      82             22
Portugal                    86             10
Slovak Republic             85             21
Slovenia                    90             16
Spain                       72             11
Sweden                      96              6
Switzerland                 95             15
Turkey                      65             20
United Kingdom              84             11
United States               83             10
OECD - Total                81             14
Brazil                      73             10
Russia                      55             15
South Africa                67             22

### Selector de filas

Para seleccionar filas, podemos entregar un indexador de filas al estilo `numpy`:

In [40]:
df[0:10]

,Dwellings without basic facilities,Housing expenditure,Rooms per person,Household net adjusted disposable income,Household net wealth,Labour market insecurity,Employment rate,Long-term unemployment rate,Personal earnings,Quality of support network,Educational attainment,Student skills,Years in education,Air pollution,Water quality,Stakeholder engagement for developing regulations,Voter turnout,Life expectancy,Self-reported health,Life satisfaction,Feeling safe walking alone at night,Homicide rate,Employees working very long hours,Time devoted to leisure and personal care
Country,,,,,,,,,,,,,,,,,,,,,,,,
Australia,NaN,20.0,NaN,32759.0,427064.0,5.4,73,1.31,49126.0,95,81.0,502.0,21.0,5,93,2.7,91,82.5,85.0,7.3,63.5,1.1,13.04,14.35
Austria,0.9,21.0,1.6,33541.0,308325.0,3.5,72,1.84,50349.0,92,85.0,492.0,17.0,16,92,1.3,80,81.7,70.0,7.1,80.6,0.5,6.66,14.55
Belgium,1.9,21.0,2.2,30364.0,386006.0,3.7,63,3.54,49675.0,91,77.0,503.0,19.3,15,84,2.0,89,81.5,74.0,6.9,70.1,1.0,4.75,15.70
Canada,0.2,22.0,2.6,30854.0,423849.0,6.0,73,0.77,47622.0,93,91.0,523.0,17.3,7,91,2.9,68,81.9,88.0,7.4,82.2,1.3,3.69,14.56
Chile,9.4,18.0,1.2,NaN,100967.0,8.7,63,NaN,25879.0,85,65.0,443.0,17.5,16,71,1.3,47,79.9,57.0,6.5,47.9,4.2,9.72,NaN
Colombia,23.9,17.0,1.2,NaN,NaN,NaN,67,0.79,NaN,89,54.0,410.0,14.1,10,75,1.4,53,76.2,NaN,6.3,44.4,24.5,26.56,NaN
Czech Republic,0.7,24.0,1.4,21453.0,NaN,3.1,74,1.04,25372.0,91,94.0,491.0,17.9,20,87,1.6,61,79.1,60.0,6.7,72.3,0.5,5.65,NaN
Denmark,0.5,23.0,1.9,29606.0,118637.0,4.2,74,1.31,51466.0,95,81.0,504.0,19.5,9,95,2.0,86,80.9,71.0,7.6,83.5,0.6,2.34,15.87
Estonia,7.0,17.0,1.6,19697.0,159373.0,3.8,74,1.92,24336.0,92,89.0,524.0,17.7,8,84,2.7,64,77.8,53.0,5.7,69.0,3.1,2.42,14.90
Finland,0.5,23.0,1.9,29943.0,200827.0,3.9,70,2.13,42964.0,95,88.0,523.0,19.8,6,95,2.2,67,81.5,70.0,7.6,85.1,1.3,3.81,15.17

> **Pregunta ‚ùì**: ¬øC√≥mo seleccionamos al mismo tiempo filas y columnas?

In [45]:
df[['Water quality']][9: 10]

         Water quality
Country
Finland             95

In [ ]:
df[[filas], [columnas]]

In [ ]:
df.loc[0: 3, [2, 4]]

### Loc: Indexador por etiquetas

Permite acceder ciertos elementos por nombre de columnas y nombre de √≠ndices

In [46]:
df.loc[
    ["Chile", "Mexico", "Brazil", "Colombia"], # <- filas
    ["Water quality", "Air pollution"]         # <- columnas
]

          Water quality  Air pollution
Country
Chile                71             16
Mexico               68             16
Brazil               73             10
Colombia             75             10

In [47]:
df.loc[
    ["Chile", "Mexico", "Brazil", "Colombia"], # <- filas
    :                                          # <- columnas
]

,Dwellings without basic facilities,Housing expenditure,Rooms per person,Household net adjusted disposable income,Household net wealth,Labour market insecurity,Employment rate,Long-term unemployment rate,Personal earnings,Quality of support network,Educational attainment,Student skills,Years in education,Air pollution,Water quality,Stakeholder engagement for developing regulations,Voter turnout,Life expectancy,Self-reported health,Life satisfaction,Feeling safe walking alone at night,Homicide rate,Employees working very long hours,Time devoted to leisure and personal care
Country,,,,,,,,,,,,,,,,,,,,,,,,
Chile,9.4,18.0,1.2,NaN,100967.0,8.7,63,NaN,25879.0,85,65.0,443.0,17.5,16,71,1.3,47,79.9,57.0,6.5,47.9,4.2,9.72,NaN
Mexico,25.5,20.0,1.0,NaN,NaN,5.5,61,0.07,15314.0,81,38.0,416.0,15.2,16,68,3.2,63,75.4,66.0,6.5,41.8,18.1,28.70,NaN
Brazil,6.7,NaN,NaN,NaN,NaN,NaN,61,NaN,NaN,90,49.0,395.0,16.2,10,73,2.2,79,74.8,NaN,6.4,35.6,26.7,7.13,NaN
Colombia,23.9,17.0,1.2,NaN,NaN,NaN,67,0.79,NaN,89,54.0,410.0,14.1,10,75,1.4,53,76.2,NaN,6.3,44.4,24.5,26.56,NaN

In [48]:
df.loc[
    :                                        , # <- filas
    ["Water quality", "Air pollution"]         # <- columnas
]

                 Water quality  Air pollution
Country
Australia                   93              5
Austria                     92             16
Belgium                     84             15
Canada                      91              7
Chile                       71             16
Colombia                    75             10
Czech Republic              87             20
Denmark                     95              9
Estonia                     84              8
Finland                     95              6
France                      81             13
Germany                     91             14
Greece                      69             18
Hungary                     77             19
Iceland                     99              3
Ireland                     85              7
Israel                      67             21
Italy                       71             18
Japan                       87             14
Korea                       76             28
Latvia                      79             11
Lithuania                   81             14
Luxembourg                  84             12
Mexico                      68             16
Netherlands                 93             14
New Zealand                 89              5
Norway                      98              5
Poland                      82             22
Portugal                    86             10
Slovak Republic             85             21
Slovenia                    90             16
Spain                       72             11
Sweden                      96              6
Switzerland                 95             15
Turkey                      65             20
United Kingdom              84             11
United States               83             10
OECD - Total                81             14
Brazil                      73             10
Russia                      55             15
South Africa                67             22

> **Pregunta ‚ùì**: Y si queremos usar filas con indexadores num√©ricos?

In [49]:
# no funcionaba porque nuestros √≠ndices son los pa√≠ses, no n√∫meros.
df.loc[[5, 7, 12], :]

KeyError: "None of [Int64Index([5, 7, 12], dtype='int64', name='Country')] are in the [index]"

In [52]:
df.loc[0:5, ["Water quality", "Air pollution"]]

TypeError: cannot do slice indexing on Index with these indexers [0] of type int

### Iloc: Indexador por √çndices

Para seleccionar por √≠ndices debemos utilizar otro tipo de indexador: `iloc`

In [51]:
df.iloc[8:12, :]

,Dwellings without basic facilities,Housing expenditure,Rooms per person,Household net adjusted disposable income,Household net wealth,Labour market insecurity,Employment rate,Long-term unemployment rate,Personal earnings,Quality of support network,Educational attainment,Student skills,Years in education,Air pollution,Water quality,Stakeholder engagement for developing regulations,Voter turnout,Life expectancy,Self-reported health,Life satisfaction,Feeling safe walking alone at night,Homicide rate,Employees working very long hours,Time devoted to leisure and personal care
Country,,,,,,,,,,,,,,,,,,,,,,,,
Estonia,7.0,17.0,1.6,19697.0,159373.0,3.8,74,1.92,24336.0,92,89.0,524.0,17.7,8,84,2.7,64,77.8,53.0,5.7,69.0,3.1,2.42,14.90
Finland,0.5,23.0,1.9,29943.0,200827.0,3.9,70,2.13,42964.0,95,88.0,523.0,19.8,6,95,2.2,67,81.5,70.0,7.6,85.1,1.3,3.81,15.17
France,0.5,21.0,1.8,31304.0,280653.0,7.6,65,4.00,43755.0,90,78.0,496.0,16.5,13,81,2.1,75,82.4,66.0,6.5,70.5,0.5,7.67,16.36
Germany,0.2,20.0,1.8,34294.0,259667.0,2.7,75,1.57,47585.0,90,87.0,508.0,18.1,14,91,1.8,76,81.1,65.0,7.0,72.5,0.5,4.26,15.62

In [56]:
df.iloc[:, 0:3]

,Dwellings without basic facilities,Housing expenditure,Rooms per person
Country,,,
Australia,NaN,20.0,NaN
Austria,0.9,21.0,1.6
Belgium,1.9,21.0,2.2
Canada,0.2,22.0,2.6
Chile,9.4,18.0,1.2
Colombia,23.9,17.0,1.2
Czech Republic,0.7,24.0,1.4
Denmark,0.5,23.0,1.9
Estonia,7.0,17.0,1.6
Finland,0.5,23.0,1.9
France,0.5,21.0,1.8
Germany,0.2,20.0,1.8
Greece,0.5,23.0,1.2
Hungary,4.7,19.0,1.2
Iceland,0.0,24.0,1.6
Ireland,1.0,20.0,2.1
Israel,NaN,NaN,1.2
Italy,0.7,23.0,1.4
Japan,6.4,22.0,1.9
Korea,2.5,15.0,1.5
Latvia,13.9,23.0,1.2
Lithuania,13.6,19.0,1.5
Luxembourg,0.5,21.0,1.9
Mexico,25.5,20.0,1.0
Netherlands,0.1,19.0,1.9
New Zealand,NaN,26.0,2.4
Norway,0.0,17.0,2.1
Poland,3.0,22.0,1.1
Portugal,1.0,21.0,1.7
Slovak Republic,1.2,23.0,1.1
Slovenia,0.4,18.0,1.5
Spain,0.1,21.0,1.9
Sweden,0.0,19.0,1.7
Switzerland,0.1,22.0,1.9
Turkey,8.0,20.0,1.0
United Kingdom,0.3,26.0,1.9
United States,0.1,19.0,2.4
OECD - Total,4.4,20.0,1.8
Brazil,6.7,NaN,NaN
Russia,14.8,18.0,0.9
South Africa,37.0,18.0,NaN

In [57]:
df.iloc[:, [14]]

                 Water quality
Country
Australia                   93
Austria                     92
Belgium                     84
Canada                      91
Chile                       71
Colombia                    75
Czech Republic              87
Denmark                     95
Estonia                     84
Finland                     95
France                      81
Germany                     91
Greece                      69
Hungary                     77
Iceland                     99
Ireland                     85
Israel                      67
Italy                       71
Japan                       87
Korea                       76
Latvia                      79
Lithuania                   81
Luxembourg                  84
Mexico                      68
Netherlands                 93
New Zealand                 89
Norway                      98
Poland                      82
Portugal                    86
Slovak Republic             85
Slovenia                    90
Spain                       72
Sweden                      96
Switzerland                 95
Turkey                      65
United Kingdom              84
United States               83
OECD - Total                81
Brazil                      73
Russia                      55
South Africa                67

### Mascaras üé≠: Selecci√≥n por Booleanos


Una operaci√≥n interesante de selcci√≥n es usar un arreglo de booleanos para seleccionar datos.

In [ ]:
len(df)

> **Pregunta ‚ùì**: ¬øC√≥mo podr√≠amos obtener aquellos pa√≠ses cuya 80% o m√°s de su poblaci√≥n est√©n conformes con la calidad del agua?

In [62]:
mascara = df["Water quality"] >= 101
mascara

Country
Australia          False
Austria            False
Belgium            False
Canada             False
Chile              False
Colombia           False
Czech Republic     False
Denmark            False
Estonia            False
Finland            False
France             False
Germany            False
Greece             False
Hungary            False
Iceland            False
Ireland            False
Israel             False
Italy              False
Japan              False
Korea              False
Latvia             False
Lithuania          False
Luxembourg         False
Mexico             False
Netherlands        False
New Zealand        False
Norway             False
Poland             False
Portugal           False
Slovak Republic    False
Slovenia           False
Spain              False
Sweden             False
Switzerland        False
Turkey             False
United Kingdom     False
United States      False
OECD - Total       False
Brazil             False
Russia             False
South Africa       False
Name: Water quality, dtype: bool

In [65]:
df.loc[mascara, ['Water quality']]

Empty DataFrame
Columns: [Water quality]
Index: []