
# Clase 8: Introducci√≥n a Manejo de Datos Tabulares con Pandas

**MDS7202: Laboratorio de Programaci√≥n Cient√≠fica para Ciencia de Datos**

### Objetivos de la clase

- Introducir los datos estructurados de forma tabular.
- Comprender los aspectos introductorios de `pandas`: `Series` y `DataFrames`.
- Indexado y operaciones b√°sicas en `DataFrames`.
- Filtrados y queries.

# Motivaci√≥n

Primero, se presentar√° el dataset con el cu√°l estaremos trabajando durante la clase y luego, vendr√°n unas preguntas interesantes al respecto.

### √çndices para una Vida Mejor

Para explicar `pandas`, analizaremos datos de la OECD, en particular de los √≠ndices para una Vida Mejor:


<img src="https://raw.githubusercontent.com/MDS7202/MDS7202/main/recursos/2023-01/08-Pandas1/oecd.png" alt="OECD Better life index"/>


http://www.oecdbetterlifeindex.org/

https://stats.oecd.org/Index.aspx?DataSetCode=BLI

Son 11 temas considerados como esenciales para el bienestar de la poblaci√≥n. Cada crierio contiene uno o mas indicadores

| Tema | Indicador (Ingl√©s) | Indicador (Espa√±ol) | Unidad | Descripci√≥n |
|---|---|---|---|---|
| Vivienda üè† | Dwellings without basic facilities | Vivienda con Instalaciones B√°sicas | Porcentaje | Porcentaje de personas con inodoros de agua corriente dentro del hogar, a√±o disponible m√°s reciente |
|  | Housing expenditure | Gastos en Vivienda | Porcentaje | Proporci√≥n de costos de vivienda en el ingreso neto ajustado de las familias, a√±o disponible m√°s reciente |
|  | Rooms per person | Habitaciones por Persona | Ratio | N√∫mero promedio de habitaciones compartidas por persona en una vivienda, a√±o disponible m√°s reciente |
| Ingresos üí∞ | Household net adjusted disposable income | Ingreso Familiar Disponible | US Dollar | Cantidad promedio de dinero que una familia gana al a√±o, despu√©s de impuestos, a√±o disponible m√°s reciente |
|  | Household net wealth | Patrimonio Neto Familiar | US Dollar | Valor total promedio de los activos financieros de una familia (ahorros, acciones) menos sus pasivos (cr√©ditos), a√±o disponible m√°s reciente |
| Empleo ‚öôÔ∏è | Labour market insecurity | Seguridad en el Empleo | Porcentaje | P√©rdida esperada de ingresos cuando alguien queda desempleado, a√±o disponible m√°s reciente |
|  | Employment rate | Tasa de Empleo | Porcentaje | Porcentaje de personas, de 15 a 64 a√±os de edad, actualmente con empleo remunerado, a√±o disponible m√°s reciente |
|  | Long-term unemployment rate | Tasa de Empleo a Largo Plazo | Porcentaje | Porcentaje de personas, de 15 a 64 a√±os de edad, que no trabajan pero que han buscado empleo activamente durante m√°s de un a√±o, a√±o disponible m√°s reciente |
|  | Personal earnings | Ingresos Personales | US Dollar | Ingresos anuales promedio por empleado de tiempo completo, a√±o disponible m√°s reciente |
| Comunidad üßë‚Äçü§ù‚Äçüßë   | Quality of support network  | Calidad del Apoyo Social | Porcentaje | Porcentaje de personas con amigos o parientes en quienes confiar en caso de necesidad |
| Educaci√≥n üìö | Educational attainment | Nivel de Educaci√≥n | Porcentaje | Porcentaje de personas, de 25 a 64 a√±os de edad, graduadas por lo menos de educaci√≥n media superior, a√±o disponible m√°s reciente |
|  | Student skills | Competencias de estudiantes en matem√°ticas, lectura y ciencias | Puntaje promedio | Desempe√±o promedio de estudiantes de 15 a√±os de edad, seg√∫n PISA (Programa para la Evaluaci√≥n Internacional de Estudiantes) |
|  | Years in education  | Nivel de educaci√≥n | A√±os | Duraci√≥n promedio de la educaci√≥n formal en la que un ni√±o de cinco a√±os de edad puede esperar matricularse durante su vida |
| Medio Ambiente üå≥ | Air pollution | Contaminaci√≥n del Aire | Microgramos por metro c√∫bico | Concentraci√≥n promedio de part√≠culas (PM2.5) en ciudades con poblaciones mayores de 100,000 personas, medida en microgramos por metro c√∫bico, a√±o disponible m√°s reciente |
|  | Water quality | Calidad del Agua | Porcentaje | Porcentaje de personas que informan estar satisfechas con la calidad del agua local |
| Compromiso C√≠vico üó≥Ô∏è  | Stakeholder engagement for developing regulations | Participaci√≥n de los interesados en la elaboraci√≥n de regulaciones | Puntaje promedio | Nivel de transparencia gubernamental al preparar las regulaciones, a√±o disponible m√°s reciente |
|  | Voter turnout | Participaci√≥n electoral | Porcentaje | Porcentaje de votantes registrados que votaron durante las elecciones recientes, a√±o disponible m√°s reciente |
| Salud ‚öïÔ∏è | Life expectancy | Esperanza de vida | A√±os | N√∫mero promedio de a√±os que una persona puede esperar vivir, a√±o disponible m√°s reciente |
|  | Self-reported health | Salud seg√∫n informan las personas | Porcentaje | Porcentaje de personas que informan que su salud es ¬´buena o muy buena¬ª, a√±o disponible m√°s reciente |
| Satisfacci√≥n ‚ú® | Life satisfaction | Satisfacci√≥n ante la vida | Puntaje promedio | Autoevaluaci√≥n promedio de satisfacci√≥n ante la vida, en una escala de 0 a 10 |
| Seguridad üåÉ | Feeling safe walking alone at night | Sentimiento de seguridad al caminar solos por la noche | Porcentaje | Porcentaje de personas que reportan sentirse seguras al caminar solas por la noche  |
|  | Homicide rate | Tasa de homicidios | Ratio | N√∫mero promedio de homicidios reportados por 100,000 personas, a√±o disponible m√°s reciente |
| Balance Vida Trabajo üßò | Employees working very long hours | Empleados que trabajan muchas horas | Porcentaje | Porcentaje de empleados que trabajan m√°s de cincuenta horas a la semana en promedio, a√±o disponible m√°s reciente |
|  | Time devoted to leisure and personal care | Tiempo destinado al ocio y el cuidado personal | Horas | N√∫mero promedio de minutos al d√≠a dedicados al ocio y el cuidado personal, incluidos el sue√±o y la alimentaci√≥n |

---

**Hasta el momento, todos los datos con los que hemos trabajado:**

### 1. Los hemos ingresado a mano

En este caso, tendr√≠amos que copiar y pegar los datos en formato arreglo de forma manual. 

Por ejemplo, las 10 primeras filas del dataset de la OECD de las columnas:

- Air pollution
- Dwellings without basic facilities
- Educational attainment
- Employees working very long hours
- Employment rate

In [ ]:
import numpy as np

datos = np.array(
    [
        [5.0, np.nan, 81.0, 12.84, 73.0],
        [16.0, 0.9, 85.0, 6.59, 72.0],
        [15.0, 1.9, 77.0, 4.7, 63.33],
        [10.0, 6.7, 49.0, 7.01, 61.0],
        [7.0, 0.2, 91.33, 3.67, 73.33],
        [16.0, 9.4, 65.0, 9.32, 62.67],
        [10.0, 23.9, 54.0, 26.01, 67.0],
        [20.0, 0.7, 93.67, 5.5, 73.67],
        [9.0, 0.5, 81.0, 2.32, 74.0],
        [8.0, 7.0, 88.67, 2.44, 74.0],
    ]
)

datos

> **Pregunta ‚ùì**: Entonces, ¬øC√≥mo en numpy podr√≠a leer una planilla Excel? ¬øY un archivo json? ¬øO un CSV? ¬ø O una base de datos?

### 2. Solo hemos usado n√∫meros

> **Pregunta ‚ùì**: ¬øC√≥mo puedo operar strings en numpy?

En este caso, me gustar√≠a agregar una nueva columna a los datos: el oa√≠s que describen los valores:

In [ ]:
pais = np.array([
    "Australia",
    "Austria",
    "Belgium",
    "Brazil",
    "Canada",
    "Chile",
    "Colombia",
    "Czech Republic",
    "Denmark",
    "Estonia",
])

Pero recuerden que para que numpy funcione eficientemente, los arreglos deben ser homogeneos, es decir, del mismo tipo.

> **Pregunta: ‚ùì** ¬øQu√© consecuencias podr√≠a traer el agregar esta nueva columna a los datos?

In [ ]:
nuevos_datos = np.concatenate([pais[:, np.newaxis], datos], axis=1)
nuevos_datos

In [ ]:
nuevos_datos.mean(axis=1)

### 3. Trabajamos solo con √≠ndices para obtener datos.

> **Pregunta ‚ùì** : ¬øY si mis filas o columnas tuvieran nombre (un string), c√≥mo las podr√≠a agregar a numpy?

In [ ]:
columnas = [
    "Country",
    "Air pollution",
    "Dwellings without basic facilities",
    "Educational attainment",
    "Employees working very long hours",
    "Employment rate",
]

Las reci√©n listadas son un solo un par de limitaciones de `numpy` a la hora de manejar datos.

Como podemos ver, lamentablemente `numpy` carece de funcionalidades m√°s avanzadas pero necesarias para ejecutar adecuada y eficientemente tareas de data science.

Aqu√≠ es donde entra en juego `pandas`.

---

## 1. Pandas üêº


`Pandas` (derivado de _panel data_)  una librer√≠a para python utilizada para manejar datos tabulares. 

<div align='center'>
<img src="https://raw.githubusercontent.com/MDS7202/MDS7202/main/recursos/2023-01/08-Pandas1/dataframe.png" alt="DataFrames" style="width: 500px;"/>
</div>


Est√° dise√±ada para proveer herramientas que faciliten la exploraci√≥n, limpieza y procesamiento de los datos. Su enfoque es *simplicidad y eficiencia*. Es, al igual que las librer√≠as anteriores, *open-source*.


La base de pandas son los `DataFrames`.

Como convenci√≥n, `Pandas` se importa de la siguiente manera:

In [ ]:
import pandas as pd

### Entrada / Salida (IO)

La lectura de datos en `pandas` es muy sencilla: `pandas` es compatible con muchos tipos de archivos y fuentes de datos de forma nativa:

- `CSV`
- `Excel`
- `SQL`
- `JSON`
- ...

Los datos almacenados en estas fuentes pueden ser importados a `DataFrames` a trav√©s de las funcioes `read_*`

De la misma forma, es capaz de guardar los DataFrames en el formato que deseen usando las funciones `to_*`

<div align='center'>

<img src="https://raw.githubusercontent.com/MDS7202/MDS7202/main/recursos/2023-01/08-Pandas1/pandas_io.png" alt="DataFrames" style="width: 800px;"/>
</div>
    
Toda la informaci√≥n acerca de que puede o no leer la encuentran en la siguiente referencia: https://pandas.pydata.org/docs/user_guide/io.html

### Importar el Dataset

A continuacion, importaremos el dataset a un `DataFrame`. Noten la gran compatiblidad de `Jupyter` con los DataFrames (DF).

Cada DataFrame tiene **indices (Primera columna ) y columnas (primera fila)**. Comunmente se ocupan:

- En las columnas se ocupan `strings` que identifican el nombre de la variable.
- Enteros que identifican el n√∫mero de la observaci√≥n en las filas. 

Sin embargo, las filas tambi√©n pueden ser identificadas por strings como las columnas por enteros

In [54]:
# para abrir archivos excel y visualizar hay que instalar esta dependencia extra
%pip install pandas openpyxl matplotlib plotly statsmodels

Requirement already satisfied: pandas in /home/pablo/miniconda3/envs/mds7202/lib/python3.9/site-packages (1.5.3)
Collecting openpyxl
  Downloading openpyxl-3.1.2-py2.py3-none-any.whl (249 kB)
     ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 250.0/250.0 kB 14.2 MB/s eta 0:00:00
Requirement already satisfied: matplotlib in /home/pablo/miniconda3/envs/mds7202/lib/python3.9/site-packages (3.7.1)
Requirement already satisfied: plotly in /home/pablo/miniconda3/envs/mds7202/lib/python3.9/site-packages (5.9.0)
Collecting statsmodels
  Downloading statsmodels-0.13.5-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (9.9 MB)
     ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 9.9/9.9 MB 3.1 MB/s eta 0:00:00a 0:00:01mm
Requirement already satisfied: python-dateutil>=2.8.1 in /home/pablo/miniconda3/envs/mds7202/lib/python3.9/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /home/pablo/miniconda3/envs/mds7202/lib/python3.9/site-packages (from pandas) (2022.7)
Requirement already satisfied: numpy>=1.20.3 in /home/pablo/miniconda3/envs/mds7202/lib/python3.9/site-packages (from pandas) (1.23.5)
Collecting et-xmlfile
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Requirement already satisfied: kiwisolver>=1.0.1 in /home/pablo/miniconda3/envs/mds7202/lib/python3.9/site-packages (from matplotlib) (1.4.4)
Requirement already satisfied: pyparsing>=2.3.1 in /home/pablo/miniconda3/envs/mds7202/lib/python3.9/site-packages (from matplotlib) (3.0.9)
Requirement already satisfied: cycler>=0.10 in /home/pablo/miniconda3/envs/mds7202/lib/python3.9/site-packages (from matplotlib) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in /home/pablo/miniconda3/envs/mds7202/lib/python3.9/site-packages (from matplotlib) (4.25.0)
Requirement already satisfied: importlib-resources>=3.2.0 in /home/pablo/miniconda3/envs/mds7202/lib/python3.9/site-packages (from matplotlib) (5.2.0)
Requirement already satisfied: contourpy>=1.0.1 in /home/pablo/miniconda3/envs/mds7202/lib/python3.9/site-packages (from matplotlib) (1.0.5)
Requirement already satisfied: pillow>=6.2.0 in /home/pablo/miniconda3/envs/mds7202/lib/python3.9/site-packages (from matplotlib) (9.4.0)
Requirement already satisfied: packaging>=20.0 in /home/pablo/miniconda3/envs/mds7202/lib/python3.9/site-packages (from matplotlib) (23.0)
Requirement already satisfied: tenacity>=6.2.0 in /home/pablo/miniconda3/envs/mds7202/lib/python3.9/site-packages (from plotly) (8.0.1)
Requirement already satisfied: scipy>=1.3 in /home/pablo/miniconda3/envs/mds7202/lib/python3.9/site-packages (from statsmodels) (1.10.0)
Collecting patsy>=0.5.2
  Downloading patsy-0.5.3-py2.py3-none-any.whl (233 kB)
     ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 233.8/233.8 kB 59.1 MB/s eta 0:00:00
Requirement already satisfied: zipp>=3.1.0 in /home/pablo/miniconda3/envs/mds7202/lib/python3.9/site-packages (from importlib-resources>=3.2.0->matplotlib) (3.11.0)
Requirement already satisfied: six in /home/pablo/miniconda3/envs/mds7202/lib/python3.9/site-packages (from patsy>=0.5.2->statsmodels) (1.16.0)
Installing collected packages: patsy, et-xmlfile, openpyxl, statsmodels
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.2 patsy-0.5.3 statsmodels-0.13.5
Note: you may need to restart the kernel to use updated packages.

In [55]:
import pandas as pd

# utilidad para mostrar todas las columnas
pd.set_option("display.max_columns", None)


df = pd.read_excel("https://raw.githubusercontent.com/MDS7202/MDS7202/main/recursos/2023-01/08-Pandas1/dataset.xlsx", header=1, index_col=0)
df

,Dwellings without basic facilities,Housing expenditure,Rooms per person,Household net adjusted disposable income,Household net wealth,Labour market insecurity,Employment rate,Long-term unemployment rate,Personal earnings,Quality of support network,Educational attainment,Student skills,Years in education,Air pollution,Water quality,Stakeholder engagement for developing regulations,Voter turnout,Life expectancy,Self-reported health,Life satisfaction,Feeling safe walking alone at night,Homicide rate,Employees working very long hours,Time devoted to leisure and personal care
Country,,,,,,,,,,,,,,,,,,,,,,,,
Australia,NaN,20.0,NaN,32759.0,427064.0,5.4,73,1.31,49126.0,95,81.0,502.0,21.0,5,93,2.7,91,82.5,85.0,7.3,63.5,1.1,13.04,14.35
Austria,0.9,21.0,1.6,33541.0,308325.0,3.5,72,1.84,50349.0,92,85.0,492.0,17.0,16,92,1.3,80,81.7,70.0,7.1,80.6,0.5,6.66,14.55
Belgium,1.9,21.0,2.2,30364.0,386006.0,3.7,63,3.54,49675.0,91,77.0,503.0,19.3,15,84,2.0,89,81.5,74.0,6.9,70.1,1.0,4.75,15.70
Canada,0.2,22.0,2.6,30854.0,423849.0,6.0,73,0.77,47622.0,93,91.0,523.0,17.3,7,91,2.9,68,81.9,88.0,7.4,82.2,1.3,3.69,14.56
Chile,9.4,18.0,1.2,NaN,100967.0,8.7,63,NaN,25879.0,85,65.0,443.0,17.5,16,71,1.3,47,79.9,57.0,6.5,47.9,4.2,9.72,NaN
Colombia,23.9,17.0,1.2,NaN,NaN,NaN,67,0.79,NaN,89,54.0,410.0,14.1,10,75,1.4,53,76.2,NaN,6.3,44.4,24.5,26.56,NaN
Czech Republic,0.7,24.0,1.4,21453.0,NaN,3.1,74,1.04,25372.0,91,94.0,491.0,17.9,20,87,1.6,61,79.1,60.0,6.7,72.3,0.5,5.65,NaN
Denmark,0.5,23.0,1.9,29606.0,118637.0,4.2,74,1.31,51466.0,95,81.0,504.0,19.5,9,95,2.0,86,80.9,71.0,7.6,83.5,0.6,2.34,15.87
Estonia,7.0,17.0,1.6,19697.0,159373.0,3.8,74,1.92,24336.0,92,89.0,524.0,17.7,8,84,2.7,64,77.8,53.0,5.7,69.0,3.1,2.42,14.90
Finland,0.5,23.0,1.9,29943.0,200827.0,3.9,70,2.13,42964.0,95,88.0,523.0,19.8,6,95,2.2,67,81.5,70.0,7.6,85.1,1.3,3.81,15.17
France,0.5,21.0,1.8,31304.0,280653.0,7.6,65,4.00,43755.0,90,78.0,496.0,16.5,13,81,2.1,75,82.4,66.0,6.5,70.5,0.5,7.67,16.36
Germany,0.2,20.0,1.8,34294.0,259667.0,2.7,75,1.57,47585.0,90,87.0,508.0,18.1,14,91,1.8,76,81.1,65.0,7.0,72.5,0.5,4.26,15.62
Greece,0.5,23.0,1.2,17700.0,150134.0,29.8,53,15.65,26064.0,80,73.0,458.0,19.0,18,69,1.8,64,81.5,74.0,5.4,60.0,0.8,6.42,NaN
Hungary,4.7,19.0,1.2,NaN,104458.0,4.7,68,1.72,22576.0,86,84.0,474.0,16.4,19,77,1.2,70,76.2,60.0,5.6,56.3,1.0,3.03,NaN
Iceland,0.0,24.0,1.6,NaN,NaN,0.7,86,0.26,61787.0,98,77.0,481.0,19.0,3,99,2.1,79,82.3,76.0,7.5,86.0,0.5,15.06,NaN
Ireland,1.0,20.0,2.1,25310.0,217130.0,7.8,67,3.23,47653.0,95,82.0,509.0,18.1,7,85,1.3,65,81.8,83.0,7.0,75.9,0.7,5.25,NaN
Israel,NaN,NaN,1.2,NaN,NaN,4.2,69,0.49,35067.0,88,87.0,472.0,15.6,21,67,2.5,72,82.5,84.0,7.2,69.8,1.8,15.45,NaN
Italy,0.7,23.0,1.4,26588.0,279889.0,12.3,58,6.59,36658.0,92,61.0,485.0,16.6,18,71,2.5,73,83.3,71.0,6.0,58.4,0.6,4.11,16.47
Japan,6.4,22.0,1.9,29798.0,305878.0,1.4,75,1.03,40863.0,89,NaN,529.0,16.4,14,87,1.4,53,84.1,36.0,5.9,72.5,0.2,NaN,NaN
Korea,2.5,15.0,1.5,21882.0,285980.0,2.6,67,0.05,35191.0,78,88.0,519.0,17.3,28,76,2.9,77,82.4,33.0,5.9,66.6,1.0,NaN,14.70
Latvia,13.9,23.0,1.2,16275.0,70160.0,9.6,70,3.35,23683.0,86,88.0,487.0,18.0,11,79,2.2,59,74.7,47.0,5.9,62.4,4.8,1.27,13.83
Lithuania,13.6,19.0,1.5,21660.0,NaN,NaN,70,2.69,24287.0,88,93.0,475.0,18.4,14,81,2.4,51,74.8,43.0,5.9,55.9,3.4,0.54,NaN
Luxembourg,0.5,21.0,1.9,39264.0,769053.0,1.7,66,2.35,63062.0,93,77.0,483.0,15.1,12,84,1.7,91,82.8,69.0,6.9,75.8,0.6,3.82,NaN
Mexico,25.5,20.0,1.0,NaN,NaN,5.5,61,0.07,15314.0,81,38.0,416.0,15.2,16,68,3.2,63,75.4,66.0,6.5,41.8,18.1,28.70,NaN
Netherlands,0.1,19.0,1.9,29333.0,157824.0,4.8,76,1.97,52877.0,91,78.0,508.0,18.7,14,93,2.6,82,81.6,76.0,7.4,82.0,0.6,0.42,NaN
New Zealand,NaN,26.0,2.4,NaN,388514.0,4.7,77,0.74,40043.0,96,79.0,506.0,17.7,5,89,2.5,80,81.7,88.0,7.3,65.7,1.3,15.11,14.87
Norway,0.0,17.0,2.1,35725.0,228936.0,NaN,74,0.66,51212.0,94,82.0,504.0,18.3,5,98,2.2,78,82.5,77.0,7.6,90.1,0.4,2.93,15.56
Poland,3.0,22.0,1.1,19814.0,210991.0,5.7,66,1.52,27046.0,86,92.0,504.0,17.6,22,82,2.6,55,78.0,58.0,6.1,67.3,0.7,5.95,14.42
Portugal,1.0,21.0,1.7,21203.0,232666.0,10.0,68,4.43,25367.0,88,48.0,497.0,16.9,10,86,1.5,56,81.2,48.0,5.4,73.4,1.0,8.27,NaN
Slovak Republic,1.2,23.0,1.1,20474.0,119696.0,9.9,66,4.78,24328.0,91,91.0,463.0,15.8,21,85,3.0,60,77.3,66.0,6.2,63.5,0.8,4.14,NaN
Slovenia,0.4,18.0,1.5,20820.0,203044.0,5.8,69,3.17,34933.0,92,88.0,509.0,18.3,16,90,2.5,53,81.3,64.0,5.9,86.1,0.6,4.39,14.75
Spain,0.1,21.0,1.9,23999.0,373548.0,23.1,62,7.66,38507.0,93,59.0,491.0,17.9,11,72,1.8,70,83.4,72.0,6.3,82.1,0.6,4.01,15.93
Sweden,0.0,19.0,1.7,31287.0,NaN,3.2,77,1.12,42393.0,91,83.0,496.0,19.3,6,96,2.0,86,82.4,75.0,7.3,75.6,0.9,1.07,15.18
Switzerland,0.1,22.0,1.9,37466.0,NaN,NaN,80,1.82,62283.0,93,88.0,506.0,17.5,15,95,2.3,49,83.7,78.0,7.5,85.3,0.6,0.37,NaN
Turkey,8.0,20.0,1.0,NaN,NaN,12.5,52,2.39,NaN,86,39.0,425.0,18.3,20,65,1.5,86,78.0,69.0,5.5,59.8,1.4,32.64,14.79
United Kingdom,0.3,26.0,1.9,28715.0,548392.0,4.5,75,1.13,43732.0,94,81.0,500.0,17.5,11,84,3.1,69,81.2,69.0,6.8,77.7,0.2,12.15,14.92
United States,0.1,19.0,2.4,45284.0,632100.0,7.7,70,0.66,60558.0,91,91.0,488.0,17.2,10,83,3.1,65,78.6,88.0,6.9,73.9,5.5,11.09,14.44
OECD - Total,4.4,20.0,1.8,33604.0,408376.0,7.0,68,1.78,43241.0,89,78.0,486.0,17.2,14,81,2.4,68,80.2,69.0,6.5,68.4,3.7,11.01,14.98
Brazil,6.7,NaN,NaN,NaN,NaN,NaN,61,NaN,NaN,90,49.0,395.0,16.2,10,73,2.2,79,74.8,NaN,6.4,35.6,26.7,7.13,NaN
Russia,14.8,18.0,0.9,NaN,NaN,NaN,70,1.59,NaN,89,94.0,492.0,16.2,15,55,NaN,68,71.8,43.0,5.8,52.8,9.6,0.14,NaN
South Africa,37.0,18.0,NaN,NaN,NaN,NaN,43,16.46,NaN,88,73.0,NaN,NaN,22,67,NaN,73,57.5,NaN,4.7,36.1,13.7,18.12,14.92

---

## 2.- Lo B√°sico

A continuaci√≥n veremos los atributos y m√©todos b√°sicos de un DataFrame.

### Atributos

#### Columnas

Podemos ver los nombres de las columnas de nuestro `DataFrame` a trav√©s de `df.columns`

In [ ]:
df.columns

#### √çndices

Podemos ver los indices de las filas de nuestro `DataFrame` a trav√©s de `df.index`

In [ ]:
df.index

#### Largo (c√°ntidad de filas)

In [ ]:
len(df)

#### Shape

In [ ]:
df.shape

### Informaci√≥n General del Dataframe

In [ ]:
df.info()

### Selecci√≥n de Algunos Elementos

In [ ]:
df

#### Head

Trae los primeros n elementos

In [ ]:
df.head(5)

#### Tail

Trae los √∫ltimos n elementos

In [ ]:
df.tail(5)

#### Sample

Entrega n filas aleatorias

In [ ]:
df.sample(5)

> **Pregunta ‚ùì** Existe alguna forma de repetir el mismo muestreo aleatorio de datos?

In [ ]:
df.sample(5, random_state=2)

> **Pregunta ‚ùì** ¬øCu√°l es la unidad m√°s b√°sica que los `DataFrames`?

In [ ]:
df.values

---

## 3.- `Series`

Los objetos tipo `pd.Series` son los objetos base de los DataFrames. Estos consisten en un arreglo unidimensional (que puede contener una sucesi√≥n de valores u objetos) asociados a un √≠ndice. Adem√°s, opcionalmente pueden llevar un nombre (que ser√≠a el equivalente al nombre de la columna de un DataFrame).

In [ ]:
serie = pd.Series([1, 9, 7, -5, 3, 10], name="Mi serie")
serie

### Atributos b√°sicos

In [ ]:
serie.values

In [ ]:
serie.index

In [ ]:
serie.dtype

In [ ]:
serie.name

In [ ]:
serie.shape

### Indexado de Series

Podemos acceder a cualquier elemento de una serie usando los mismos principios de indexado que en `numpy`:

In [ ]:
serie

In [ ]:
serie[0]

In [ ]:
serie[0:2]

In [ ]:
serie[0:4]

---

## 4.- Indexado de DataFrames

En esta secci√≥n veremos como seleccionar filas y columnas a trav√©s de distintos tipos de indexados.

<div align="center">
    <img src="https://raw.githubusercontent.com/MDS7202/MDS7202/main/recursos/2023-01/08-Pandas1/subsets.png" alt="OECD Better life index" width="800px"/>
</div>

In [ ]:
df.head(5)

### Acceder a una serie en espec√≠fico



Volviendo a nuestro ejemplo, podemos acceder a las series de nuestro Dataset por medio de un indexador al cual se le provee el nombre de alguna columna. 

Por ejemplo:

> **Water quality üíß**: Porcentaje de personas que informan estar satisfechas con la calidad del agua local

In [ ]:
df['Water quality']

### Selector de Columnas

Veamos ahora c√≥mo seleccionar un par de columnas en particular, como por ejemplo:

> **Water quality üíß**: Porcentaje de personas que informan estar satisfechas con la calidad del agua local

> **Air Pollution üèôÔ∏è**: Concentraci√≥n promedio de part√≠culas (PM2.5) en ciudades con poblaciones mayores de 100,000 personas

In [ ]:
df[['Water quality', 'Air pollution']]

### Selector de filas

Para seleccionar filas, podemos entregar un indexador de filas al estilo `numpy`:

In [ ]:
df[0:10]

> **Pregunta ‚ùì**: ¬øC√≥mo seleccionamos al mismo tiempo filas y columnas?

In [ ]:
df[['Water quality']][9: 10]

### Loc: Indexador por etiquetas

Permite acceder ciertos elementos por nombre de columnas y nombre de √≠ndices

In [ ]:
df.loc[
    ["Chile", "Mexico", "Brazil", "Colombia"], # <- filas
    ["Water quality", "Air pollution"]         # <- columnas
]

In [ ]:
df.loc[
    ["Chile", "Mexico", "Brazil", "Colombia"], # <- filas
    :                                          # <- columnas
]

In [ ]:
df.loc[
    :                                        , # <- filas
    ["Water quality", "Air pollution"]         # <- columnas
]

> **Pregunta ‚ùì**: Y si queremos usar filas con indexadores num√©ricos?

In [ ]:
# no funcionaba porque nuestros √≠ndices son los pa√≠ses, no n√∫meros.
df.loc[[5, 7, 12], :]

In [ ]:
df.loc[0:5, ["Water quality", "Air pollution"]]

### Iloc: Indexador por √çndices

Para seleccionar por √≠ndices debemos utilizar otro tipo de indexador: `iloc`

In [ ]:
df.iloc[8:12, :]

In [ ]:
df.iloc[:, 0:3]

In [ ]:
df.iloc[:, [14]]

### Mascaras Booleanas y Consultas üé≠: Selecci√≥n por Booleanos


Una operaci√≥n interesante de selcci√≥n es usar un arreglo de booleanos para seleccionar datos.

In [ ]:
len(df)

> **Pregunta ‚ùì**: ¬øC√≥mo podr√≠amos obtener aquellos pa√≠ses cuya 80% o m√°s de su poblaci√≥n est√©n conformes con la calidad del agua?

In [ ]:
mascara = df["Water quality"] >= 101
mascara

In [ ]:
df.loc[mascara, ['Water quality']]

---

## 5.- Operaciones con DataFrames

### `Describe`

Calcula estad√≠sticas descriptivas ,

In [ ]:
df.describe()

In [ ]:
descripcion_df = df.describe()
descripcion_df

> **Pregunta ‚ùì**: ¬øC√≥mo obtenemos el valor promedio de la cantidad de piezas por persona `Rooms per person`

In [ ]:
descripcion_df.loc[['mean'], ['Rooms per person']]

In [ ]:
descripcion_df.loc['mean', 'Rooms per person']

> **Pregunta: ‚ùì**: ¬øPor qu√© _casi_ el mismo selector dan valores distintos?

### Obtener totales

Como por ejemplo suma, promedio, media y desviaci√≥n est√°ndar.

In [ ]:
df.sum()

In [ ]:
df.mean()

In [ ]:
df.median()

In [ ]:
df.std()

> **Pregunta ‚ùì**: ¬øY si quisiera calcular el promedio por fila?

In [ ]:
df.mean(axis=1)

In [ ]:
df.mean(axis=1)

### Round

In [ ]:
df.describe()

Lo que vemos a continuaci√≥n se conoce como `Method chaining`.

In [ ]:
df.describe().round(2)

### Contar valores

Cuenta el n√∫mero de veces que aparece un valor. √ötil cuanto trabajamos con datos ordinales y categ√≥ricos. **Solo funciona sobre Series**

> **Nota üìñ**: Observa que en este ejemplo contamos y luego ordenamos. Esto se conoce como *Method chaining* y se ocupa bastante al usar `pandas`.

In [ ]:
df.loc[:, "Time devoted to leisure and personal care"].round(0)

In [ ]:
df.loc[:, "Time devoted to leisure and personal care"].round(0).value_counts()

### Ordenar datos

Ordena seg√∫n filas o columnas

Para los siguientes ejemplos, usaremos los datos de medioambientales para los siguientes ejemplos:


**Environmental quality**

- Air pollution üèôÔ∏è- Contaminaci√≥n atmosf√©rica (Concentraci√≥n promedio de part√≠culas (PM2.5) en ciudades con poblaciones mayores de 100,000 personas)

- Water quality üíß - Calidad del agua (Porcentaje de personas que informan estar satisfechas con la calidad del agua local)

In [ ]:
df_ambiental = df.loc[:, ['Air pollution', 'Water quality']]
df_ambiental

> **Nota üìñ**: El proceso de ordenamiento genera un nuevo `DataFrame`! En general, esto es as√≠ con la mayor√≠a de las operaciones `DataFrames`.

Para ordenar usamos el m√©todo `sort_values` que recibe la columna sobre la cu√°l se quiere realizar el ordenamiento m√°s un par√°metro opcional `ascending` que en el caso de ser `True`, indica que se ordene de forma ascendente. `False` por otra parte, ordena de forma descendente.

En este caso queremos ordenar de peor a mejor calidad del agua, o sea, de forma descendente:

In [ ]:
df_ambiental_ordenado = df_ambiental.sort_values("Water quality", ascending=False)
df_ambiental_ordenado

> **Pregunta ‚ùì**: ¬øPodemos ordenar por m√°s de una columa?

In [ ]:
df_ambiental = df_ambiental.sort_values(
    ["Water quality", "Air pollution"], ascending=False
)
df_ambiental

> **Pregunta ‚ùì**: ¬øEs correcto que las dos columnas sean ascendentes?

In [ ]:
df_ambiental = df_ambiental.sort_values(
    ["Water quality", "Air pollution"], ascending=[False, True]
)
df_ambiental

### Analizar Nulos


Podemos comprobar el n√∫mero de nulos por columna usando la (ya vista) funci√≥n `info`.

In [ ]:
df.info()

Ahora, si por ejemplo queremos seleccionar los nulos de una columna en espec√≠fico, podemos usar el m√©todo `isna()`

In [ ]:
df['Self-reported health']

In [ ]:
df['Self-reported health'].isna()

Luego, a trav√©s de las m√°scaras podemos obtener las filas que contienen valores nulos a trav√©s de `.loc`:

In [ ]:
mascara = df['Self-reported health'].isna()

df.loc[mascara, ['Self-reported health']]

Como tambi√©n los valores no nulos **negando** la m√°scara (operador `~`)

In [ ]:
~df['Self-reported health'].isna()

In [ ]:
mascara_2 = ~df['Self-reported health'].isna()

df.loc[mascara_2, ['Self-reported health']]

> **Pregunta ‚ùì**: ¬øQu√© suceder√° si ejecuto `isna()` sobre todo el dataframe?

In [ ]:
df.isna()

Luego, usando esa informaci√≥n m√°s el m√©todo `sum` puedo encontrar cu√°ntos valores nulos hay por cada fila.

In [ ]:
df.isna().sum()

Ahora, para descartar filas con nulos, puedo ocupar el m√©todo `dropna`

In [ ]:
df.dropna()

Y si quiero descartar las filas que tengan solo `Self-reported health`?


> **Ejercicio üìù:** Visitar https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.dropna.html#pandas.DataFrame.dropna

In [ ]:
df_sin_self_reported_health_nulo = df.dropna(subset=['Self-reported health'])
df_sin_self_reported_health_nulo

## Analizar Duplicados

Supongamos que por alg√∫n motivo que desconocemos, los datos tra√≠an 4 filas con etiquetadas como `Chile`

In [ ]:
df_duplicados = df.copy()

# script para generar el dataframe con duplicados.
# simplemente tomo la lista de √≠ndices y cambio a mano un par de filas por Chile.
index = df_duplicados.index.tolist()
index[10] = 'Chile'
index[22] = 'Chile'
index[29] = 'Chile'

# luego, reasigno el √≠ndice
df_duplicados.index = index
df_duplicados

> **Pregunta ‚ùì**: Qu√© pasa si indexo por Chile?

In [ ]:
df_duplicados.loc[['Chile'], :]

### Par√©ntesis: Reiniciar √çndice y Renombrar Columnas

Si por alg√∫n motivo no necesitamos tener m√°s los pa√≠ses (o el √≠ndice que tengamos cu√°ndo estemos trabajando), podemos reiniciarlo usando el m√©todo `reset_index()`

In [ ]:
df_duplicados = df_duplicados.reset_index()
df_duplicados

In [ ]:
# para setear una columa como indice, podemos usar set_index.
df_duplicados.set_index('Country')

In [ ]:
df_duplicados = df_duplicados.rename(columns={
    'index': 'Country',
    'Employment rate': 'Tasa de empleo'
})
df_duplicados

------------------------ Fin del par√©ntesis ---------------------------

Retomando, para encontrar duplicados podemos hacer una operaci√≥n muy similar a `isna()` usando el m√©todo `duplicated`.

In [ ]:
df_duplicados.duplicated(subset=['Country'])

Luego, usando una m√°scara podemos seleccionar las filas duplicadas.

In [ ]:
df_duplicados.loc[df_duplicados['Country'].duplicated(), :]

> **Pregunta ‚ùì**: ¬øNo eran 4 filas con Chile?


Podemos ajustar con qu√© nos quedamos usando el argumento `keep`, que seg√∫n la documentaci√≥n:

```python

keep{‚Äòfirst‚Äô, ‚Äòlast‚Äô, False}, default ‚Äòfirst‚Äô

    Determines which duplicates (if any) to mark.

        first : Mark duplicates as True except for the first occurrence.

        last : Mark duplicates as True except for the last occurrence.

        False : Mark all duplicates as True.



```

In [ ]:
df_duplicados.duplicated(subset=['Country'], keep=False)

In [ ]:
df_duplicados[df_duplicados.loc[:, ['Country']].duplicated(keep=False)]

Por √∫ltimo, podemos ver que filas est√°n totalmente duplicadas usando `duplicated` sobre todo el dataframe.

In [ ]:
df_duplicados.duplicated()