<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Objetivos-de-la-Clase" data-toc-modified-id="Objetivos-de-la-Clase-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Objetivos de la Clase</a></span><ul class="toc-item"><li><span><a href="#Roadmap" data-toc-modified-id="Roadmap-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Roadmap</a></span></li></ul></li><li><span><a href="#Datasets-de-Hoy" data-toc-modified-id="Datasets-de-Hoy-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Datasets de Hoy</a></span><ul class="toc-item"><li><span><a href="#√çndices-para-una-Vida-Mejor" data-toc-modified-id="√çndices-para-una-Vida-Mejor-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>√çndices para una Vida Mejor</a></span></li><li><span><a href="#Dataset-de-Temperaturas-Globales" data-toc-modified-id="Dataset-de-Temperaturas-Globales-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>Dataset de Temperaturas Globales</a></span></li></ul></li><li><span><a href="#Multi-√çndice" data-toc-modified-id="Multi-√çndice-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Multi-√çndice</a></span><ul class="toc-item"><li><span><a href="#IndexSlice" data-toc-modified-id="IndexSlice-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>IndexSlice</a></span></li><li><span><a href="#Descartar-√çndices" data-toc-modified-id="Descartar-√çndices-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>Descartar √çndices</a></span></li></ul></li><li><span><a href="#Strings" data-toc-modified-id="Strings-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Strings</a></span><ul class="toc-item"><li><span><a href="#M√©todos-de-la-Clase-String" data-toc-modified-id="M√©todos-de-la-Clase-String-4.1"><span class="toc-item-num">4.1&nbsp;&nbsp;</span>M√©todos de la Clase String</a></span></li><li><span><a href="#Strings-En-Las-Series" data-toc-modified-id="Strings-En-Las-Series-4.2"><span class="toc-item-num">4.2&nbsp;&nbsp;</span>Strings En Las Series</a></span><ul class="toc-item"><li><span><a href="#Len,-Lower,-Upper,-Title-y-Capitalize" data-toc-modified-id="Len,-Lower,-Upper,-Title-y-Capitalize-4.2.1"><span class="toc-item-num">4.2.1&nbsp;&nbsp;</span>Len, Lower, Upper, Title y Capitalize</a></span></li><li><span><a href="#Contains,-Split-y-Join" data-toc-modified-id="Contains,-Split-y-Join-4.2.2"><span class="toc-item-num">4.2.2&nbsp;&nbsp;</span>Contains, Split y Join</a></span></li><li><span><a href="#Replace" data-toc-modified-id="Replace-4.2.3"><span class="toc-item-num">4.2.3&nbsp;&nbsp;</span>Replace</a></span><ul class="toc-item"><li><span><a href="#Expresiones-Regulares" data-toc-modified-id="Expresiones-Regulares-4.2.3.1"><span class="toc-item-num">4.2.3.1&nbsp;&nbsp;</span>Expresiones Regulares</a></span></li></ul></li></ul></li><li><span><a href="#Apply" data-toc-modified-id="Apply-4.3"><span class="toc-item-num">4.3&nbsp;&nbsp;</span>Apply</a></span><ul class="toc-item"><li><span><a href="#Preprocesamiento-Completo" data-toc-modified-id="Preprocesamiento-Completo-4.3.1"><span class="toc-item-num">4.3.1&nbsp;&nbsp;</span>Preprocesamiento Completo</a></span></li><li><span><a href="#Concatenaci√≥n" data-toc-modified-id="Concatenaci√≥n-4.3.2"><span class="toc-item-num">4.3.2&nbsp;&nbsp;</span>Concatenaci√≥n</a></span></li></ul></li></ul></li></ul></div>

# Clase 11: Multi-Indices y Tipos de Datos

**MDS7202: Laboratorio de Programaci√≥n Cient√≠fica para Ciencia de Datos**

**Profesor: Pablo Badilla**

## Objetivos de la Clase

- Comprender como unir distintas fuentes de datos a partir de `concatenaciones` y `merge`.

### Roadmap


**Unidad 2: Manejo de Datos con Pandas y AED**

- [X] Introducci√≥n a pandas: DataFrames, Series, Operaciones b√°sicas y Filtrado.
- [X] Agregaciones.
- [X] Visualizaciones interactivas usando Plotly.
- [X] Concatenaciones y Merge de Dataframes.
- [ ] Multi-√≠ndices y Trabajo con strings y datos temporales, categ√≥ricos y ordinales en Pandas.
- [ ] An√°lisis exploratorio de Datos (AED).

In [1]:
import pandas as pd

## Datasets de Hoy

### √çndices para una Vida Mejor

Nuevamente, seguiremos usando los datos de √≠ndices para una Vida Mejor de la OECD:


<img src="./resources/oecd.png" alt="OECD Better life index"/>


http://www.oecdbetterlifeindex.org/

https://stats.oecd.org/index.aspx?DataSetCode=BLI

Son 11 temas considerados como esenciales para el bienestar de la poblaci√≥n. Cada crierio contiene uno o mas indicadores

| Tema | Indicador (Ingl√©s) | Indicador (Espa√±ol) | Unidad | Descripci√≥n |
|---|---|---|---|---|
| Vivienda üè† | Dwellings without basic facilities | Vivienda con Instalaciones B√°sicas | Porcentaje | Porcentaje de personas con inodoros de agua corriente dentro del hogar, a√±o disponible m√°s reciente |
|  | Housing expenditure | Gastos en Vivienda | Porcentaje | Proporci√≥n de costos de vivienda en el ingreso neto ajustado de las familias, a√±o disponible m√°s reciente |
|  | Rooms per person | Habitaciones por Persona | Ratio | N√∫mero promedio de habitaciones compartidas por persona en una vivienda, a√±o disponible m√°s reciente |
| Ingresos üí∞ | Household net adjusted disposable income | Ingreso Familiar Disponible | US Dollar | Cantidad promedio de dinero que una familia gana al a√±o, despu√©s de impuestos, a√±o disponible m√°s reciente |
|  | Household net wealth | Patrimonio Neto Familiar | US Dollar | Valor total promedio de los activos financieros de una familia (ahorros, acciones) menos sus pasivos (cr√©ditos), a√±o disponible m√°s reciente |
| Empleo ‚öôÔ∏è | Labour market insecurity | Seguridad en el Empleo | Porcentaje | P√©rdida esperada de ingresos cuando alguien queda desempleado, a√±o disponible m√°s reciente |
|  | Employment rate | Tasa de Empleo | Porcentaje | Porcentaje de personas, de 15 a 64 a√±os de edad, actualmente con empleo remunerado, a√±o disponible m√°s reciente |
|  | Long-term unemployment rate | Tasa de Empleo a Largo Plazo | Porcentaje | Porcentaje de personas, de 15 a 64 a√±os de edad, que no trabajan pero que han buscado empleo activamente durante m√°s de un a√±o, a√±o disponible m√°s reciente |
|  | Personal earnings | Ingresos Personales | US Dollar | Ingresos anuales promedio por empleado de tiempo completo, a√±o disponible m√°s reciente |
| Comunidad üßë‚Äçü§ù‚Äçüßë   | Quality of support network  | Calidad del Apoyo Social | Porcentaje | Porcentaje de personas con amigos o parientes en quienes confiar en caso de necesidad |
| Educaci√≥n üìö | Educational attainment | Nivel de Educaci√≥n | Porcentaje | Porcentaje de personas, de 25 a 64 a√±os de edad, graduadas por lo menos de educaci√≥n media superior, a√±o disponible m√°s reciente |
|  | Student skills | Competencias de estudiantes en matem√°ticas, lectura y ciencias | Puntaje promedio | Desempe√±o promedio de estudiantes de 15 a√±os de edad, seg√∫n PISA (Programa para la Evaluaci√≥n Internacional de Estudiantes) |
|  | Years in education  | Nivel de educaci√≥n | A√±os | Duraci√≥n promedio de la educaci√≥n formal en la que un ni√±o de cinco a√±os de edad puede esperar matricularse durante su vida |
| Medio Ambiente üå≥ | Air pollution | Contaminaci√≥n del Aire | Microgramos por metro c√∫bico | Concentraci√≥n promedio de part√≠culas (PM2.5) en ciudades con poblaciones mayores de 100,000 personas, medida en microgramos por metro c√∫bico, a√±o disponible m√°s reciente |
|  | Water quality | Calidad del Agua | Porcentaje | Porcentaje de personas que informan estar satisfechas con la calidad del agua local |
| Compromiso C√≠vico üó≥Ô∏è  | Stakeholder engagement for developing regulations | Participaci√≥n de los interesados en la elaboraci√≥n de regulaciones | Puntaje promedio | Nivel de transparencia gubernamental al preparar las regulaciones, a√±o disponible m√°s reciente |
|  | Voter turnout | Participaci√≥n electoral | Porcentaje | Porcentaje de votantes registrados que votaron durante las elecciones recientes, a√±o disponible m√°s reciente |
| Salud ‚öïÔ∏è | Life expectancy | Esperanza de vida | A√±os | N√∫mero promedio de a√±os que una persona puede esperar vivir, a√±o disponible m√°s reciente |
|  | Self-reported health | Salud seg√∫n informan las personas | Porcentaje | Porcentaje de personas que informan que su salud es ¬´buena o muy buena¬ª, a√±o disponible m√°s reciente |
| Satisfacci√≥n ‚ú® | Life satisfaction | Satisfacci√≥n ante la vida | Puntaje promedio | Autoevaluaci√≥n promedio de satisfacci√≥n ante la vida, en una escala de 0 a 10 |
| Seguridad üåÉ | Feeling safe walking alone at night | Sentimiento de seguridad al caminar solos por la noche | Porcentaje | Porcentaje de personas que reportan sentirse seguras al caminar solas por la noche  |
|  | Homicide rate | Tasa de homicidios | Ratio | N√∫mero promedio de homicidios reportados por 100,000 personas, a√±o disponible m√°s reciente |
| Balance Vida Trabajo üßò | Employees working very long hours | Empleados que trabajan muchas horas | Porcentaje | Porcentaje de empleados que trabajan m√°s de cincuenta horas a la semana en promedio, a√±o disponible m√°s reciente |
|  | Time devoted to leisure and personal care | Tiempo destinado al ocio y el cuidado personal | Horas | N√∫mero promedio de minutos al d√≠a dedicados al ocio y el cuidado personal, incluidos el sue√±o y la alimentaci√≥n |

In [2]:
bli_df = pd.read_csv("./resources/dataset.csv")
bli_df.head(5)

,Country,Air pollution,Dwellings without basic facilities,Educational attainment,Employees working very long hours,Employment rate,Feeling safe walking alone at night,Homicide rate,Household net adjusted disposable income,Household net wealth,...,Quality of support network,Rooms per person,Self-reported health,Stakeholder engagement for developing regulations,Student skills,Time devoted to leisure and personal care,Voter turnout,Water quality,Years in education,GPD per capita (2018)
0,Australia,5.0,NaN,81.000000,12.840000,73.000000,64.133333,1.100000,32759.0,427064.0,...,95.25,NaN,87.25,2.7,411.2,14.350000,91.0,92.666667,20.966667,57395.919470
1,Austria,16.0,0.9,85.000000,6.590000,72.000000,80.700000,0.466667,33541.0,308325.0,...,92.00,1.6,70.60,1.3,492.8,14.530000,80.0,92.000000,17.000000,51525.046430
2,Belgium,15.0,1.9,77.000000,4.703333,63.333333,70.266667,1.033333,30364.0,386006.0,...,92.00,2.2,73.60,2.0,503.8,15.663333,89.0,83.666667,19.300000,47491.323260
3,Brazil,10.0,6.7,49.000000,7.006667,61.000000,35.866667,27.000000,NaN,NaN,...,89.25,NaN,NaN,2.2,398.2,NaN,79.0,73.000000,16.166667,9001.234249
4,Canada,7.0,0.2,91.333333,3.673333,73.333333,82.500000,1.266667,30854.0,423849.0,...,93.25,2.6,87.80,2.9,523.2,14.553333,68.0,91.000000,17.333333,46313.171370

### Dataset de Temperaturas Globales

![wbg_climate](./resources/wbg_climate.png)


https://climateknowledgeportal.worldbank.org/download-data

In [3]:
temp_df = pd.read_csv("./resources/temperature.csv")
temp_df.head(3)

   Temperature  Year Month      Country ISO3
0     -0.03110  1991   Jan  Afghanistan  AFG
1      1.43654  1991   Feb  Afghanistan  AFG
2      6.88685  1991   Mar  Afghanistan  AFG

In [4]:
pd.set_option('display.max_colwidth', None)

## Multi-√çndice

In [5]:
dataset_original = pd.read_csv('./resources/bli_original.csv')
dataset_original.head(5)

,LOCATION,Country,INDICATOR,Indicator,MEASURE,Measure,INEQUALITY,Inequality,Unit Code,Unit,PowerCode Code,PowerCode,Reference Period Code,Reference Period,Value,Flag Codes,Flags
0,AUS,Australia,JE_LMIS,Labour market insecurity,L,Value,TOT,Total,PC,Percentage,0,Units,NaN,NaN,5.4,NaN,NaN
1,AUT,Austria,JE_LMIS,Labour market insecurity,L,Value,TOT,Total,PC,Percentage,0,Units,NaN,NaN,3.5,NaN,NaN
2,BEL,Belgium,JE_LMIS,Labour market insecurity,L,Value,TOT,Total,PC,Percentage,0,Units,NaN,NaN,3.7,NaN,NaN
3,CAN,Canada,JE_LMIS,Labour market insecurity,L,Value,TOT,Total,PC,Percentage,0,Units,NaN,NaN,6.0,NaN,NaN
4,CZE,Czech Republic,JE_LMIS,Labour market insecurity,L,Value,TOT,Total,PC,Percentage,0,Units,NaN,NaN,3.1,NaN,NaN

In [6]:
dataset_original.head(10).loc[:, ['Country', 'Unit', 'Indicator', 'Value']]

          Country        Unit                 Indicator  Value
0       Australia  Percentage  Labour market insecurity    5.4
1         Austria  Percentage  Labour market insecurity    3.5
2         Belgium  Percentage  Labour market insecurity    3.7
3          Canada  Percentage  Labour market insecurity    6.0
4  Czech Republic  Percentage  Labour market insecurity    3.1
5         Denmark  Percentage  Labour market insecurity    4.2
6         Finland  Percentage  Labour market insecurity    3.9
7          France  Percentage  Labour market insecurity    7.6
8         Germany  Percentage  Labour market insecurity    2.7
9          Greece  Percentage  Labour market insecurity   29.8

In [7]:
dataset_multindex = pd.pivot_table(dataset_original,
                                   index=['Country'],
                                   columns=['Unit', 'Indicator'],
                                   values='Value')
dataset_multindex.head(5)

Unit          Average score                                                    \
Indicator Life satisfaction Stakeholder engagement for developing regulations
Country
Australia             7.350                                               2.7
Austria               7.225                                               1.3
Belgium               7.000                                               2.0
Brazil                6.400                                               2.2
Canada                7.425                                               2.9

Unit                                                         Hours  \
Indicator Student skills Time devoted to leisure and personal care
Country
Australia          411.2                                 14.350000
Austria            492.8                                 14.530000
Belgium            503.8                                 15.663333
Brazil             398.2                                       NaN
Canada             523.2                                 14.553333

Unit      Micrograms per cubic metre                         Percentage  \
Indicator              Air pollution Dwellings without basic facilities
Country
Australia                        5.0                                NaN
Austria                         16.0                                0.9
Belgium                         15.0                                1.9
Brazil                          10.0                                6.7
Canada                           7.0                                0.2

Unit                                                                \
Indicator Educational attainment Employees working very long hours
Country
Australia              81.000000                         12.840000
Austria                85.000000                          6.590000
Belgium                77.000000                          4.703333
Brazil                 49.000000                          7.006667
Canada                 91.333333                          3.673333

Unit                                                           ...  \
Indicator Employment rate Feeling safe walking alone at night  ...
Country                                                        ...
Australia       73.000000                           64.133333  ...
Austria         72.000000                           80.700000  ...
Belgium         63.333333                           70.266667  ...
Brazil          61.000000                           35.866667  ...
Canada          73.333333                           82.500000  ...

Unit                                                               Ratio  \
Indicator Self-reported health Voter turnout Water quality Homicide rate
Country
Australia                87.25          91.0     92.666667      1.100000
Austria                  70.60          80.0     92.000000      0.466667
Belgium                  73.60          89.0     83.666667      1.033333
Brazil                     NaN          79.0     73.000000     27.000000
Canada                   87.80          68.0     91.000000      1.266667

Unit                                                      US Dollar  \
Indicator Rooms per person Household net adjusted disposable income
Country
Australia              NaN                                  32759.0
Austria                1.6                                  33541.0
Belgium                2.2                                  30364.0
Brazil                 NaN                                      NaN
Canada                 2.6                                  30854.0

Unit                                                       Years  \
Indicator Household net wealth Personal earnings Life expectancy
Country
Australia             427064.0           49126.0       82.500000
Austria               308325.0           50349.0       81.700000
Belgium               386006.0           49675.0       81.500000
Brazil                     NaN               NaN       74.766667
Canada                423849.0           47622.0       81.866667

Unit
Indicator Years in education
Country
Australia          20.966667
Austria            17.000000
Belgium            19.300000
Brazil             16.166667
Canada             17.333333

[5 rows x 24 columns]

> **Pregunta**: ¬øQu√© otro √≠ndice (exterior) para las filas podr√≠a haber sido interesante de agregar?

In [8]:
dataset_multindex.shape

(41, 24)

In [9]:
dataset_multindex.head(3)

Unit          Average score                                                    \
Indicator Life satisfaction Stakeholder engagement for developing regulations
Country
Australia             7.350                                               2.7
Austria               7.225                                               1.3
Belgium               7.000                                               2.0

Unit                                                         Hours  \
Indicator Student skills Time devoted to leisure and personal care
Country
Australia          411.2                                 14.350000
Austria            492.8                                 14.530000
Belgium            503.8                                 15.663333

Unit      Micrograms per cubic metre                         Percentage  \
Indicator              Air pollution Dwellings without basic facilities
Country
Australia                        5.0                                NaN
Austria                         16.0                                0.9
Belgium                         15.0                                1.9

Unit                                                                \
Indicator Educational attainment Employees working very long hours
Country
Australia                   81.0                         12.840000
Austria                     85.0                          6.590000
Belgium                     77.0                          4.703333

Unit                                                           ...  \
Indicator Employment rate Feeling safe walking alone at night  ...
Country                                                        ...
Australia       73.000000                           64.133333  ...
Austria         72.000000                           80.700000  ...
Belgium         63.333333                           70.266667  ...

Unit                                                               Ratio  \
Indicator Self-reported health Voter turnout Water quality Homicide rate
Country
Australia                87.25          91.0     92.666667      1.100000
Austria                  70.60          80.0     92.000000      0.466667
Belgium                  73.60          89.0     83.666667      1.033333

Unit                                                      US Dollar  \
Indicator Rooms per person Household net adjusted disposable income
Country
Australia              NaN                                  32759.0
Austria                1.6                                  33541.0
Belgium                2.2                                  30364.0

Unit                                                       Years  \
Indicator Household net wealth Personal earnings Life expectancy
Country
Australia             427064.0           49126.0            82.5
Austria               308325.0           50349.0            81.7
Belgium               386006.0           49675.0            81.5

Unit
Indicator Years in education
Country
Australia          20.966667
Austria            17.000000
Belgium            19.300000

[3 rows x 24 columns]

In [10]:
dataset_multindex.index

Index(['Australia', 'Austria', 'Belgium', 'Brazil', 'Canada', 'Chile',
       'Colombia', 'Czech Republic', 'Denmark', 'Estonia', 'Finland', 'France',
       'Germany', 'Greece', 'Hungary', 'Iceland', 'Ireland', 'Israel', 'Italy',
       'Japan', 'Korea', 'Latvia', 'Lithuania', 'Luxembourg', 'Mexico',
       'Netherlands', 'New Zealand', 'Norway', 'OECD - Total', 'Poland',
       'Portugal', 'Russia', 'Slovak Republic', 'Slovenia', 'South Africa',
       'Spain', 'Sweden', 'Switzerland', 'Turkey', 'United Kingdom',
       'United States'],
      dtype='object', name='Country')

In [11]:
dataset_multindex.columns.values

array([('Average score', 'Life satisfaction'),
       ('Average score', 'Stakeholder engagement for developing regulations'),
       ('Average score', 'Student skills'),
       ('Hours', 'Time devoted to leisure and personal care'),
       ('Micrograms per cubic metre', 'Air pollution'),
       ('Percentage', 'Dwellings without basic facilities'),
       ('Percentage', 'Educational attainment'),
       ('Percentage', 'Employees working very long hours'),
       ('Percentage', 'Employment rate'),
       ('Percentage', 'Feeling safe walking alone at night'),
       ('Percentage', 'Housing expenditure'),
       ('Percentage', 'Labour market insecurity'),
       ('Percentage', 'Long-term unemployment rate'),
       ('Percentage', 'Quality of support network'),
       ('Percentage', 'Self-reported health'),
       ('Percentage', 'Voter turnout'), ('Percentage', 'Water quality'),
       ('Ratio', 'Homicide rate'), ('Ratio', 'Rooms per person'),
       ('US Dollar', 'Household net adjusted disposable income'),
       ('US Dollar', 'Household net wealth'),
       ('US Dollar', 'Personal earnings'), ('Years', 'Life expectancy'),
       ('Years', 'Years in education')], dtype=object)

In [12]:
dataset_multindex.columns.get_level_values(0)

Index(['Average score', 'Average score', 'Average score', 'Hours',
       'Micrograms per cubic metre', 'Percentage', 'Percentage', 'Percentage',
       'Percentage', 'Percentage', 'Percentage', 'Percentage', 'Percentage',
       'Percentage', 'Percentage', 'Percentage', 'Percentage', 'Ratio',
       'Ratio', 'US Dollar', 'US Dollar', 'US Dollar', 'Years', 'Years'],
      dtype='object', name='Unit')

In [13]:
dataset_multindex.columns.get_level_values(1)

Index(['Life satisfaction',
       'Stakeholder engagement for developing regulations', 'Student skills',
       'Time devoted to leisure and personal care', 'Air pollution',
       'Dwellings without basic facilities', 'Educational attainment',
       'Employees working very long hours', 'Employment rate',
       'Feeling safe walking alone at night', 'Housing expenditure',
       'Labour market insecurity', 'Long-term unemployment rate',
       'Quality of support network', 'Self-reported health', 'Voter turnout',
       'Water quality', 'Homicide rate', 'Rooms per person',
       'Household net adjusted disposable income', 'Household net wealth',
       'Personal earnings', 'Life expectancy', 'Years in education'],
      dtype='object', name='Indicator')

> **Ejercicio ‚úèÔ∏è**: Seleccionar la fila que contiene a Chile

In [14]:
dataset_multindex.loc[['Chile'],:]

Unit          Average score                                                    \
Indicator Life satisfaction Stakeholder engagement for developing regulations
Country
Chile                  6.48                                               1.3

Unit                                                         Hours  \
Indicator Student skills Time devoted to leisure and personal care
Country
Chile              443.8                                       NaN

Unit      Micrograms per cubic metre                         Percentage  \
Indicator              Air pollution Dwellings without basic facilities
Country
Chile                           16.0                                9.4

Unit                                                                \
Indicator Educational attainment Employees working very long hours
Country
Chile                       65.0                          9.316667

Unit                                                           ...  \
Indicator Employment rate Feeling safe walking alone at night  ...
Country                                                        ...
Chile           62.666667                                48.0  ...

Unit                                                               Ratio  \
Indicator Self-reported health Voter turnout Water quality Homicide rate
Country
Chile                     57.0          47.0          71.0           4.2

Unit                                                      US Dollar  \
Indicator Rooms per person Household net adjusted disposable income
Country
Chile                  1.2                                      NaN

Unit                                                       Years  \
Indicator Household net wealth Personal earnings Life expectancy
Country
Chile                 100967.0           25879.0            79.9

Unit
Indicator Years in education
Country
Chile                   17.5

[1 rows x 24 columns]

> **Ejercicio ‚úèÔ∏è**: Seleccionar las columnas de los indicadores basados en Porcentajes.

In [15]:
dataset_multindex.loc[:, 'Percentage']

Indicator,Dwellings without basic facilities,Educational attainment,Employees working very long hours,Employment rate,Feeling safe walking alone at night,Housing expenditure,Labour market insecurity,Long-term unemployment rate,Quality of support network,Self-reported health,Voter turnout,Water quality
Country,,,,,,,,,,,,
Australia,NaN,81.000000,12.840000,73.000000,64.133333,20.0,5.922,1.306667,95.250000,87.250000,91.0,92.666667
Austria,0.9,85.000000,6.590000,72.000000,80.700000,21.0,4.076,1.830000,92.000000,70.600000,80.0,92.000000
Belgium,1.9,77.000000,4.703333,63.333333,70.266667,21.0,4.052,3.533333,92.000000,73.600000,89.0,83.666667
Brazil,6.7,49.000000,7.006667,61.000000,35.866667,NaN,NaN,NaN,89.250000,NaN,79.0,73.000000
Canada,0.2,91.333333,3.673333,73.333333,82.500000,22.0,7.048,0.763333,93.250000,87.800000,68.0,91.000000
Chile,9.4,65.000000,9.316667,62.666667,48.000000,18.0,8.168,NaN,84.600000,57.000000,47.0,71.000000
Colombia,23.9,54.000000,26.006667,67.000000,44.566667,17.0,NaN,0.820000,89.000000,NaN,53.0,74.666667
Czech Republic,0.7,93.666667,5.496667,73.666667,72.533333,24.0,7.208,1.056667,91.750000,60.800000,61.0,86.666667
Denmark,0.5,81.000000,2.316667,74.000000,83.566667,23.0,4.606,1.313333,95.500000,72.600000,86.0,95.000000
Estonia,7.0,88.666667,2.436667,74.000000,69.633333,17.0,4.392,1.916667,91.200000,54.400000,64.0,84.000000
Finland,0.5,88.000000,3.816667,70.333333,85.266667,23.0,4.508,2.123333,94.800000,70.200000,67.0,95.000000
France,0.5,78.333333,7.656667,65.333333,70.700000,21.0,8.380,3.996667,89.000000,66.400000,75.0,81.000000
Germany,0.2,86.666667,4.196667,75.333333,72.600000,20.0,4.928,1.556667,90.500000,65.400000,76.0,91.333333
Greece,0.5,73.000000,6.280000,53.333333,60.200000,23.0,29.200,15.896667,78.800000,76.000000,64.0,69.333333
Hungary,4.7,84.000000,2.976667,68.000000,56.700000,19.0,5.256,1.726667,85.500000,61.000000,70.0,77.000000
Iceland,0.0,77.000000,14.866667,85.666667,86.300000,24.0,0.662,0.256667,98.000000,76.000000,79.0,98.666667
Ireland,1.0,82.000000,5.260000,67.333333,76.000000,20.0,8.784,3.203333,95.000000,82.800000,65.0,85.000000
Israel,NaN,87.333333,15.273333,69.000000,69.966667,NaN,4.200,0.486667,88.500000,86.750000,72.0,67.000000
Italy,0.7,61.000000,4.003333,58.000000,58.600000,23.0,12.132,6.640000,91.800000,71.800000,73.0,71.000000
Japan,6.4,NaN,NaN,75.000000,72.800000,22.0,2.220,0.996667,88.750000,34.800000,53.0,87.000000
Korea,2.5,87.666667,NaN,66.666667,66.666667,15.0,2.302,0.050000,78.333333,33.000000,77.0,76.000000
Latvia,13.9,87.666667,1.280000,70.000000,63.066667,23.0,11.316,3.353333,86.200000,48.000000,59.0,79.333333
Lithuania,13.6,92.666667,0.546667,70.333333,56.233333,19.0,NaN,2.696667,88.400000,45.600000,51.0,80.666667
Luxembourg,0.5,76.666667,3.740000,66.333333,75.866667,21.0,1.722,2.343333,93.000000,69.400000,91.0,84.000000
Mexico,25.5,37.666667,27.280000,61.666667,41.966667,20.0,5.396,0.066667,81.600000,65.666667,63.0,67.666667
Netherlands,0.1,78.333333,0.413333,75.666667,82.066667,19.0,4.930,1.976667,91.000000,75.800000,82.0,93.000000
New Zealand,NaN,78.666667,15.036667,77.000000,66.266667,26.0,4.700,0.736667,96.250000,89.250000,80.0,89.000000
Norway,0.0,82.000000,2.886667,74.000000,90.033333,17.0,NaN,0.656667,94.000000,77.200000,78.0,97.666667
OECD - Total,4.4,78.333333,10.786667,68.000000,68.500000,20.0,7.750,1.783333,88.400000,69.200000,68.0,81.000000
Poland,3.0,92.000000,5.823333,66.000000,67.466667,22.0,6.984,1.513333,86.000000,60.000000,55.0,82.000000
Portugal,1.0,47.666667,8.340000,68.000000,73.766667,21.0,9.624,4.430000,88.000000,48.200000,56.0,86.333333
Russia,14.8,94.000000,0.140000,70.333333,53.466667,18.0,NaN,1.586667,90.000000,43.333333,68.0,55.333333
Slovak Republic,1.2,91.333333,4.073333,66.000000,63.700000,23.0,21.376,4.773333,91.500000,68.600000,60.0,84.666667
Slovenia,0.4,88.000000,4.333333,69.333333,86.166667,18.0,6.338,3.176667,91.666667,64.400000,53.0,89.666667
South Africa,37.0,73.333333,17.840000,43.333333,36.333333,18.0,NaN,16.643333,88.000000,NaN,73.0,67.000000
Spain,0.1,59.000000,3.963333,62.333333,82.166667,21.0,23.792,7.710000,92.750000,74.000000,70.0,72.333333
Sweden,0.0,83.000000,1.066667,76.666667,75.566667,19.0,4.232,1.113333,91.500000,75.000000,86.0,96.000000
Switzerland,0.1,87.666667,0.370000,79.666667,85.333333,22.0,NaN,1.826667,93.333333,77.400000,49.0,95.333333
Turkey,8.0,39.000000,31.043333,51.666667,59.833333,20.0,12.060,2.660000,86.000000,70.400000,86.0,65.000000
United Kingdom,0.3,81.000000,12.123333,75.000000,77.766667,26.0,4.744,1.126667,94.000000,70.000000,69.0,83.666667
United States,0.1,90.666667,10.990000,70.000000,73.900000,19.0,9.072,0.656667,91.750000,86.800000,65.0,82.666667

In [16]:
dataset_multindex.loc[['Chile', 'Colombia', 'Brazil', 'Mexico'], 'Percentage']

Indicator,Dwellings without basic facilities,Educational attainment,Employees working very long hours,Employment rate,Feeling safe walking alone at night,Housing expenditure,Labour market insecurity,Long-term unemployment rate,Quality of support network,Self-reported health,Voter turnout,Water quality
Country,,,,,,,,,,,,
Chile,9.4,65.000000,9.316667,62.666667,48.000000,18.0,8.168,NaN,84.60,57.000000,47.0,71.000000
Colombia,23.9,54.000000,26.006667,67.000000,44.566667,17.0,NaN,0.820000,89.00,NaN,53.0,74.666667
Brazil,6.7,49.000000,7.006667,61.000000,35.866667,NaN,NaN,NaN,89.25,NaN,79.0,73.000000
Mexico,25.5,37.666667,27.280000,61.666667,41.966667,20.0,5.396,0.066667,81.60,65.666667,63.0,67.666667

In [17]:
dataset_multindex.head(5)

Unit          Average score                                                    \
Indicator Life satisfaction Stakeholder engagement for developing regulations
Country
Australia             7.350                                               2.7
Austria               7.225                                               1.3
Belgium               7.000                                               2.0
Brazil                6.400                                               2.2
Canada                7.425                                               2.9

Unit                                                         Hours  \
Indicator Student skills Time devoted to leisure and personal care
Country
Australia          411.2                                 14.350000
Austria            492.8                                 14.530000
Belgium            503.8                                 15.663333
Brazil             398.2                                       NaN
Canada             523.2                                 14.553333

Unit      Micrograms per cubic metre                         Percentage  \
Indicator              Air pollution Dwellings without basic facilities
Country
Australia                        5.0                                NaN
Austria                         16.0                                0.9
Belgium                         15.0                                1.9
Brazil                          10.0                                6.7
Canada                           7.0                                0.2

Unit                                                                \
Indicator Educational attainment Employees working very long hours
Country
Australia              81.000000                         12.840000
Austria                85.000000                          6.590000
Belgium                77.000000                          4.703333
Brazil                 49.000000                          7.006667
Canada                 91.333333                          3.673333

Unit                                                           ...  \
Indicator Employment rate Feeling safe walking alone at night  ...
Country                                                        ...
Australia       73.000000                           64.133333  ...
Austria         72.000000                           80.700000  ...
Belgium         63.333333                           70.266667  ...
Brazil          61.000000                           35.866667  ...
Canada          73.333333                           82.500000  ...

Unit                                                               Ratio  \
Indicator Self-reported health Voter turnout Water quality Homicide rate
Country
Australia                87.25          91.0     92.666667      1.100000
Austria                  70.60          80.0     92.000000      0.466667
Belgium                  73.60          89.0     83.666667      1.033333
Brazil                     NaN          79.0     73.000000     27.000000
Canada                   87.80          68.0     91.000000      1.266667

Unit                                                      US Dollar  \
Indicator Rooms per person Household net adjusted disposable income
Country
Australia              NaN                                  32759.0
Austria                1.6                                  33541.0
Belgium                2.2                                  30364.0
Brazil                 NaN                                      NaN
Canada                 2.6                                  30854.0

Unit                                                       Years  \
Indicator Household net wealth Personal earnings Life expectancy
Country
Australia             427064.0           49126.0       82.500000
Austria               308325.0           50349.0       81.700000
Belgium               386006.0           49675.0       81.500000
Brazil                     NaN               NaN       74.766667
Canada                423849.0           47622.0       81.866667

Unit
Indicator Years in education
Country
Australia          20.966667
Austria            17.000000
Belgium            19.300000
Brazil             16.166667
Canada             17.333333

[5 rows x 24 columns]

In [18]:
dataset_multindex.loc[:, ('Percentage', 'Employment rate')]

Country
Australia          73.000000
Austria            72.000000
Belgium            63.333333
Brazil             61.000000
Canada             73.333333
Chile              62.666667
Colombia           67.000000
Czech Republic     73.666667
Denmark            74.000000
Estonia            74.000000
Finland            70.333333
France             65.333333
Germany            75.333333
Greece             53.333333
Hungary            68.000000
Iceland            85.666667
Ireland            67.333333
Israel             69.000000
Italy              58.000000
Japan              75.000000
Korea              66.666667
Latvia             70.000000
Lithuania          70.333333
Luxembourg         66.333333
Mexico             61.666667
Netherlands        75.666667
New Zealand        77.000000
Norway             74.000000
OECD - Total       68.000000
Poland             66.000000
Portugal           68.000000
Russia             70.333333
Slovak Republic    66.000000
Slovenia           69.333333
South Africa       43.333333
Spain              62.333333
Sweden             76.666667
Switzerland        79.666667
Turkey             51.666667
United Kingdom     75.000000
United States      70.000000
Name: (Percentage, Employment rate), dtype: float64

In [19]:
dataset_multindex.loc[:, ('Percentage', 'Housing expenditure')]

Country
Australia          20.0
Austria            21.0
Belgium            21.0
Brazil              NaN
Canada             22.0
Chile              18.0
Colombia           17.0
Czech Republic     24.0
Denmark            23.0
Estonia            17.0
Finland            23.0
France             21.0
Germany            20.0
Greece             23.0
Hungary            19.0
Iceland            24.0
Ireland            20.0
Israel              NaN
Italy              23.0
Japan              22.0
Korea              15.0
Latvia             23.0
Lithuania          19.0
Luxembourg         21.0
Mexico             20.0
Netherlands        19.0
New Zealand        26.0
Norway             17.0
OECD - Total       20.0
Poland             22.0
Portugal           21.0
Russia             18.0
Slovak Republic    23.0
Slovenia           18.0
South Africa       18.0
Spain              21.0
Sweden             19.0
Switzerland        22.0
Turkey             20.0
United Kingdom     26.0
United States      19.0
Name: (Percentage, Housing expenditure), dtype: float64

> **Pregunta**: ¬øC√≥mo puedo solicitar `Housing expenditure` como `Employment rate` al mismo tiempo?

In [20]:
dataset_multindex.loc[:, [('Percentage', 'Housing expenditure'),
                          ('Percentage', 'Employment rate')]]

Unit                     Percentage
Indicator       Housing expenditure Employment rate
Country
Australia                      20.0       73.000000
Austria                        21.0       72.000000
Belgium                        21.0       63.333333
Brazil                          NaN       61.000000
Canada                         22.0       73.333333
Chile                          18.0       62.666667
Colombia                       17.0       67.000000
Czech Republic                 24.0       73.666667
Denmark                        23.0       74.000000
Estonia                        17.0       74.000000
Finland                        23.0       70.333333
France                         21.0       65.333333
Germany                        20.0       75.333333
Greece                         23.0       53.333333
Hungary                        19.0       68.000000
Iceland                        24.0       85.666667
Ireland                        20.0       67.333333
Israel                          NaN       69.000000
Italy                          23.0       58.000000
Japan                          22.0       75.000000
Korea                          15.0       66.666667
Latvia                         23.0       70.000000
Lithuania                      19.0       70.333333
Luxembourg                     21.0       66.333333
Mexico                         20.0       61.666667
Netherlands                    19.0       75.666667
New Zealand                    26.0       77.000000
Norway                         17.0       74.000000
OECD - Total                   20.0       68.000000
Poland                         22.0       66.000000
Portugal                       21.0       68.000000
Russia                         18.0       70.333333
Slovak Republic                23.0       66.000000
Slovenia                       18.0       69.333333
South Africa                   18.0       43.333333
Spain                          21.0       62.333333
Sweden                         19.0       76.666667
Switzerland                    22.0       79.666667
Turkey                         20.0       51.666667
United Kingdom                 26.0       75.000000
United States                  19.0       70.000000

### IndexSlice

In [21]:
idx = pd.IndexSlice

dataset_multindex.loc[:, idx[
    'Percentage',
    ['Housing expenditure', 'Employees working very long hours']]]

Unit                     Percentage
Indicator       Housing expenditure Employees working very long hours
Country
Australia                      20.0                         12.840000
Austria                        21.0                          6.590000
Belgium                        21.0                          4.703333
Brazil                          NaN                          7.006667
Canada                         22.0                          3.673333
Chile                          18.0                          9.316667
Colombia                       17.0                         26.006667
Czech Republic                 24.0                          5.496667
Denmark                        23.0                          2.316667
Estonia                        17.0                          2.436667
Finland                        23.0                          3.816667
France                         21.0                          7.656667
Germany                        20.0                          4.196667
Greece                         23.0                          6.280000
Hungary                        19.0                          2.976667
Iceland                        24.0                         14.866667
Ireland                        20.0                          5.260000
Israel                          NaN                         15.273333
Italy                          23.0                          4.003333
Japan                          22.0                               NaN
Korea                          15.0                               NaN
Latvia                         23.0                          1.280000
Lithuania                      19.0                          0.546667
Luxembourg                     21.0                          3.740000
Mexico                         20.0                         27.280000
Netherlands                    19.0                          0.413333
New Zealand                    26.0                         15.036667
Norway                         17.0                          2.886667
OECD - Total                   20.0                         10.786667
Poland                         22.0                          5.823333
Portugal                       21.0                          8.340000
Russia                         18.0                          0.140000
Slovak Republic                23.0                          4.073333
Slovenia                       18.0                          4.333333
South Africa                   18.0                         17.840000
Spain                          21.0                          3.963333
Sweden                         19.0                          1.066667
Switzerland                    22.0                          0.370000
Turkey                         20.0                         31.043333
United Kingdom                 26.0                         12.123333
United States                  19.0                         10.990000

In [22]:
idx = pd.IndexSlice

dataset_multindex.loc[:, idx[
    ['Hours', 'Percentage'],
    ['Time devoted to leisure and personal care', 'Employees working very long hours', 'Housing expenditure']]]

Unit                                                Hours  \
Indicator       Time devoted to leisure and personal care
Country
Australia                                       14.350000
Austria                                         14.530000
Belgium                                         15.663333
Brazil                                                NaN
Canada                                          14.553333
Chile                                                 NaN
Colombia                                              NaN
Czech Republic                                        NaN
Denmark                                         15.873333
Estonia                                         14.886667
Finland                                         15.163333
France                                          16.336667
Germany                                         15.613333
Greece                                                NaN
Hungary                                               NaN
Iceland                                               NaN
Ireland                                               NaN
Israel                                                NaN
Italy                                           16.313333
Japan                                                 NaN
Korea                                           14.583333
Latvia                                          13.826667
Lithuania                                             NaN
Luxembourg                                            NaN
Mexico                                                NaN
Netherlands                                           NaN
New Zealand                                     14.883333
Norway                                          15.563333
OECD - Total                                    14.896667
Poland                                          14.390000
Portugal                                              NaN
Russia                                                NaN
Slovak Republic                                       NaN
Slovenia                                        14.730000
South Africa                                    14.770000
Spain                                           15.860000
Sweden                                          15.176667
Switzerland                                           NaN
Turkey                                          14.653333
United Kingdom                                  14.916667
United States                                   14.440000

Unit                                   Percentage
Indicator       Employees working very long hours Housing expenditure
Country
Australia                               12.840000                20.0
Austria                                  6.590000                21.0
Belgium                                  4.703333                21.0
Brazil                                   7.006667                 NaN
Canada                                   3.673333                22.0
Chile                                    9.316667                18.0
Colombia                                26.006667                17.0
Czech Republic                           5.496667                24.0
Denmark                                  2.316667                23.0
Estonia                                  2.436667                17.0
Finland                                  3.816667                23.0
France                                   7.656667                21.0
Germany                                  4.196667                20.0
Greece                                   6.280000                23.0
Hungary                                  2.976667                19.0
Iceland                                 14.866667                24.0
Ireland                                  5.260000                20.0
Israel                                  15.273333                 NaN
Italy                                    4.003333                23.0
Japan                                         NaN                22.0
Korea                                         NaN                15.0
Latvia                                   1.280000                23.0
Lithuania                                0.546667                19.0
Luxembourg                               3.740000                21.0
Mexico                                  27.280000                20.0
Netherlands                              0.413333                19.0
New Zealand                             15.036667                26.0
Norway                                   2.886667                17.0
OECD - Total                            10.786667                20.0
Poland                                   5.823333                22.0
Portugal                                 8.340000                21.0
Russia                                   0.140000                18.0
Slovak Republic                          4.073333                23.0
Slovenia                                 4.333333                18.0
South Africa                            17.840000                18.0
Spain                                    3.963333                21.0
Sweden                                   1.066667                19.0
Switzerland                              0.370000                22.0
Turkey                                  31.043333                20.0
United Kingdom                          12.123333                26.0
United States                           10.990000                19.0

### Descartar √çndices

In [23]:
df_multiindex = dataset_multindex.loc[:, idx[
    ['Hours', 'Percentage'],
    ['Time devoted to leisure and personal care', 'Employees working very long hours', 'Housing expenditure']]]

df_multiindex.droplevel(level=0, axis=1)

Indicator,Time devoted to leisure and personal care,Employees working very long hours,Housing expenditure
Country,,,
Australia,14.350000,12.840000,20.0
Austria,14.530000,6.590000,21.0
Belgium,15.663333,4.703333,21.0
Brazil,NaN,7.006667,NaN
Canada,14.553333,3.673333,22.0
Chile,NaN,9.316667,18.0
Colombia,NaN,26.006667,17.0
Czech Republic,NaN,5.496667,24.0
Denmark,15.873333,2.316667,23.0
Estonia,14.886667,2.436667,17.0
Finland,15.163333,3.816667,23.0
France,16.336667,7.656667,21.0
Germany,15.613333,4.196667,20.0
Greece,NaN,6.280000,23.0
Hungary,NaN,2.976667,19.0
Iceland,NaN,14.866667,24.0
Ireland,NaN,5.260000,20.0
Israel,NaN,15.273333,NaN
Italy,16.313333,4.003333,23.0
Japan,NaN,NaN,22.0
Korea,14.583333,NaN,15.0
Latvia,13.826667,1.280000,23.0
Lithuania,NaN,0.546667,19.0
Luxembourg,NaN,3.740000,21.0
Mexico,NaN,27.280000,20.0
Netherlands,NaN,0.413333,19.0
New Zealand,14.883333,15.036667,26.0
Norway,15.563333,2.886667,17.0
OECD - Total,14.896667,10.786667,20.0
Poland,14.390000,5.823333,22.0
Portugal,NaN,8.340000,21.0
Russia,NaN,0.140000,18.0
Slovak Republic,NaN,4.073333,23.0
Slovenia,14.730000,4.333333,18.0
South Africa,14.770000,17.840000,18.0
Spain,15.860000,3.963333,21.0
Sweden,15.176667,1.066667,19.0
Switzerland,NaN,0.370000,22.0
Turkey,14.653333,31.043333,20.0
United Kingdom,14.916667,12.123333,26.0
United States,14.440000,10.990000,19.0

In [24]:
df_multiindex.droplevel(level=1, axis=1)

Unit                 Hours  Percentage  Percentage
Country
Australia        14.350000   12.840000        20.0
Austria          14.530000    6.590000        21.0
Belgium          15.663333    4.703333        21.0
Brazil                 NaN    7.006667         NaN
Canada           14.553333    3.673333        22.0
Chile                  NaN    9.316667        18.0
Colombia               NaN   26.006667        17.0
Czech Republic         NaN    5.496667        24.0
Denmark          15.873333    2.316667        23.0
Estonia          14.886667    2.436667        17.0
Finland          15.163333    3.816667        23.0
France           16.336667    7.656667        21.0
Germany          15.613333    4.196667        20.0
Greece                 NaN    6.280000        23.0
Hungary                NaN    2.976667        19.0
Iceland                NaN   14.866667        24.0
Ireland                NaN    5.260000        20.0
Israel                 NaN   15.273333         NaN
Italy            16.313333    4.003333        23.0
Japan                  NaN         NaN        22.0
Korea            14.583333         NaN        15.0
Latvia           13.826667    1.280000        23.0
Lithuania              NaN    0.546667        19.0
Luxembourg             NaN    3.740000        21.0
Mexico                 NaN   27.280000        20.0
Netherlands            NaN    0.413333        19.0
New Zealand      14.883333   15.036667        26.0
Norway           15.563333    2.886667        17.0
OECD - Total     14.896667   10.786667        20.0
Poland           14.390000    5.823333        22.0
Portugal               NaN    8.340000        21.0
Russia                 NaN    0.140000        18.0
Slovak Republic        NaN    4.073333        23.0
Slovenia         14.730000    4.333333        18.0
South Africa     14.770000   17.840000        18.0
Spain            15.860000    3.963333        21.0
Sweden           15.176667    1.066667        19.0
Switzerland            NaN    0.370000        22.0
Turkey           14.653333   31.043333        20.0
United Kingdom   14.916667   12.123333        26.0
United States    14.440000   10.990000        19.0

## Strings

Es com√∫n que los datasets incluyan por lo menos una columna que contiene texto. Por lo general, el texto no es utilizable tal como viene (desordenado y sucio) por lo que preprocesarlo antes de utilizarlo es una tarea que se debe dominar.

Las `Series` de pandas implementan diversos m√©todos de procesamiento de string que permiten operar facilmente con estos. Por lo general, estos m√©todos son una r√©plica de los m√©todos originales de la clase built-in `string`.

<img src='./resources/pets.jpg' alt='Mascotas' width=400/>

In [25]:
mascotas = [
    ('Perro',
     'El perro (Canis familiaris o Canis lupus familiaris, dependiendo de si se lo considera una especie por derecho propio o una subespecie del lobo),1‚Äã2‚Äã3‚Äã llamado perro dom√©stico o can,4‚Äã y en algunos lugares coloquialmente llamado chucho,5‚Äã tuso,6‚Äã choco,7‚Äã entre otros; es un mam√≠fero carn√≠voro de la familia de los c√°nidos, que constituye una especie del g√©nero Canis.8‚Äã9‚Äã En el 2013, la poblaci√≥n mundial estimada de perros estaba entre setecientos millones y novecientos ochenta y siete millones.10‚Äã11‚Äã Su tama√±o (o talla), su forma y su pelaje es muy diverso, seg√∫n la raza. Posee un o√≠do y un olfato muy desarrollados, y este √∫ltimo es su principal √≥rgano sensorial. Su longevidad media es de diez a trece a√±os,12‚Äã13‚Äã14‚Äã dependiendo de la raza. '
     ),
    ('Gato',
     'El gato dom√©stico1‚Äã2‚Äã (Felis silvestris catus), llamado popularmente gato, y de forma coloquial minino,3‚Äã michino,4‚Äã michi,5‚Äã micho,6‚Äã mizo,7‚Äã miz,8‚Äã morro√±o9‚Äã o morrongo,10‚Äã entre otros nombres, es un mam√≠fero carn√≠voro de la familia Felidae. Es una subespecie domesticada por la convivencia con el ser humano. '
     ),
]
mascotas_df = pd.DataFrame(mascotas, columns=['nombre', 'descripci√≥n'])
mascotas_df

,nombre,descripci√≥n
0,Perro,"El perro (Canis familiaris o Canis lupus familiaris, dependiendo de si se lo considera una especie por derecho propio o una subespecie del lobo),1‚Äã2‚Äã3‚Äã llamado perro dom√©stico o can,4‚Äã y en algunos lugares coloquialmente llamado chucho,5‚Äã tuso,6‚Äã choco,7‚Äã entre otros; es un mam√≠fero carn√≠voro de la familia de los c√°nidos, que constituye una especie del g√©nero Canis.8‚Äã9‚Äã En el 2013, la poblaci√≥n mundial estimada de perros estaba entre setecientos millones y novecientos ochenta y siete millones.10‚Äã11‚Äã Su tama√±o (o talla), su forma y su pelaje es muy diverso, seg√∫n la raza. Posee un o√≠do y un olfato muy desarrollados, y este √∫ltimo es su principal √≥rgano sensorial. Su longevidad media es de diez a trece a√±os,12‚Äã13‚Äã14‚Äã dependiendo de la raza."
1,Gato,"El gato dom√©stico1‚Äã2‚Äã (Felis silvestris catus), llamado popularmente gato, y de forma coloquial minino,3‚Äã michino,4‚Äã michi,5‚Äã micho,6‚Äã mizo,7‚Äã miz,8‚Äã morro√±o9‚Äã o morrongo,10‚Äã entre otros nombres, es un mam√≠fero carn√≠voro de la familia Felidae. Es una subespecie domesticada por la convivencia con el ser humano."

In [26]:
desc_perro = mascotas[0][1]
desc_perro

'El perro (Canis familiaris o Canis lupus familiaris, dependiendo de si se lo considera una especie por derecho propio o una subespecie del lobo),1\u200b2\u200b3\u200b llamado perro dom√©stico o can,4\u200b y en algunos lugares coloquialmente llamado chucho,5\u200b tuso,6\u200b choco,7\u200b entre otros; es un mam√≠fero carn√≠voro de la familia de los c√°nidos, que constituye una especie del g√©nero Canis.8\u200b9\u200b En el 2013, la poblaci√≥n mundial estimada de perros estaba entre setecientos millones y novecientos ochenta y siete millones.10\u200b11\u200b Su tama√±o (o talla), su forma y su pelaje es muy diverso, seg√∫n la raza. Posee un o√≠do y un olfato muy desarrollados, y este √∫ltimo es su principal √≥rgano sensorial. Su longevidad media es de diez a trece a√±os,12\u200b13\u200b14\u200b dependiendo de la raza. '

### M√©todos de la Clase String

Como se dijo anteriormente, la mayor√≠a de los m√©todos para string que implementa pandas sobre las `Series` son una r√©plica de los m√©todos implementados por la clase `String`. 

A continuaci√≥n veremos un par de ejemplos de los m√©todos de strings y como utilizar estos m√©todos sobre una serie.

In [27]:
len(desc_perro)

749

In [28]:
desc_perro.lower()

'el perro (canis familiaris o canis lupus familiaris, dependiendo de si se lo considera una especie por derecho propio o una subespecie del lobo),1\u200b2\u200b3\u200b llamado perro dom√©stico o can,4\u200b y en algunos lugares coloquialmente llamado chucho,5\u200b tuso,6\u200b choco,7\u200b entre otros; es un mam√≠fero carn√≠voro de la familia de los c√°nidos, que constituye una especie del g√©nero canis.8\u200b9\u200b en el 2013, la poblaci√≥n mundial estimada de perros estaba entre setecientos millones y novecientos ochenta y siete millones.10\u200b11\u200b su tama√±o (o talla), su forma y su pelaje es muy diverso, seg√∫n la raza. posee un o√≠do y un olfato muy desarrollados, y este √∫ltimo es su principal √≥rgano sensorial. su longevidad media es de diez a trece a√±os,12\u200b13\u200b14\u200b dependiendo de la raza. '

In [29]:
desc_perro.upper()

'EL PERRO (CANIS FAMILIARIS O CANIS LUPUS FAMILIARIS, DEPENDIENDO DE SI SE LO CONSIDERA UNA ESPECIE POR DERECHO PROPIO O UNA SUBESPECIE DEL LOBO),1\u200b2\u200b3\u200b LLAMADO PERRO DOM√âSTICO O CAN,4\u200b Y EN ALGUNOS LUGARES COLOQUIALMENTE LLAMADO CHUCHO,5\u200b TUSO,6\u200b CHOCO,7\u200b ENTRE OTROS; ES UN MAM√çFERO CARN√çVORO DE LA FAMILIA DE LOS C√ÅNIDOS, QUE CONSTITUYE UNA ESPECIE DEL G√âNERO CANIS.8\u200b9\u200b EN EL 2013, LA POBLACI√ìN MUNDIAL ESTIMADA DE PERROS ESTABA ENTRE SETECIENTOS MILLONES Y NOVECIENTOS OCHENTA Y SIETE MILLONES.10\u200b11\u200b SU TAMA√ëO (O TALLA), SU FORMA Y SU PELAJE ES MUY DIVERSO, SEG√öN LA RAZA. POSEE UN O√çDO Y UN OLFATO MUY DESARROLLADOS, Y ESTE √öLTIMO ES SU PRINCIPAL √ìRGANO SENSORIAL. SU LONGEVIDAD MEDIA ES DE DIEZ A TRECE A√ëOS,12\u200b13\u200b14\u200b DEPENDIENDO DE LA RAZA. '

In [30]:
desc_perro.title()

'El Perro (Canis Familiaris O Canis Lupus Familiaris, Dependiendo De Si Se Lo Considera Una Especie Por Derecho Propio O Una Subespecie Del Lobo),1\u200b2\u200b3\u200b Llamado Perro Dom√©stico O Can,4\u200b Y En Algunos Lugares Coloquialmente Llamado Chucho,5\u200b Tuso,6\u200b Choco,7\u200b Entre Otros; Es Un Mam√≠fero Carn√≠voro De La Familia De Los C√°nidos, Que Constituye Una Especie Del G√©nero Canis.8\u200b9\u200b En El 2013, La Poblaci√≥n Mundial Estimada De Perros Estaba Entre Setecientos Millones Y Novecientos Ochenta Y Siete Millones.10\u200b11\u200b Su Tama√±o (O Talla), Su Forma Y Su Pelaje Es Muy Diverso, Seg√∫n La Raza. Posee Un O√≠do Y Un Olfato Muy Desarrollados, Y Este √öltimo Es Su Principal √ìrgano Sensorial. Su Longevidad Media Es De Diez A Trece A√±os,12\u200b13\u200b14\u200b Dependiendo De La Raza. '

In [31]:
desc_perro.split(' ')

['El',
 'perro',
 '(Canis',
 'familiaris',
 'o',
 'Canis',
 'lupus',
 'familiaris,',
 'dependiendo',
 'de',
 'si',
 'se',
 'lo',
 'considera',
 'una',
 'especie',
 'por',
 'derecho',
 'propio',
 'o',
 'una',
 'subespecie',
 'del',
 'lobo),1\u200b2\u200b3\u200b',
 'llamado',
 'perro',
 'dom√©stico',
 'o',
 'can,4\u200b',
 'y',
 'en',
 'algunos',
 'lugares',
 'coloquialmente',
 'llamado',
 'chucho,5\u200b',
 'tuso,6\u200b',
 'choco,7\u200b',
 'entre',
 'otros;',
 'es',
 'un',
 'mam√≠fero',
 'carn√≠voro',
 'de',
 'la',
 'familia',
 'de',
 'los',
 'c√°nidos,',
 'que',
 'constituye',
 'una',
 'especie',
 'del',
 'g√©nero',
 'Canis.8\u200b9\u200b',
 'En',
 'el',
 '2013,',
 'la',
 'poblaci√≥n',
 'mundial',
 'estimada',
 'de',
 'perros',
 'estaba',
 'entre',
 'setecientos',
 'millones',
 'y',
 'novecientos',
 'ochenta',
 'y',
 'siete',
 'millones.10\u200b11\u200b',
 'Su',
 'tama√±o',
 '(o',
 'talla),',
 'su',
 'forma',
 'y',
 'su',
 'pelaje',
 'es',
 'muy',
 'diverso,',
 'seg√∫n',
 'la',
 'raza.',
 'Posee',
 'un',
 'o√≠do',
 'y',
 'un',
 'olfato',
 'muy',
 'desarrollados,',
 'y',
 'este',
 '√∫ltimo',
 'es',
 'su',
 'principal',
 '√≥rgano',
 'sensorial.',
 'Su',
 'longevidad',
 'media',
 'es',
 'de',
 'diez',
 'a',
 'trece',
 'a√±os,12\u200b13\u200b14\u200b',
 'dependiendo',
 'de',
 'la',
 'raza.',
 '']

In [32]:
'-'.join(['Este', 'string', '(ya no)', 'esta', 'separado'])

'Este-string-(ya no)-esta-separado'

In [33]:
'perro' in desc_perro

True

In [34]:
'gato' in desc_perro

False

### Strings En Las Series

In [35]:
mascotas_df['descripci√≥n']

0    El perro (Canis familiaris o Canis lupus familiaris, dependiendo de si se lo considera una especie por derecho propio o una subespecie del lobo),1‚Äã2‚Äã3‚Äã llamado perro dom√©stico o can,4‚Äã y en algunos lugares coloquialmente llamado chucho,5‚Äã tuso,6‚Äã choco,7‚Äã entre otros; es un mam√≠fero carn√≠voro de la familia de los c√°nidos, que constituye una especie del g√©nero Canis.8‚Äã9‚Äã En el 2013, la poblaci√≥n mundial estimada de perros estaba entre setecientos millones y novecientos ochenta y siete millones.10‚Äã11‚Äã Su tama√±o (o talla), su forma y su pelaje es muy diverso, seg√∫n la raza. Posee un o√≠do y un olfato muy desarrollados, y este √∫ltimo es su principal √≥rgano sensorial. Su longevidad media es de diez a trece a√±os,12‚Äã13‚Äã14‚Äã dependiendo de la raza.
1                                                                                                                                                                                                                                                                                                                                                                                                                                                         El gato dom√©stico1‚Äã2‚Äã (Felis silvestris catus), llamado popularmente gato, y de forma coloquial minino,3‚Äã michino,4‚Äã michi,5‚Äã micho,6‚Äã mizo,7‚Äã miz,8‚Äã morro√±o9‚Äã o morrongo,10‚Äã entre otros nombres, es un mam√≠fero carn√≠voro de la familia Felidae. Es una subespecie domesticada por la convivencia con el ser humano.
Name: descripci√≥n, dtype: object

#### Len, Lower, Upper, Title y Capitalize

In [36]:
mascotas_df['descripci√≥n'].str.len()

0    749
1    312
Name: descripci√≥n, dtype: int64

In [37]:
mascotas_df['descripci√≥n'].str.lower()

0    el perro (canis familiaris o canis lupus familiaris, dependiendo de si se lo considera una especie por derecho propio o una subespecie del lobo),1‚Äã2‚Äã3‚Äã llamado perro dom√©stico o can,4‚Äã y en algunos lugares coloquialmente llamado chucho,5‚Äã tuso,6‚Äã choco,7‚Äã entre otros; es un mam√≠fero carn√≠voro de la familia de los c√°nidos, que constituye una especie del g√©nero canis.8‚Äã9‚Äã en el 2013, la poblaci√≥n mundial estimada de perros estaba entre setecientos millones y novecientos ochenta y siete millones.10‚Äã11‚Äã su tama√±o (o talla), su forma y su pelaje es muy diverso, seg√∫n la raza. posee un o√≠do y un olfato muy desarrollados, y este √∫ltimo es su principal √≥rgano sensorial. su longevidad media es de diez a trece a√±os,12‚Äã13‚Äã14‚Äã dependiendo de la raza.
1                                                                                                                                                                                                                                                                                                                                                                                                                                                         el gato dom√©stico1‚Äã2‚Äã (felis silvestris catus), llamado popularmente gato, y de forma coloquial minino,3‚Äã michino,4‚Äã michi,5‚Äã micho,6‚Äã mizo,7‚Äã miz,8‚Äã morro√±o9‚Äã o morrongo,10‚Äã entre otros nombres, es un mam√≠fero carn√≠voro de la familia felidae. es una subespecie domesticada por la convivencia con el ser humano.
Name: descripci√≥n, dtype: object

In [38]:
mascotas_df['descripci√≥n'].str.upper()

0    EL PERRO (CANIS FAMILIARIS O CANIS LUPUS FAMILIARIS, DEPENDIENDO DE SI SE LO CONSIDERA UNA ESPECIE POR DERECHO PROPIO O UNA SUBESPECIE DEL LOBO),1‚Äã2‚Äã3‚Äã LLAMADO PERRO DOM√âSTICO O CAN,4‚Äã Y EN ALGUNOS LUGARES COLOQUIALMENTE LLAMADO CHUCHO,5‚Äã TUSO,6‚Äã CHOCO,7‚Äã ENTRE OTROS; ES UN MAM√çFERO CARN√çVORO DE LA FAMILIA DE LOS C√ÅNIDOS, QUE CONSTITUYE UNA ESPECIE DEL G√âNERO CANIS.8‚Äã9‚Äã EN EL 2013, LA POBLACI√ìN MUNDIAL ESTIMADA DE PERROS ESTABA ENTRE SETECIENTOS MILLONES Y NOVECIENTOS OCHENTA Y SIETE MILLONES.10‚Äã11‚Äã SU TAMA√ëO (O TALLA), SU FORMA Y SU PELAJE ES MUY DIVERSO, SEG√öN LA RAZA. POSEE UN O√çDO Y UN OLFATO MUY DESARROLLADOS, Y ESTE √öLTIMO ES SU PRINCIPAL √ìRGANO SENSORIAL. SU LONGEVIDAD MEDIA ES DE DIEZ A TRECE A√ëOS,12‚Äã13‚Äã14‚Äã DEPENDIENDO DE LA RAZA.
1                                                                                                                                                                                                                                                                                                                                                                                                                                                         EL GATO DOM√âSTICO1‚Äã2‚Äã (FELIS SILVESTRIS CATUS), LLAMADO POPULARMENTE GATO, Y DE FORMA COLOQUIAL MININO,3‚Äã MICHINO,4‚Äã MICHI,5‚Äã MICHO,6‚Äã MIZO,7‚Äã MIZ,8‚Äã MORRO√ëO9‚Äã O MORRONGO,10‚Äã ENTRE OTROS NOMBRES, ES UN MAM√çFERO CARN√çVORO DE LA FAMILIA FELIDAE. ES UNA SUBESPECIE DOMESTICADA POR LA CONVIVENCIA CON EL SER HUMANO.
Name: descripci√≥n, dtype: object

In [39]:
mascotas_df['descripci√≥n'].str.title()

0    El Perro (Canis Familiaris O Canis Lupus Familiaris, Dependiendo De Si Se Lo Considera Una Especie Por Derecho Propio O Una Subespecie Del Lobo),1‚Äã2‚Äã3‚Äã Llamado Perro Dom√©stico O Can,4‚Äã Y En Algunos Lugares Coloquialmente Llamado Chucho,5‚Äã Tuso,6‚Äã Choco,7‚Äã Entre Otros; Es Un Mam√≠fero Carn√≠voro De La Familia De Los C√°nidos, Que Constituye Una Especie Del G√©nero Canis.8‚Äã9‚Äã En El 2013, La Poblaci√≥n Mundial Estimada De Perros Estaba Entre Setecientos Millones Y Novecientos Ochenta Y Siete Millones.10‚Äã11‚Äã Su Tama√±o (O Talla), Su Forma Y Su Pelaje Es Muy Diverso, Seg√∫n La Raza. Posee Un O√≠do Y Un Olfato Muy Desarrollados, Y Este √öltimo Es Su Principal √ìrgano Sensorial. Su Longevidad Media Es De Diez A Trece A√±os,12‚Äã13‚Äã14‚Äã Dependiendo De La Raza.
1                                                                                                                                                                                                                                                                                                                                                                                                                                                         El Gato Dom√©stico1‚Äã2‚Äã (Felis Silvestris Catus), Llamado Popularmente Gato, Y De Forma Coloquial Minino,3‚Äã Michino,4‚Äã Michi,5‚Äã Micho,6‚Äã Mizo,7‚Äã Miz,8‚Äã Morro√±o9‚Äã O Morrongo,10‚Äã Entre Otros Nombres, Es Un Mam√≠fero Carn√≠voro De La Familia Felidae. Es Una Subespecie Domesticada Por La Convivencia Con El Ser Humano.
Name: descripci√≥n, dtype: object

In [40]:
mascotas_df['descripci√≥n'].str.capitalize()

0    El perro (canis familiaris o canis lupus familiaris, dependiendo de si se lo considera una especie por derecho propio o una subespecie del lobo),1‚Äã2‚Äã3‚Äã llamado perro dom√©stico o can,4‚Äã y en algunos lugares coloquialmente llamado chucho,5‚Äã tuso,6‚Äã choco,7‚Äã entre otros; es un mam√≠fero carn√≠voro de la familia de los c√°nidos, que constituye una especie del g√©nero canis.8‚Äã9‚Äã en el 2013, la poblaci√≥n mundial estimada de perros estaba entre setecientos millones y novecientos ochenta y siete millones.10‚Äã11‚Äã su tama√±o (o talla), su forma y su pelaje es muy diverso, seg√∫n la raza. posee un o√≠do y un olfato muy desarrollados, y este √∫ltimo es su principal √≥rgano sensorial. su longevidad media es de diez a trece a√±os,12‚Äã13‚Äã14‚Äã dependiendo de la raza.
1                                                                                                                                                                                                                                                                                                                                                                                                                                                         El gato dom√©stico1‚Äã2‚Äã (felis silvestris catus), llamado popularmente gato, y de forma coloquial minino,3‚Äã michino,4‚Äã michi,5‚Äã micho,6‚Äã mizo,7‚Äã miz,8‚Äã morro√±o9‚Äã o morrongo,10‚Äã entre otros nombres, es un mam√≠fero carn√≠voro de la familia felidae. es una subespecie domesticada por la convivencia con el ser humano.
Name: descripci√≥n, dtype: object

#### Contains, Split y Join

In [41]:
mascotas_df['descripci√≥n'].str.contains('perro')

0     True
1    False
Name: descripci√≥n, dtype: bool

In [42]:
mascotas_df['descripci√≥n'].str.contains('gato')

0    False
1     True
Name: descripci√≥n, dtype: bool

In [43]:
mascotas_df['descripci√≥n'].str.split(' ')

0    [El, perro, (Canis, familiaris, o, Canis, lupus, familiaris,, dependiendo, de, si, se, lo, considera, una, especie, por, derecho, propio, o, una, subespecie, del, lobo),1‚Äã2‚Äã3‚Äã, llamado, perro, dom√©stico, o, can,4‚Äã, y, en, algunos, lugares, coloquialmente, llamado, chucho,5‚Äã, tuso,6‚Äã, choco,7‚Äã, entre, otros;, es, un, mam√≠fero, carn√≠voro, de, la, familia, de, los, c√°nidos,, que, constituye, una, especie, del, g√©nero, Canis.8‚Äã9‚Äã, En, el, 2013,, la, poblaci√≥n, mundial, estimada, de, perros, estaba, entre, setecientos, millones, y, novecientos, ochenta, y, siete, millones.10‚Äã11‚Äã, Su, tama√±o, (o, talla),, su, forma, y, su, pelaje, es, muy, diverso,, seg√∫n, la, raza., Posee, un, o√≠do, y, un, olfato, muy, desarrollados,, y, ...]
1                                                                                                                                                                                                                                                                                                                                                                                        [El, gato, dom√©stico1‚Äã2‚Äã, (Felis, silvestris, catus),, llamado, popularmente, gato,, y, de, forma, coloquial, minino,3‚Äã, michino,4‚Äã, michi,5‚Äã, micho,6‚Äã, mizo,7‚Äã, miz,8‚Äã, morro√±o9‚Äã, o, morrongo,10‚Äã, entre, otros, nombres,, es, un, mam√≠fero, carn√≠voro, de, la, familia, Felidae., Es, una, subespecie, domesticada, por, la, convivencia, con, el, ser, humano., ]
Name: descripci√≥n, dtype: object

In [44]:
mascotas_df['descripci√≥n'].str.split(' ').str.join('|')

0    El|perro|(Canis|familiaris|o|Canis|lupus|familiaris,|dependiendo|de|si|se|lo|considera|una|especie|por|derecho|propio|o|una|subespecie|del|lobo),1‚Äã2‚Äã3‚Äã|llamado|perro|dom√©stico|o|can,4‚Äã|y|en|algunos|lugares|coloquialmente|llamado|chucho,5‚Äã|tuso,6‚Äã|choco,7‚Äã|entre|otros;|es|un|mam√≠fero|carn√≠voro|de|la|familia|de|los|c√°nidos,|que|constituye|una|especie|del|g√©nero|Canis.8‚Äã9‚Äã|En|el|2013,|la|poblaci√≥n|mundial|estimada|de|perros|estaba|entre|setecientos|millones|y|novecientos|ochenta|y|siete|millones.10‚Äã11‚Äã|Su|tama√±o|(o|talla),|su|forma|y|su|pelaje|es|muy|diverso,|seg√∫n|la|raza.|Posee|un|o√≠do|y|un|olfato|muy|desarrollados,|y|este|√∫ltimo|es|su|principal|√≥rgano|sensorial.|Su|longevidad|media|es|de|diez|a|trece|a√±os,12‚Äã13‚Äã14‚Äã|dependiendo|de|la|raza.|
1                                                                                                                                                                                                                                                                                                                                                                                                                                                         El|gato|dom√©stico1‚Äã2‚Äã|(Felis|silvestris|catus),|llamado|popularmente|gato,|y|de|forma|coloquial|minino,3‚Äã|michino,4‚Äã|michi,5‚Äã|micho,6‚Äã|mizo,7‚Äã|miz,8‚Äã|morro√±o9‚Äã|o|morrongo,10‚Äã|entre|otros|nombres,|es|un|mam√≠fero|carn√≠voro|de|la|familia|Felidae.|Es|una|subespecie|domesticada|por|la|convivencia|con|el|ser|humano.|
Name: descripci√≥n, dtype: object

#### Replace

In [45]:
mascotas_df['descripci√≥n'].str.replace('(', '', regex=False).str.replace(
    ')', '', regex=False)

0    El perro Canis familiaris o Canis lupus familiaris, dependiendo de si se lo considera una especie por derecho propio o una subespecie del lobo,1‚Äã2‚Äã3‚Äã llamado perro dom√©stico o can,4‚Äã y en algunos lugares coloquialmente llamado chucho,5‚Äã tuso,6‚Äã choco,7‚Äã entre otros; es un mam√≠fero carn√≠voro de la familia de los c√°nidos, que constituye una especie del g√©nero Canis.8‚Äã9‚Äã En el 2013, la poblaci√≥n mundial estimada de perros estaba entre setecientos millones y novecientos ochenta y siete millones.10‚Äã11‚Äã Su tama√±o o talla, su forma y su pelaje es muy diverso, seg√∫n la raza. Posee un o√≠do y un olfato muy desarrollados, y este √∫ltimo es su principal √≥rgano sensorial. Su longevidad media es de diez a trece a√±os,12‚Äã13‚Äã14‚Äã dependiendo de la raza.
1                                                                                                                                                                                                                                                                                                                                                                                                                                                       El gato dom√©stico1‚Äã2‚Äã Felis silvestris catus, llamado popularmente gato, y de forma coloquial minino,3‚Äã michino,4‚Äã michi,5‚Äã micho,6‚Äã mizo,7‚Äã miz,8‚Äã morro√±o9‚Äã o morrongo,10‚Äã entre otros nombres, es un mam√≠fero carn√≠voro de la familia Felidae. Es una subespecie domesticada por la convivencia con el ser humano.
Name: descripci√≥n, dtype: object

##### Expresiones Regulares

> Seg√∫n [`re` de `python`](https://docs.python.org/3/library/re.html): *A regular expression (or RE) specifies a set of strings that matches it; the functions in this module let you check if a particular string matches a given regular expression (or if a given regular expression matches a particular string, which comes down to the same thing).*


- https://www.programiz.com/python-programming/regex

- https://regex101.com/

In [46]:
mascotas_df['descripci√≥n'].str.replace('\(|\)|,', ' ', regex=True)

0    El perro  Canis familiaris o Canis lupus familiaris  dependiendo de si se lo considera una especie por derecho propio o una subespecie del lobo  1‚Äã2‚Äã3‚Äã llamado perro dom√©stico o can 4‚Äã y en algunos lugares coloquialmente llamado chucho 5‚Äã tuso 6‚Äã choco 7‚Äã entre otros; es un mam√≠fero carn√≠voro de la familia de los c√°nidos  que constituye una especie del g√©nero Canis.8‚Äã9‚Äã En el 2013  la poblaci√≥n mundial estimada de perros estaba entre setecientos millones y novecientos ochenta y siete millones.10‚Äã11‚Äã Su tama√±o  o talla   su forma y su pelaje es muy diverso  seg√∫n la raza. Posee un o√≠do y un olfato muy desarrollados  y este √∫ltimo es su principal √≥rgano sensorial. Su longevidad media es de diez a trece a√±os 12‚Äã13‚Äã14‚Äã dependiendo de la raza.
1                                                                                                                                                                                                                                                                                                                                                                                                                                                         El gato dom√©stico1‚Äã2‚Äã  Felis silvestris catus   llamado popularmente gato  y de forma coloquial minino 3‚Äã michino 4‚Äã michi 5‚Äã micho 6‚Äã mizo 7‚Äã miz 8‚Äã morro√±o9‚Äã o morrongo 10‚Äã entre otros nombres  es un mam√≠fero carn√≠voro de la familia Felidae. Es una subespecie domesticada por la convivencia con el ser humano.
Name: descripci√≥n, dtype: object

In [47]:
mascotas_df['descripci√≥n'].str.replace('\d{1,3}', '', regex=True)

0    El perro (Canis familiaris o Canis lupus familiaris, dependiendo de si se lo considera una especie por derecho propio o una subespecie del lobo),‚Äã‚Äã‚Äã llamado perro dom√©stico o can,‚Äã y en algunos lugares coloquialmente llamado chucho,‚Äã tuso,‚Äã choco,‚Äã entre otros; es un mam√≠fero carn√≠voro de la familia de los c√°nidos, que constituye una especie del g√©nero Canis.‚Äã‚Äã En el , la poblaci√≥n mundial estimada de perros estaba entre setecientos millones y novecientos ochenta y siete millones.‚Äã‚Äã Su tama√±o (o talla), su forma y su pelaje es muy diverso, seg√∫n la raza. Posee un o√≠do y un olfato muy desarrollados, y este √∫ltimo es su principal √≥rgano sensorial. Su longevidad media es de diez a trece a√±os,‚Äã‚Äã‚Äã dependiendo de la raza.
1                                                                                                                                                                                                                                                                                                                                                                                                                                             El gato dom√©stico‚Äã‚Äã (Felis silvestris catus), llamado popularmente gato, y de forma coloquial minino,‚Äã michino,‚Äã michi,‚Äã micho,‚Äã mizo,‚Äã miz,‚Äã morro√±o‚Äã o morrongo,‚Äã entre otros nombres, es un mam√≠fero carn√≠voro de la familia Felidae. Es una subespecie domesticada por la convivencia con el ser humano.
Name: descripci√≥n, dtype: object

### Apply

Aplica una funci√≥n sobre una serie (o sobre las filas o columnas de un DataFrame)

In [48]:
mascotas_df['descripci√≥n'].apply(lambda x: 'gato' in x)

0    False
1     True
Name: descripci√≥n, dtype: bool

In [49]:
import unicodedata

def strip_accents_ascii(s):
    """Transform accentuated unicode symbols into ascii or nothing
    Warning: this solution is only suited for languages that have a direct
    transliteration to ASCII symbols.
    See also
    --------
    strip_accents_unicode
        Remove accentuated char for any unicode symbol.
    """
    nkfd_form = unicodedata.normalize('NFKD', s)
    return nkfd_form.encode('ASCII', 'ignore').decode('ASCII')

In [50]:
mascotas_df['descripci√≥n'].apply(strip_accents_ascii)

0    El perro (Canis familiaris o Canis lupus familiaris, dependiendo de si se lo considera una especie por derecho propio o una subespecie del lobo),123 llamado perro domestico o can,4 y en algunos lugares coloquialmente llamado chucho,5 tuso,6 choco,7 entre otros; es un mamifero carnivoro de la familia de los canidos, que constituye una especie del genero Canis.89 En el 2013, la poblacion mundial estimada de perros estaba entre setecientos millones y novecientos ochenta y siete millones.1011 Su tamano (o talla), su forma y su pelaje es muy diverso, segun la raza. Posee un oido y un olfato muy desarrollados, y este ultimo es su principal organo sensorial. Su longevidad media es de diez a trece anos,121314 dependiendo de la raza.
1                                                                                                                                                                                                                                                                                                                                                                                                                                                     El gato domestico12 (Felis silvestris catus), llamado popularmente gato, y de forma coloquial minino,3 michino,4 michi,5 micho,6 mizo,7 miz,8 morrono9 o morrongo,10 entre otros nombres, es un mamifero carnivoro de la familia Felidae. Es una subespecie domesticada por la convivencia con el ser humano.
Name: descripci√≥n, dtype: object

Aplicaci√≥n sobre DataFrames:

In [51]:
mascotas_df

,nombre,descripci√≥n
0,Perro,"El perro (Canis familiaris o Canis lupus familiaris, dependiendo de si se lo considera una especie por derecho propio o una subespecie del lobo),1‚Äã2‚Äã3‚Äã llamado perro dom√©stico o can,4‚Äã y en algunos lugares coloquialmente llamado chucho,5‚Äã tuso,6‚Äã choco,7‚Äã entre otros; es un mam√≠fero carn√≠voro de la familia de los c√°nidos, que constituye una especie del g√©nero Canis.8‚Äã9‚Äã En el 2013, la poblaci√≥n mundial estimada de perros estaba entre setecientos millones y novecientos ochenta y siete millones.10‚Äã11‚Äã Su tama√±o (o talla), su forma y su pelaje es muy diverso, seg√∫n la raza. Posee un o√≠do y un olfato muy desarrollados, y este √∫ltimo es su principal √≥rgano sensorial. Su longevidad media es de diez a trece a√±os,12‚Äã13‚Äã14‚Äã dependiendo de la raza."
1,Gato,"El gato dom√©stico1‚Äã2‚Äã (Felis silvestris catus), llamado popularmente gato, y de forma coloquial minino,3‚Äã michino,4‚Äã michi,5‚Äã micho,6‚Äã mizo,7‚Äã miz,8‚Äã morro√±o9‚Äã o morrongo,10‚Äã entre otros nombres, es un mam√≠fero carn√≠voro de la familia Felidae. Es una subespecie domesticada por la convivencia con el ser humano."

In [52]:
mascotas_df.apply(lambda x: x['nombre'] + ' - ' + x['descripci√≥n'], axis=1)

0    Perro - El perro (Canis familiaris o Canis lupus familiaris, dependiendo de si se lo considera una especie por derecho propio o una subespecie del lobo),1‚Äã2‚Äã3‚Äã llamado perro dom√©stico o can,4‚Äã y en algunos lugares coloquialmente llamado chucho,5‚Äã tuso,6‚Äã choco,7‚Äã entre otros; es un mam√≠fero carn√≠voro de la familia de los c√°nidos, que constituye una especie del g√©nero Canis.8‚Äã9‚Äã En el 2013, la poblaci√≥n mundial estimada de perros estaba entre setecientos millones y novecientos ochenta y siete millones.10‚Äã11‚Äã Su tama√±o (o talla), su forma y su pelaje es muy diverso, seg√∫n la raza. Posee un o√≠do y un olfato muy desarrollados, y este √∫ltimo es su principal √≥rgano sensorial. Su longevidad media es de diez a trece a√±os,12‚Äã13‚Äã14‚Äã dependiendo de la raza.
1                                                                                                                                                                                                                                                                                                                                                                                                                                                          Gato - El gato dom√©stico1‚Äã2‚Äã (Felis silvestris catus), llamado popularmente gato, y de forma coloquial minino,3‚Äã michino,4‚Äã michi,5‚Äã micho,6‚Äã mizo,7‚Äã miz,8‚Äã morro√±o9‚Äã o morrongo,10‚Äã entre otros nombres, es un mam√≠fero carn√≠voro de la familia Felidae. Es una subespecie domesticada por la convivencia con el ser humano.
dtype: object

In [53]:
mascotas_df.apply(lambda x: x.sum(), axis=0)

nombre                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     PerroGato
descripci√≥n    El perro (Canis familiaris o Canis lupus familiaris, dependiendo de si se lo considera una especie por derecho propio o una subespecie del lobo),1‚Äã2‚Äã3‚Äã llamado perro dom√©stico o can,4‚Äã y en algunos lugares coloquialmente llamado chucho,5‚Äã tuso,6‚Äã choco,7‚Äã entre otros; es un mam√≠fero carn√≠voro de la familia de los c√°nidos, que constituye una especie del g√©nero Canis.8‚Äã9‚Äã En el 2013, la poblaci√≥n mundial estimada de perros estaba entre setecientos millones y novecientos ochenta y siete millones.10‚Äã11‚Äã Su tama√±o (o talla), su forma y su pelaje es muy diverso, seg√∫n la raza. Posee un o√≠do y un olfato muy desarrollados, y este √∫ltimo es su principal √≥rgano sensorial. Su longevidad media es de diez a trece a√±os,12‚Äã13‚Äã14‚Äã dependiendo de la raza. El gato dom√©stico1‚Äã2‚Äã (Felis silvestris catus), llamado popularmente gato, y de forma coloquial minino,3‚Äã michino,4‚Äã michi,5‚Äã micho,6‚Äã mizo,7‚Äã miz,8‚Äã morro√±o9‚Äã o morrongo,10‚Äã entre otros nombres, es un mam√≠fero carn√≠voro de la familia Felidae. Es una subespecie domesticada por la convivencia con el ser humano.
dtype: object

#### Preprocesamiento Completo

In [54]:
desc_perro

'El perro (Canis familiaris o Canis lupus familiaris, dependiendo de si se lo considera una especie por derecho propio o una subespecie del lobo),1\u200b2\u200b3\u200b llamado perro dom√©stico o can,4\u200b y en algunos lugares coloquialmente llamado chucho,5\u200b tuso,6\u200b choco,7\u200b entre otros; es un mam√≠fero carn√≠voro de la familia de los c√°nidos, que constituye una especie del g√©nero Canis.8\u200b9\u200b En el 2013, la poblaci√≥n mundial estimada de perros estaba entre setecientos millones y novecientos ochenta y siete millones.10\u200b11\u200b Su tama√±o (o talla), su forma y su pelaje es muy diverso, seg√∫n la raza. Posee un o√≠do y un olfato muy desarrollados, y este √∫ltimo es su principal √≥rgano sensorial. Su longevidad media es de diez a trece a√±os,12\u200b13\u200b14\u200b dependiendo de la raza. '

In [55]:
(mascotas_df['descripci√≥n']
     .apply(lambda x: strip_accents_ascii(x))
     .str.replace('\(|\)|,|\d{1,3}|;|\.', ' ',regex=True)
     .str.replace(r'\s+', ' ', regex=True)
     .str.strip()
     .str.lower())

0    el perro canis familiaris o canis lupus familiaris dependiendo de si se lo considera una especie por derecho propio o una subespecie del lobo llamado perro domestico o can y en algunos lugares coloquialmente llamado chucho tuso choco entre otros es un mamifero carnivoro de la familia de los canidos que constituye una especie del genero canis en el la poblacion mundial estimada de perros estaba entre setecientos millones y novecientos ochenta y siete millones su tamano o talla su forma y su pelaje es muy diverso segun la raza posee un oido y un olfato muy desarrollados y este ultimo es su principal organo sensorial su longevidad media es de diez a trece anos dependiendo de la raza
1                                                                                                                                                                                                                                                                                                                                                                                                                                el gato domestico felis silvestris catus llamado popularmente gato y de forma coloquial minino michino michi micho mizo miz morrono o morrongo entre otros nombres es un mamifero carnivoro de la familia felidae es una subespecie domesticada por la convivencia con el ser humano
Name: descripci√≥n, dtype: object

#### Concatenaci√≥n

In [56]:
desc_limpia = (
    mascotas_df['descripci√≥n']
     .apply(lambda x: strip_accents_ascii(x))
     .str.replace('\(|\)|,|\d{1,3}|;|\.', ' ',regex=True)
     .str.replace(r'\s+', ' ', regex=True)
     .str.strip()
     .str.lower()
)

desc_limpia.str.cat(sep="|")

'el perro canis familiaris o canis lupus familiaris dependiendo de si se lo considera una especie por derecho propio o una subespecie del lobo llamado perro domestico o can y en algunos lugares coloquialmente llamado chucho tuso choco entre otros es un mamifero carnivoro de la familia de los canidos que constituye una especie del genero canis en el la poblacion mundial estimada de perros estaba entre setecientos millones y novecientos ochenta y siete millones su tamano o talla su forma y su pelaje es muy diverso segun la raza posee un oido y un olfato muy desarrollados y este ultimo es su principal organo sensorial su longevidad media es de diez a trece anos dependiendo de la raza|el gato domestico felis silvestris catus llamado popularmente gato y de forma coloquial minino michino michi micho mizo miz morrono o morrongo entre otros nombres es un mamifero carnivoro de la familia felidae es una subespecie domesticada por la convivencia con el ser humano'